[2019-06-20 07:37] czgdp1807 opened #6 "Add Segment Trees"
#### Description of the problem

Add segment trees to `pydatastructs.trees.space_partitioning_trees`.

#### Example of the problem

#### References/Other comments
Use, https://en.wikipedia.org/wiki/Segment_tree

[2019-06-20 07:37] czgdp1807 commented on #6
I am working on it.

[2019-06-20 11:35] czgdp1807 opened #7 "Add doc in the root directory"
#### Description of the problem

The `doc` folder should contain the mechanism for building the doc strings.

#### Example of the problem

#### References/Other comments
Refer, https://github.com/sympy/sympy/tree/master/doc

[2019-06-20 11:38] czgdp1807 opened #8 "Add code quality tests"
#### Description of the problem

Currently there are no tests to check the quality of the code, example each file should end with new line, there should be no trailing white space.
A good place to add code quality tests will be, `pydatastructs.utils.tests.test_code_quality`.
#### Example of the problem

#### References/Other comments
Refer, https://github.com/sympy/sympy/blob/master/sympy/utilitie

[2019-06-21 12:29] Kartikei-12 commented on #8
#### Suggested external resource, Codacy

The Code quality check can be automated with [Codacy](codacy.com), without any explicit code in the repo.

Example reference [Kartikei-12/Pyrunc/](https://github.com/Kartikei-12/Pyrunc)

[2019-06-21 12:34] czgdp1807 commented on #8
Thanks for the idea. AFAICFO, I think Codacy needs to be installed and then we need to update `.travis.yml`. Am I right?

[2019-06-21 13:09] Kartikei-12 commented on #8
No Codacy installation is not required, and provides code quality measures directly in browser, an can be configured in the same way.
You just need to login with github and turn on repo monitoring.
Also it provided badge which can be added in README

[2019-06-21 13:24] czgdp1807 commented on #8
Thanks for the clarification. I will take a look into it.

[2019-06-23 11:57] czgdp1807 opened #13 "Add Graph"
#### Description of the problem

Add abstract data type Graph in `pydatastructs.graphs.graphs`.

#### Example of the problem

#### References/Other comments
Refer, https://en.wikipedia.org/wiki/Graph_(abstract_data_type)

[2019-06-25 07:22] czgdp1807 opened #15 "Add code coverage bot"
#### Description of the problem

Currently we don't have any code coverage mechanism. Please suggest your ideas to automatically compute the code coverage of every PR.

#### Example of the problem

#### References/Other comments

[2019-06-26 07:05] #15 closed

[2019-06-26 10:32] czgdp1807 opened #19 "Track coverage"
#### Description of the problem

The coverage should be near to 100%. However, currently, it stands at 97%. Write tests for the uncovered lines, to increase the coverage.

#### Example of the problem

The uncovered lines of the code are shown in red as can seen in [this report](https://codecov.io/gh/codezonediitj/pydatastructs/src/master/pydatastructs/linear_data_structures/arrays.py). Similarly,

[2019-06-28 07:12] czgdp1807 opened #22 "Add Queue"
#### Description of the problem

Currently we use `Queue` from `collections` module. We want that this should be implemented in `pydatastructs` itself, however, without breaking the current code, i.e., the API should be similar to the one of `collections` module.

API:

1. An empty queue should be constructed by using `Queue()`.

2. New elements should be added to the end by using `.append(elem)`.

[2019-07-09 06:26] czgdp1807 opened #24 "Add Fenwick Tree"
#### Description of the problem

Fenwick trees are quite popular data structure and should be added to the package.

#### Example of the problem

#### References/Other comments
https://en.wikipedia.org/wiki/Fenwick_tree

[2019-07-09 06:27] czgdp1807 opened #25 "Add Sparse table"
#### Description of the problem

#### Example of the problem

#### References/Other comments
https://cp-algorithms.com/data_structures/sparse-table.html

[2019-07-09 07:31] czgdp1807 opened #26 "Add Order Statisitc Tree"
#### Description of the problem

#### Example of the problem

#### References/Other comments
https://en.wikipedia.org/wiki/Order_statistic_tree

[2019-10-22 14:20] czgdp1807 opened #29 "Add `__slots__` in classes"
#### Description of the problem

Refer, http://book.pythontips.com/en/latest/__slots__magic.html

#### Example of the problem

#### References/Other comments
This is issue is open for anyone to fix.

[2019-10-23 04:06] udhayacommits commented on #29
hello @czgdp1807,
I am trying this one out.
I am a newbie so please bear with me and let me know if something is off.

[2019-10-23 04:18] czgdp1807 commented on #29
Hi,

This issue is very easy to fix. You just have to check which class is not having, `__slots__` list and add the same to those classes. Note that the list should contain every attribute of the class. Take a look at `pydatastructs.linear_data_structures.arrays.DynamicOneDimensionalArray`, I have added the `__slots__` list there.

[2019-10-24 05:14] #29 closed

[2019-10-30 13:56] #26 closed

[2019-10-30 13:58] czgdp1807 commented on #19
https://github.com/codezonediitj/pydatastructs/pull/31 has decreased coverage. Please add tests for covering the missed lines of [this file](https://codecov.io/gh/codezonediitj/pydatastructs/pull/31/src/pydatastructs/trees/binary_trees.py).

[2019-10-30 15:26] czgdp1807 opened #32 "Add KD Trees"
#### Description of the problem

K dimensional trees is a quite important data structure for storing high dimensional data. This issue aims at adding the same.
The task is planned to be completed in two phases, first we will add static k-d trees and in the second phase we will add, dynamic k-d trees.

**API Design and Class Hierarchy Overview**

Static k-d trees - These trees will be built on a gi

[2019-11-18 05:26] czgdp1807 opened #34 "Replace `Node` by `TreeNode` and `GraphNode`"
#### Description of the problem

Currently we have  a generic `Node` class which basically has methods and data members for trees. However, when we will add graphs, the above `Node` class will not be compatible.
It would be better to use specific classes for, trees i.e., `TreeNode`(rename `Node` -> `TreeNode`) and a new `GraphNode`.
This issue aims at discussing the API for the latter.
#### Exampl

[2019-12-02 10:57] raajtilaksarma commented on #34
Can I take this issue? The current class `Node` in `https://github.com/codezonediitj/pydatastructs/blob/master/pydatastructs/utils/misc_util.py` is to be changed to `TreeNode` right?

[2019-12-02 11:01] czgdp1807 commented on #34
Yes. The other thing to be done is to discuss and finalise the API of `GraphNode` i.e., what data members and methods it should have. But we will do that later once `Node` is replaced by `TreeNode` across the modules.

[2019-12-02 11:37] raajtilaksarma commented on #34
Okay. On it. Can you add the KWOC label to this issue?

[2019-12-02 12:24] czgdp1807 commented on #34
Let's discuss the API for `GraphNode` now. If you have anything suggest then please comment. Refer https://github.com/codezonediitj/pydatastructs/pull/17 and https://github.com/codezonediitj/pydatastructs/issues/13

[2019-12-02 12:45] czgdp1807 opened #36 "Add Binomial Heap"
#### Description of the problem

#### Example of the problem

#### References/Other comments
https://en.wikipedia.org/wiki/Binomial_heap

[2019-12-02 12:47] czgdp1807 opened #37 "Add Fibonacci Heap"
#### Description of the problem

#### Example of the problem

#### References/Other comments
Can be done only after #36
https://en.wikipedia.org/wiki/Fibonacci_heap

[2019-12-02 15:44] raajtilaksarma commented on #34
So next we need to create a class `GraphNode` right?

[2019-12-02 15:58] czgdp1807 commented on #34
Yes but before that we need to discuss its API.

[2019-12-02 18:25] czgdp1807 opened #38 "Add binary heap"
#### Description of the problem

A new file is to be created under the `trees` directory named, `heaps.py` and in that implementation of binary heap is to be added.
Note that before making a PR first propose an API and class structure below. Once finalized, then move on to make a PR.
#### Example of the problem

#### References/Other comments
https://en.m.wikipedia.org/wiki/Binary_heap

[2019-12-03 11:20] abhstract commented on #22
Can you please assign this issue to me??also  I am new to python so I might take some time.

[2019-12-03 11:41] czgdp1807 commented on #22
You can start working on this issue. Take your time for creating a PR for this.

[2019-12-03 11:42] abhstract commented on #22
thanks

[2019-12-07 08:48] 23umesh commented on #38
I would like to work on the project(Adding Binary Heap).
Implementing by passing an array.

In the binaryHeap there will be some functions like
1. searchKey(returns bool)
2. extractMin
3. extractMax
4. decreaseKey
5. increaseKey
6. insertKey

These functions will change accoring to mode of heap.
I have some experience in python so it will take some time to understand new things in python.

[2019-12-07 16:14] czgdp1807 commented on #38
Passing an array of n inputs to the element is a good idea for implementing [this](https://en.wikipedia.org/wiki/Binary_heap#Building_a_heap).
[Heap operations](https://en.wikipedia.org/wiki/Binary_heap#Heap_operations) only consist of insert and extract, so I think we should implement only those methods for the public interface.
We can create a private method for `_max_heapify` for max-heap and `

[2019-12-07 16:36] czgdp1807 commented on #34
@raajtilaksarma Are you working on it?

[2019-12-07 16:41] czgdp1807 opened #39 "Allow using array for constructing binary trees"
#### Description of the problem

Idea of using arrays for constructing binary trees originated from https://github.com/codezonediitj/pydatastructs/issues/38#issuecomment-562864441 which uses for constructing for binary heaps.
The challenge is to make the change without breaking existing API. One approach can be using default argument like, `elements=[]` and the transformed API would look like,
[co

[2019-12-07 16:49] raajtilaksarma commented on #34
I will start tomorrow. Can you brief me on the API? By api do you mean
properties of the GraphNode like its methods and variables?

On Sat, 7 Dec 2019, 10:06 pm Gagandeep Singh, <notifications@github.com>
wrote:

[2019-12-07 16:57] czgdp1807 commented on #34
properties of the GraphNode like its methods and variables?

Yes, especially user facing methods and variables. Refer the issue and PRs, links to which I have shared in other comment.
Once you suggest your ideas, we will improve on it.

[2019-12-07 17:08] raajtilaksarma commented on #34
Cool will do so. I am checking out the wikipedia link of graphnode u shared.

On Sat, 7 Dec 2019, 10:27 pm Gagandeep Singh, <notifications@github.com>
wrote:

[2019-12-07 18:04] raajtilaksarma commented on #34
Should we have 2 classes for directed and undirected graph node?

On Sat, 7 Dec 2019, 10:37 pm Raaj Tilak Sarma, <raajtilaksarma@gmail.com>
wrote:

[2019-12-07 18:06] czgdp1807 commented on #34
I don't think because both undirected and directed graph can be represented in terms of each other. For example if we use adjacency list or adjacency matrix then both can represent generic graphs.

[2019-12-07 18:10] raajtilaksarma commented on #34
Okay

On Sat, 7 Dec 2019, 11:36 pm Gagandeep Singh, <notifications@github.com>
wrote:

[2019-12-08 07:52] npalladium commented on #8
You could also look into setting up `black` and running it on every commit with git hooks. `pre-commit` might make setting the git hook up easier.

[2019-12-08 14:34] 23umesh commented on #38
I would like to work on it, but as i am now working on C++ so it will take some time to create a final file and also your help.
As for elements, maxsize,OneDimensinalArray(from pydatastructs) or a python list and type(min/max) would do the work. Or something else needed?

[2019-12-08 14:36] czgdp1807 commented on #38
Please code the binary heap in Python 3.5.

[2019-12-09 16:28] 23umesh commented on #38
I am working on the coding part using a python [link](https://docs.python.org/3/tutorial/datastructures.html). Should I do this part using OneDimensionalArray or DynamicOneDimensionalArray.

[2019-12-11 15:32] abhstract commented on #22
For data type what are the parameters that we have to consider?

[2019-12-14 09:11] 23umesh commented on #39
This can be done by passing the array of elements and in `__new__` we can insert every element of passed array in `object.tree` , right?

[2019-12-14 18:05] czgdp1807 commented on #39
Yes we can do that. A PR would be better for explaining the solution.

[2019-12-15 07:02] czgdp1807 commented on #38
Fixed by #46

[2019-12-15 07:02] #38 closed

[2019-12-15 07:12] czgdp1807 opened #47 "Make BinaryHeap._heapify use iterative logic"
#### Description of the problem

The recently merged #46 uses recursive logic for heapifying the elements. The maximum recursion depth can cause this logic to fail. Convert that to logic an iterative one.

#### Example of the problem

#### References/Other comments

[2019-12-17 09:13] rohansingh9001 opened #49 "Add Linked Lists"
#### Description of the problem
Currently the package does not have Queues or Linked Lists.
While working with issue #22-Add Queue
It was discovered that to add a Queue which is efficient enough to perform popleft() action in O(1) time we need linked lists to implement Queues just like the collections.deque implementaion of a Queue.

Since the original goal of issue #22 was to reduce dependencies

[2019-12-17 09:15] rohansingh9001 commented on #49
I have already written the code for Double LInked LIsts I am Currently Adding Single Linked Lists
and Documentation within the code.
After this I can start working on Queue which should not take much time

[2019-12-17 09:40] czgdp1807 commented on #49
Please discuss the API first before moving on to a PR. Share your code here in the comments.

[2019-12-17 10:53] rohansingh9001 commented on #49
API for Double Linked List:

1) A Doubly linked list should be initialised with `DoubleLinkedList()`

2) Elements can be pushed at the start of the list using `.push(data)`

3) Elements can be appended at the end using `.append(data)`

4) Elements can be popped from the list at a certain index by `.pop(index)`

5) `__getitem__` and `__setitem__` support using python syntax,
eg -
 `list[1]`
` list[

[2019-12-17 10:58] rohansingh9001 commented on #49
I am facing difficulties ataching my code so I have copied the code in the comment itself.

`
#from pydatastructs.utils.misc_util import _check_type, NoneType
_check_type = lambda a, t: isinstance(a, t)
NoneType = type(None)
'''
functions from misc_util.py copied temporarily
untill the script is complete
'''

__author__ = 'rohansingh9001'

__all__ = [
    'DoublyLinkedList'
]

# A linked list node

[2019-12-17 11:00] czgdp1807 commented on #49
`appendleft` would be a better name.

What would be the amortized time complexity of this operation?

[2019-12-17 11:00] czgdp1807 commented on #49
I will comment on the code you shared just now a bit later.

[2019-12-17 11:15] rohansingh9001 commented on #49
It would have to traverse through the string so the `.pop(index)`
will take O(n) in worst case scenarios.

I cannot find any way to improve upon this without making extra arrays and increasing the memory consumed by the List. If you are aware of any methods please share any resources so I can add it.

The operations at the ends take O(1) time though.

Also should I change the `.append()` to `.appe

[2019-12-17 17:31] czgdp1807 commented on #49
The code is fine but follow the coding style of the code in current master, especially the documentation. Please read the guidelines in the read me file. The code should go in a new file under, `linear_data_structures` folder with the name, `linked_lists`.
Please use cite reliable references in the code, like wikipedia. Make separate PRs for adding each type(singly linked lists, doubly linked list

[2019-12-18 15:54] RashakDude commented on #24
@czgdp1807 Can you assign me this issue :)

[2019-12-18 15:56] RashakDude commented on #25
@czgdp1807 I would like to take this issue :)

[2019-12-18 16:05] czgdp1807 commented on #24
You can start working on this issue by proposing the API.
Please read the complete plan of action at https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects
Thanks.

[2019-12-19 11:51] czgdp1807 opened #52 "Tests using `raises` are not being asserted"
#### Description of the problem

I was observing the test files and found that tests which use `raises` are not being asserted which was due to absence of `return` statement in,
https://github.com/codezonediitj/pydatastructs/blob/8da8f36b1243a9acd0105c422baccc05831da936/pydatastructs/utils/raises_util.py#L3-L16

However with merging of https://github.com/codezonediitj/pydatastructs/pull/51 `raises

[2019-12-19 15:24] czgdp1807 commented on #36
After studying https://en.wikipedia.org/wiki/Binomial_heap I have reached to the following API and class structure to support binomail heaps,

**BinomialTreeNode**
`BinomialTreeNode` will represent the nodes in the binomial trees which are a part of heaps. They will subclass the `TreeNode`. The following will be the data members,

1. `parent` - The reference to the parent of the current node.
2. `

[2019-12-19 19:01] #47 closed

[2019-12-20 08:07] TarunTomar122 commented on #52
I can do this! Please assign it to me..

[2019-12-20 08:17] czgdp1807 commented on #52
Thanks for the interest. You can start working on it.
Please let us know if you are participating through any open source program (KWoC, amDeC).
P.S. We only assign issues to those who have write access to the repository. In other cases, any number of people can work on any issue.

[2019-12-21 06:32] #52 closed

[2019-12-21 06:53] czgdp1807 opened #56 "Remove imports from `__future__`"
#### Description of the problem

As we are not concerned with Python 2, removing the following lines,
[code]
will be less confusing for the developers.

#### Example of the problem

#### References/Other comments

[2019-12-21 10:42] czgdp1807 opened #57 "`obj = object.__new__(cls)`"
#### Description of the problem

Currently any class object is created by,
[code]
For better readability, each such line should be replaced by the abstract superclass of that class.
Something like,
[code]
For example, in `arrays.py`,  `OneDimensionalArray` is created by,
https://github.com/codezonediitj/pydatastructs/blob/9c32d4068ace96da9b953ea678b1c2fd852d141c/pydatastructs/linear_data_structure

[2019-12-21 14:21] alpeshjamgade commented on #57
hey,  i would like to work on this.

[2019-12-21 14:30] czgdp1807 commented on #57
Thanks for the interest. You can start working on it.

[2019-12-23 07:29] #56 closed

[2019-12-23 07:41] TarunTomar122 commented on #57
For all the classes that are inheriting from superclass Object this line should remain the same, Isn't it?

[2019-12-23 07:45] czgdp1807 commented on #57
@TarunTomar122 Yes, if class S is the class at the topmost level in the inheritance hierarchy then any child C below S in the hierarchy should create its objects something like,
[code]

[2019-12-23 15:19] rohansingh9001 commented on #49
Sorry for the sudden absence, due to my current location in Delhi, internet services were down due to some orders and I could not inform you before leaving for travelling. I have learned a bit about code coverage in the meantime and I will resume work on the single linked lists.

[2019-12-23 16:36] rohansingh9001 commented on #49
I have read the feedback. I will make sure to follow them in any future PRs. :)

[2019-12-25 15:07] czgdp1807 opened #62 "Add algorithms for LCA in BinaryTree."
#### Description of the problem

Refer, https://github.com/codezonediitj/pydatastructs/pull/27

#### Example of the problem

#### References/Other comments

[2019-12-26 10:38] czgdp1807 opened #64 "Use comparison by reference for bool type objects"
#### Description of the problem

Currently there are many places in the code base which use `==` and `!=` while comparing `bool` type objects.
Replace all such occurrences of `== <bool-type-object>` with `is <bool-type-object>` and `!= <bool-type-object>` with `is not <bool-type-object>`. For example, `== None` with `is None` and `!= None` with `is not None`.

#### Example of the problem

#### Ref

[2019-12-26 10:49] czgdp1807 opened #65 "Add algorithm for DeepWalk"
#### Description of the problem

Once we are done adding basic framework for Graphs, we can start thinking of adding DeepWalk algorithm.
We first need to decide the feasibility of implementation of the above algorithm.
#### Example of the problem

#### References/Other comments
[1] https://github.com/phanein/deepwalk

[2019-12-26 14:01] #64 closed

[2019-12-26 14:03] #57 closed

[2019-12-26 14:45] czgdp1807 opened #67 "Use DynamicOneDimensionalArray in ArrayStack"
#### Description of the problem

Currently we use fixed size arrays in `ArrayStack` which is nothing but wastage of memory. To reduce that problem, `DynamicOneDimensionalArray`should be used inside the methods of `ArrayStack`.

The way of using is left to the one who will fix the issue.
#### Example of the problem

#### References/Other comments

[2019-12-26 14:53] Saptashrungi commented on #67
I am willing to work on this issue. Is an Arraystack a static one dimensional array?

[2019-12-26 14:55] czgdp1807 commented on #67
Yes, currently we are using, `OneDimensionalArray` inside `ArrayStack` which needs `maxsize` to be given for creating the object.
May be, we need to make the changes with affecting the API. See the examples of `DynamicOneDimensionalArray` to understand its usage.

[2019-12-26 16:07] Saptashrungi commented on #67
I went through one of the example for dynamic array. It used ctype module and doubled the size of array when it's capacity was full.

[2019-12-26 18:21] czgdp1807 commented on #67
The `DynamicOneDimensionalArray` doesn't use any external module named `ctype`.
Yes, the size of the array is doubled everytime it becomes full to keep the amortized cost of insertion, O(1). Similarly in the case of deletion we half the size of the array when only 1/4 of the total capacity is used to keep the amortized cost of deletion, O(1).
Read more about it at the following links,
[1] http://w

[2019-12-26 18:23] czgdp1807 commented on #67
The working of `DynamicOneDimensionalArray` shouldn't be our concern while using it in `ArrayStack`. We just need to figure out how to use it's public methods i.e., `append` and `delete` in `pop` and `push`.

[2019-12-27 12:51] Saptashrungi commented on #67
I read about amortized cost. We need to use already existing methods of Arraystack in DynamicOneDimensionalArray right?

[2019-12-27 12:58] czgdp1807 commented on #67
You are thinking the opposite of what is required. We need to use the methods of `DynamicOneDimensionalArray` in `ArrayStack`.
For example in the following line, replace `OneDimensionalArray` with `DynamicOneDimensionalArray`
https://github.com/codezonediitj/pydatastructs/blob/a8e2a96d77f4ff2380163f382b7bac06b315d073/pydatastructs/miscellaneous_data_structures/stack.py#L93
Similarly in the followi

[2019-12-27 13:09] Saptashrungi commented on #67
There is no need of top because we are appending right?

[2019-12-27 13:20] czgdp1807 commented on #67
Yes, the purpose of `top` will be fulfilled by `self.items._last_pos_filled`.

The `append` function is the one defined in `DynamicOneDimensionalArray`. We are just using it in `ArrayStack` as I showed in https://github.com/codezonediitj/pydatastructs/issues/67#issuecomment-569264634

[2019-12-27 13:22] Saptashrungi commented on #67
For pop I suggest the following like the example given by you;

Current pop function:

` def pop(self):
        if self.top == 0:
            raise ValueError("Stack is already empty.")
        self.top -= 1
        r = self.items[self.top]
        self.items[self.top] = None
        return r`

Modified pop function:
 def pop(self):
        self.items.delete(-1)

#assuming the delete function disp

[2019-12-27 13:29] czgdp1807 commented on #67
May be we can use deepcopy to copy the top most element before deleting it. Something like,
[code]
What do you say?

[2019-12-27 13:31] Saptashrungi commented on #67
Why not a simple copy? Is the item having a subclass?

[2019-12-27 13:36] czgdp1807 commented on #67
We don't know what will be there in the stack. It can be anything. May be an object(in which case `deepcopy` is necessary, otherwise, a reference will be created which will be modified on deletion and at the wrong value will be returned). IMHO, we have to be generalise.
I am not sure will work in all cases, but that shouldn't be our problem as it is inbuilt, so python should take care of it.

Can

[2019-12-27 13:41] Saptashrungi commented on #67
Okay, then using deepcopy would be better. You want me to try and check pop with deepcopy right?

[2019-12-27 13:43] czgdp1807 commented on #67
Well, if `deepcopy` is the only option we have, then you can go for a PR, if there's nothing more to discuss.

[2019-12-27 13:44] Saptashrungi commented on #67
Yes because a simple copy won't clone the values of child objects.

[2019-12-27 14:02] Saptashrungi commented on #67
May be we should try this also:

''' def pop(self):
    top_element = self.items[self._last_pos_filled]
    self.items.delete(self._last_pos_filled)
    return top_element'''

[2019-12-27 14:07] czgdp1807 commented on #67
I think it would create shallow copy which will be changed on deletion. `top_element` will be a reference to `self.items[self._last_pos_filled]` which will be made `None` by `self.items.delete(self._last_pos_filled)` and hence user will always receive `None` as the return value, which we don't want.
However, you can still try that out, if that works for user defined class objects then we can go fo

[2019-12-29 08:39] czgdp1807 opened #71 "Add `.vs` files to `.gitignore`"
#### Description of the problem

`.vs` files are not ignore as can be seen in https://github.com/codezonediitj/pydatastructs/pull/66
They should be added to `.vs` files as they are automatically generated by system, probably only on Windows.

#### Example of the problem

#### References/Other comments

[2019-12-29 09:02] czgdp1807 commented on #8
We will add our own tests in the root directory.
A file, `test_code_quality.py` will have functions for testing various issues with code like trailing whitespace, no newline at the end of the file, more than one new line at the end of the line, and much more. Any new quality parameter can be tested by adding a new function for it.

[2019-12-29 09:47] npalladium commented on #8
Can you provide a list of parameters you wish to test at the moment?

[2019-12-29 09:48] czgdp1807 commented on #8
Currently, we need tests for trailing white spaces and new line issues at the end of the file.

[2019-12-29 10:08] npalladium commented on #8
These seem to be more code style tests than code quality. `black` actual fixes the EOF empty line issue and enforces consistent formatting. Afaik, while it currently doesn't fix trailing whitespaces, there is an open issue to do the same. Could you look into it even if you have a separate code quality/style test module?
Likewise using `flake8` also might be helpful.
Again, I might be speaking with

[2019-12-29 14:46] NeelavaChatterjee commented on #71
Can you assign this issue to me?

[2019-12-29 14:47] czgdp1807 commented on #71
You can start your work on this issue. Thanks

[2019-12-29 15:48] #71 closed

[2019-12-29 18:31] #8 closed

[2019-12-29 18:41] czgdp1807 opened #74 "Add information about Code quality tests in guidelines"
#### Description of the problem

After merging #72 the code quality is checked via CI, so information is required to be added in REDAME specifically under https://github.com/codezonediitj/pydatastructs#guidelines

The following points are to be added,

1. There should be no trailing white spaces in any line.
2. There should only one new line at the end of the each `.py` file.
3. Any comparison inv

[2019-12-30 11:34] #74 closed

[2019-12-30 12:15] czgdp1807 opened #76 "Add quality tests for indendation size"
#### Description of the problem

We have no tests for indendation size. PEP 8 suggests to keep it to 4 spaces. Tests should be added to `utils/test_code_quality.py` for checking this.

#### Example of the problem

#### References/Other comments

[2019-12-30 13:24] #36 closed

[2019-12-30 14:45] #67 closed

[2019-12-30 16:39] Saptashrungi commented on #37
Hey, I am interested in working on this issue. I will propose the design for the same soon.

[2019-12-30 16:43] czgdp1807 commented on #37
Let me know if you need any help.

[2020-01-01 14:45] czgdp1807 commented on #76
https://stackoverflow.com/questions/33421405/length-of-tab-character suggests that size of tab is system defined, so we will be completely banning presence of tabs and white spaces should be used instead of tabs.

[2020-01-01 14:57] #76 closed

[2020-01-01 15:08] czgdp1807 opened #79 "Incorrectness in Documentation"
#### Description of the problem

There are some places in the documentation where it is said that `Stack` to implement iterative version of recursive algorithms but in the code `Queue` is used. A fix is needed in the documentation and it should be mentioned that `Queue` is used instead of `Stack`.

The task is to search the entire documentation(which is not too large at the time of the creation of

[2020-01-05 13:29] #13 closed

[2020-01-05 13:29] #34 closed

[2020-01-13 14:29] czgdp1807 opened #82 "Add breadth first search for graphs"
#### Description of the problem

As graphs are now added to the `master` branch we can start adding graph algorithms. For a start we will move ahead with breadth first search(BFS). We look forward to add two versions of the algorithm,

1. Serial BFS: Standard BFS using FIFO queue. Open for anyone as it is pretty easy.
2. Parallel BFS: Much harder as there are various papers presenting different ve

[2020-01-13 17:10] PCOXX commented on #82
hey ,can i work on this issue?

[2020-01-13 18:23] czgdp1807 commented on #82
Hi, You can work on the serial BFS. Feel free to start the work in a PR. May be we can create a new file, `algorithms.py` in `graphs` for all the graph related algorithms.

[2020-01-16 12:38] #79 closed

[2020-01-18 14:44] nethish commented on #62
Hi! Is this open. Can I work on this?

[2020-01-18 15:00] czgdp1807 commented on #62
Hi, You can start your work on this. I would suggest to cherry pick the commit from #27

[2020-01-21 04:37] aravind-karthikeyan commented on #24
Is this still open? Can I work on this issue?

[2020-01-21 04:38] czgdp1807 commented on #24
@aravind-karthikeyan Yes. Please see my above comment and start accordingly.

[2020-02-14 13:22] #22 closed

[2020-02-14 13:30] czgdp1807 opened #90 "Customised deepcopy for pydatastructs"
#### Description of the problem

Currently `copy.deepcopy` doesn't work for classes which inherit other classes. So, to fix this we will be needing our own `deepcopy` function. It should be added in `utils.misc_util`.

#### Example of the problem

#### References/Other comments
https://github.com/codezonediitj/pydatastructs/issues/22

[2020-02-20 12:30] czgdp1807 opened #91 "Improve README.md"
#### Description of the problem

The README of the project should be updated. We need to replace, **Who are we?** and **How are we different?** with an **About** section which should contain the following words,
[code]

#### Example of the problem

#### References/Other comments

[2020-02-23 07:08] yash2189 commented on #91
Can I take this up as a contribution for gssoc'20?

[2020-02-23 09:24] UmashankarTriforce opened #94 "[Feature] Making the tool closer to other competitive languages"
This tool can have additional features that make it more closer to preferred competitive coding programming languages like C++. I would like to add the following features:
- [ ] Add datatype

[2020-02-23 09:37] czgdp1807 commented on #94
IMO, `STL` is very different from what we want to build.
Regarding the others, I  think you can start with static typing using `mypy`. It will be good to have it. May be, pick one module like `miscellaneous_data_types` and describe your approach on how will you change the APIs and the implementation in the comments below.
I am not in favor of using `Cython` as it will lead to mixing of two languag

[2020-02-23 09:40] czgdp1807 commented on #94
Let's see what others have to say, ping @codezonediitj/gssoc2020 @codezonediitj/maintainers

[2020-02-23 18:25] czgdp1807 opened #96 "Add information for Devs in README.md"
#### Description of the problem

Currently, the README.md has very little information for developers/contributors.
IMO, the following should be added after https://github.com/codezonediitj/pydatastructs#installation
[code]
#### Example of the problem

#### References/Other comments

[2020-02-23 18:26] czgdp1807 commented on #91
Hi, @yash2189
There is already a PR open for this. You can go for, https://github.com/codezonediitj/pydatastructs/issues/96.

[2020-02-24 06:14] czgdp1807 commented on #91
Resolved by #93

[2020-02-24 06:14] #91 closed

[2020-02-24 13:00] sagnik-chatterjee commented on #96
Hi , can i take up this issue ?

[2020-02-24 13:03] sagnik-chatterjee commented on #82
Hi , if this issue is not assigned , can i work on this ?

[2020-02-24 13:03] prshnt19 commented on #90
I would like to work on this issue. Is it available?

[2020-02-24 15:51] prshnt19 commented on #49
Is it resolved?

[2020-02-24 15:53] czgdp1807 commented on #90
In some cases where the object stored in the queue is of a user defined class like `Node` and its subclass' objects. Try using in segment trees.

[2020-02-24 15:57] czgdp1807 commented on #49
Only doubly linked lists are added as of writing this comment.

[2020-02-24 22:35] iamrajiv commented on #62
@czgdp1807 I would like to work on this. Is it available?

[2020-02-25 11:07] Jain-Aditya commented on #82
Hi @czgdp1807 I would, like to work on this issue. The API would simply take adjacency list as input and will return the bfs as output, as far as I understand?

[2020-02-25 11:08] czgdp1807 commented on #82
Feel free to work on the serial version of BFS. Use the `Queue` of `PyDataStructs` in your implementation.

[2020-02-25 12:26] nikochiko opened #100 "Use python's builtin abstract base classes"
#### Description of the problem
The current code creates a new abstract class, as in the example below. Python has dedicated `abc.ABC`s for abstract base classes. It would provide us more flexibility and conform better to python's standards.

#### Example of the problem
https://github.com/codezonediitj/pydatastructs/blob/master/pydatastructs/linear_data_structures/arrays.py

#### References/Other

[2020-02-25 12:29] czgdp1807 commented on #100
What will happen to if we will do this? Will there be any enhancement in code readability or software design?
Any comments @codezonediitj/gssoc2020 @codezonediitj/maintainers

[2020-02-25 12:46] nikochiko commented on #100
Yes,
for example, arrays are `Sequence`s, with the [corresponding ABCs](https://docs.python.org/3/library/collections.abc.html), we can easily check that the given array is a `Sequence` with
[code]

More importantly, the ABCs have some abstract methods, which provide a layout for the subclass. These abstract methods need to be present in the subclasses. For example, an `Iterator` ABC would have th

[2020-02-25 13:31] czgdp1807 commented on #100
So, it looks like that if you inherit an ABC then it will not allow you to instantiate a class object unless you override all the abstract methods of the base class which is kind of good but depends on the use case. If you never want to define, `__iter__` in the arrays as arrays are usually meant for traversing via indexing then inheriting a class with abstract method `__iter__` will be of no use.

[2020-02-25 17:33] UmashankarTriforce commented on #94
Alright let's align with the roadmap of this project and drop support for STL.
Well as for the part of using `Boost.Python` I think it should work out, but I guess starting the modification now would make sense because there's not much of code to rewrite. After a few stable releases, it'll become a nightmare to change the backend. So maybe we could define a template for writing code and make it no

[2020-02-25 17:34] UmashankarTriforce commented on #94
Alright let's align with the roadmap of this project and drop support for STL.
Well as for the part of using `Boost.Python` I think it should work out, but I guess starting the modification now would make sense because there's not much of code to rewrite. After a few stable releases, it'll become a nightmare to change the backend. So maybe we could define a template for writing code and make it no

[2020-02-25 17:34] UmashankarTriforce commented on #94
Alright let's align with the roadmap of this project and drop support for STL.
Well as for the part of using `Boost.Python` I think it should work out, but I guess starting the modification now would make sense because there's not much of code to rewrite. After a few stable releases, it'll become a nightmare to change the backend. So maybe we could define a template for writing code and make it no

[2020-02-25 18:37] czgdp1807 commented on #94
IMHO, including static typing would be good as it will avoid many checks using `isinstance` and will reduce unnecessary code.

[2020-02-25 18:53] czgdp1807 commented on #82
IMO, BFS should be customized enough to perform some operations related to or on the Node we visit. For example, if we want to check is there exists a path from the source node to the destination node then BFS should stop as soon as it encounters the destination node. Or may be just forming a BFS tree or storing the level of a node in the tree.
The API can be,
[code]
`operation` can be the name of

[2020-02-25 18:57] czgdp1807 commented on #82
This has given me the idea of adding `n-ary` trees as BFS is also the same kind. An issue can be opened for the same.

[2020-02-26 05:54] czgdp1807 commented on #82
Something better would be,

[code]
Inside the above function we can call the following two for different implementations of graphs,
[code]
The above will allow doing the stuff without modifying the definition of `breadth_first_search`. Let me know of any improvements.

[2020-02-26 05:57] czgdp1807 opened #101 "Add m-ary trees"
#### Description of the problem

Adding m-ary trees will be a nice idea. May be a array based(allows printing the trees) or pointer(better space utilisation) or both would be better.

#### Example of the problem

#### References/Other comments

[2020-02-26 07:40] czgdp1807 commented on #94
We are not planning to write C++ back end(design is not stable, so making changes will be difficult) right now, though a new issue specific for that purpose can be opened, which we will look at later.

[2020-02-26 14:32] prshnt19 commented on #49
Should there be a single `CircularLinkedList` or two of them- implemented using `SinglyLinkedList`
 and `DoublyLinkedList`?

The API for `CircularLinkedList` should contain basic functions (`insert`, `delete`, `displayList`)
or all the functions of `DoublyLinkedList`?

[2020-02-26 18:20] prshnt19 opened #102 "Add m-ary heap"
#### Description of the problem

Currently, the package does not have m-ary heap (a generalization of the binary heap).
#### Example of the problem

#### References/Other comments
https://www.geeksforgeeks.org/k-ary-heap/

[2020-02-26 18:54] czgdp1807 commented on #102
Please provide a more reliable reference, for example Wikipedia or research paper and discuss use cases and APIs on the basis of it.
Thanks.

[2020-02-26 19:34] iamrajiv commented on #62
@czgdp1807 I would like to work on this. Is it available?

[2020-02-26 22:06] prshnt19 commented on #102
### Reference
https://en.wikipedia.org/wiki/D-ary_heap

### Use Cases
m-ary heap when used in the implementation of priority queue allows faster decrease key operation as compared to binary heap ( O(log2n)) for binary heap vs O(logmn) for m-ary heap). Nevertheless, it causes the complexity of `extractMin()` operation to increase to O(m log mn) as compared to the complexity of O(log2n) when using b

[2020-02-27 08:52] czgdp1807 commented on #62
@nethish is working on this issue. If he gives up then feel free to take over this issue.

[2020-02-27 09:37] czgdp1807 commented on #102
The above API can be modified so that it remains along the lines of current `BinaryHeap`. See, https://github.com/codezonediitj/pydatastructs/blob/master/pydatastructs/trees/heaps.py#L17
Please provide the function/method prototype with the arguments which will be needed.
IMO, we should allow pointers based implementation instead of array based implementation as it will be really difficult to desc

[2020-02-27 14:33] UmashankarTriforce commented on #94
Okay sure let's first get started with static typing

[2020-02-27 16:18] raksha009 opened #103 "Armstrong no"
Hi! I want to add code for armstrong number in this project. Plz assign this task to me as a gssoc'20 participant.

[2020-02-27 16:20] raksha009 commented on #103
We can include code for these type of questions in folder 1D array.

[2020-02-27 16:23] raksha009 opened #104 "Adding general N dimensional arrays"
I want to add code for 2d array or matrices addition and subtraction. Plz assign this issue to me as a participant of GSSOC'20.

[2020-02-27 16:26] czgdp1807 commented on #103
Hi @raksha009
Thanks for the issue.
Our project doesn't aim to add problem specific algorithms/data structures. You can pick any one of the data structures given in the following links and propose an API for the same,

1. https://en.wikipedia.org/wiki/List_of_data_structures#Linear_data_structures
2. https://en.wikipedia.org/wiki/List_of_data_structures#Trees
3. https://en.wikipedia.org/wiki/List_

[2020-02-27 16:26] #103 closed

[2020-02-27 16:28] czgdp1807 commented on #104
Hi @raksha009
Adding 2D array seems to be a nice idea. Please come up with an API for the same. You may refer, https://en.wikipedia.org/wiki/Matrix_(mathematics)
It would be better if we can add general N dimensional arrays supported row major order internally.

[2020-02-27 16:30] czgdp1807 commented on #104
We don't assign issues but you can keep working on it and make a PR whenever the design discussions are finalised. See our plan of action at https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects

[2020-02-27 16:38] czgdp1807 commented on #104
Here's some API which you can think of improving.
There can be class `MultiDimensionalArray` with the following data members and methods,
**Data Members**
1. `_ndim` - The number of dimensions in the array.
2. `_data` - The python list which will store the data in row major order.
3. `_dtype` - The data type of the elements.

**Methods**
1. `__new__(cls, dtype=NoneType, *args, **kwargs)`
2. `__get

[2020-02-27 17:15] raksha009 commented on #104
Okk sure. I'll come up with the code asap. Plz assign me this issue.

[2020-02-27 17:19] czgdp1807 commented on #49
What about having, `SinglyCircularLinkedList` and `DoublyCircularLinkedList`?

[2020-02-28 00:51] prshnt19 commented on #49
`SinglyCircularLinkedList` and `DoublyCircularLinkedList` are fine. They can be inherited from `SinglyLinkedList` and `DoublyLinkedList` respectively.

[2020-02-28 22:30] iamrajiv commented on #24
@czgdp1807 I would like to work on this. Is it available?

[2020-03-01 04:46] ajaynair710 opened #106 "Add Cartesian tree"
#### Description of the problem

#### Example of the problem

#### References/Other comments

[2020-03-01 04:47] iamrajiv commented on #37
@czgdp1807 I would like to work on this. Is it available?

[2020-03-01 04:59] ajaynair710 opened #107 "Adding `sort` method to heaps"
#### Description of the problem

#### Example of the problem

#### References/Other comments

[2020-03-01 05:48] czgdp1807 commented on #106
Thanks.
Are you participating through GSSoC, 2020?
For further steps, please come up with an API design for Cartesian tree

[2020-03-01 05:49] czgdp1807 commented on #107
It looks like this issue is quite problem specific. Which algorithm and data structure will be used to do this task?

[2020-03-01 05:56] czgdp1807 opened #108 "Add Pairing Heap"
#### Description of the problem

#### Example of the problem

#### References/Other comments
.. [1] https://en.wikipedia.org/wiki/Pairing_heap
.. [2] https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects

[2020-03-01 05:58] ajaynair710 commented on #106
Yes, I am participating in GSSoC

[2020-03-01 05:58] czgdp1807 opened #109 "Add splay tree"
#### Description of the problem

#### Example of the problem

#### References/Other comments
.. [1] https://en.wikipedia.org/wiki/Splay_tree
.. [2] https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects

[2020-03-01 05:59] czgdp1807 opened #110 "Add red-black tree"
#### Description of the problem

#### Example of the problem

#### References/Other comments
.. [1] https://en.wikipedia.org/wiki/Red%E2%80%93black_tree
.. [2] https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects

[2020-03-01 06:00] ajaynair710 commented on #107
heap sort

[2020-03-01 06:03] czgdp1807 opened #111 "Add depth first search for graphs"
#### Description of the problem

Serial and Parallel version of depth first search are required to be added for graphs.
#### Example of the problem

#### References/Other comments
.. [1] https://en.wikipedia.org/wiki/Depth-first_search
.. [2] https://research.nvidia.com/sites/default/files/publications/nvr-2017-001.pdf

It looks like its too costly to implement parallel DFS as the algorithm is inh

[2020-03-01 06:14] czgdp1807 commented on #107
IMO, a `sort` function can be added in `BinaryHeap` for such tasks.

[2020-03-01 06:23] czgdp1807 commented on #37
@iamrajiv Yes, sure. Please come up with a design for the Fibonacci Heap. You can refer and take inspiration from https://github.com/codezonediitj/pydatastructs/issues/36#issuecomment-567534858

[2020-03-01 06:27] czgdp1807 opened #112 "Improve examples"
#### Description of the problem

In the following snippet,

https://github.com/codezonediitj/pydatastructs/blob/18524daaf177df0d1daa7fa93a8f66362487500b/pydatastructs/linear_data_structures/linked_lists.py#L39-L53

`print` has been used for showing string output, instead, `str` should have been used. Changes should be made in the above part of the code as well as such things should be checked in o

[2020-03-01 06:29] czgdp1807 commented on #112
Some classes don't have examples. This can be done in a separate PR other than one doing the above fixes.

[2020-03-01 07:09] annu12340 commented on #96
I would like to work on this issue

[2020-03-01 07:10] asaw4 commented on #111
i would like to work on this problem. please assign me this problem

[2020-03-01 07:12] czgdp1807 commented on #96
Hi @annu12340
This has already been done by #97
You can try #112 or make some improvements to the README on your own by adding information which you think should be there.

[2020-03-01 07:16] asaw4 opened #113 "Linked list implementation of stack and queue data structure"
kindly assign me this problem .

[2020-03-01 07:19] czgdp1807 commented on #111
Are you participating through GSSoC, 2020?

[2020-03-01 07:22] czgdp1807 commented on #113
Array implementation of stacks and queues have already been added. See, https://github.com/codezonediitj/pydatastructs/tree/master/pydatastructs/miscellaneous_data_structures
Feel free to add the linked list implementation of these two once, #99 is merged which will be done by tomorrow.

[2020-03-01 07:53] asaw4 commented on #25
i would like to work on this problem. please assign me this

[2020-03-01 09:21] annu12340 commented on #96
ok

[2020-03-01 14:14] abhishekgupta368 commented on #113
can i contribute

[2020-03-01 14:19] czgdp1807 commented on #113
@abhishekgupta368 Sure, you can.  We allow only one PR to remain open for any issue. The best PR will be kept and rest others will be closed in its favour.  See our PR policy at https://github.com/codezonediitj/pydatastructs/wiki/Pull-Request-Policy

[2020-03-01 14:26] czgdp1807 commented on #113
Note that #99 will be merged by tomorrow after which you can start your work on linked list implementation of stacks and queues.

[2020-03-01 16:14] VibavariG commented on #110
I would like to work on this issue. I am a beginner and i have done red black trees in java. I would like to try this. Please assign me this issue. I am a participant of GSSoC '20

[2020-03-01 16:36] czgdp1807 commented on #110
Hi @VibavariG This issue is reserved for RGSoC, 2020.
Please see [this list of GSSoC, 2020 issues](https://github.com/codezonediitj/pydatastructs/issues?q=is%3Aopen+is%3Aissue+label%3Agssoc20).

[2020-03-02 07:10] czgdp1807 commented on #96
Fixed by #97

[2020-03-02 07:10] #96 closed

[2020-03-02 07:23] mugdhajoshi commented on #108
Can I work on this issue as part of GSSoC 2020

[2020-03-02 07:27] czgdp1807 commented on #108
Hi @mugdhajoshi  This issue is reserved for RGSoC, 2020.
Please see [this list of GSSoC, 2020 issues](https://github.com/codezonediitj/pydatastructs/issues?q=is%3Aopen+is%3Aissue+label%3Agssoc20).

[2020-03-02 10:32] ka1shi commented on #109
I would like to work on it. Please assign it to me.

[2020-03-02 13:01] czgdp1807 commented on #109
Hi @ka1shi If you are participating through RGSoC, 2020 then feel free to start your work on this in a PR. However, if you are a GSSoC participant the see [this list of issues](https://github.com/codezonediitj/pydatastructs/issues?q=is%3Aopen+is%3Aissue+label%3Agssoc20). Feel free to open new issues if you have new ideas to work upon.

[2020-03-02 13:19] prshnt19 commented on #49
I thought LinkedList implementation of `Queue` and `Stack` are under this issue.
API for `Queue`:
`Enqueue`: Adds an item to the queue.
`Dequeue`: Removes an item from the queue
`Front`: Get the front item from the queue.
`Rear` (optional): Get the last item from the queue.
`isEmpty`: Returns true if the Queue is empty, else false.

API for `Stack`:
`push`: Adds an item in the stack.
`pop`: Remove

[2020-03-02 14:13] czgdp1807 commented on #49
The design of base class `Queue` can be followed for the class `LinkedListQueue` and similarly for `LinkedListStack`, the design of base class `Stack` can be followed.

https://github.com/codezonediitj/pydatastructs/blob/19cabb2f50395ddd15a2783820171bf157e81893/pydatastructs/miscellaneous_data_structures/queue.py#L49-L67

https://github.com/codezonediitj/pydatastructs/blob/19cabb2f50395ddd15a27838

[2020-03-02 14:35] kritika12298 commented on #111
I would like to work on this problem, please assign me

[2020-03-02 14:45] czgdp1807 commented on #111
Hi, @kritika12298
Feel free to start with the serial version of DFS. Please propose an API for the same(the function name, arguments for the function). I have proposed an API for BFS at https://github.com/codezonediitj/pydatastructs/issues/82#issuecomment-591010265 and https://github.com/codezonediitj/pydatastructs/issues/82#issuecomment-591253631
Something similar can be done for DFS as well.
P.S

[2020-03-02 14:50] kritika12298 commented on #111
Okay thank you

[2020-03-02 14:51] ka1shi commented on #109
Hi @czgdp1807, I am participating through GSSoc20. Sure, I will check the issues with GSSoc20 tag. Thank You!

[2020-03-02 15:23] czgdp1807 commented on #82
Below is the final API for BFS(both serial and parallel) which I have thought of,

**Serial**
`breadth_first_search(graph, source_node, operation, *args, **kwargs)` - It will just transfer the task to functions specific to graph implementation(minor changes are required in `Graph` for that purpose).
`_breadth_first_search_adjacency_list(graph, source_node, operation, *args, **kwargs)` - Performs s

[2020-03-02 17:31] vibhu18116 commented on #101
Hi, can I start working on this issue?

[2020-03-02 18:11] czgdp1807 commented on #101
Hi, @vibhu18116 Please start by designing an API for m-ary trees. Please let us know if you face any problem/queries.

[2020-03-02 18:14] Vanshika266 commented on #109
Hi, Can I start working on this issue as a part of RGSoC20?

[2020-03-02 18:20] czgdp1807 commented on #109
Hi @Vanshika266 Please start by coming up with an API design for splay tree. You can take a look at https://en.wikipedia.org/wiki/Splay_tree#Operations for some ideas.Let us know if you face some problems/queries.

[2020-03-02 18:39] Shweta0002 commented on #107
Can I work on this?? Interested to participate in RGSoC.

[2020-03-02 18:41] prshnt19 commented on #102
The above API can be modified so that it remains along the lines of current `BinaryHeap`. The current implementation of `BinaryHeap` uses both pointers and array-based implementation. I can extend that for M-ary heap. Can you suggest a better Class Name for `MAryHeap`. `BinomialTreeNode` is a better alternative for nodes of m-ary heap

[2020-03-02 18:54] czgdp1807 commented on #107
Hi, @Shweta0002 I would suggest to add a `sort` function in class `BinaryHeap` or in general for any heap in PyDataStructs. This function might return the nodes of the heap sorted. Please see the code for heaps at https://github.com/codezonediitj/pydatastructs/blob/master/pydatastructs/trees/heaps.py and find a suitable API for the method, `sort`.

[2020-03-02 18:59] czgdp1807 commented on #102
IMO, using arrays is a safer option. Pointer based implementation makes the maintenance of code difficult. Though, `BinomialHeap` is using pointers, making changes to that will be a bit difficult. I would like M-ary heaps to use array based implementation as they are closer to `BinaryHeap` and not `BinmoialHeap`.  A node for M-Ary heap can have an array of children indices. A new class for such no

[2020-03-02 19:00] czgdp1807 commented on #102
[This](https://en.wikipedia.org/wiki/D-ary_heap#Data_structure) also suggests array data structure as a support for the proposed type of heaps.

[2020-03-02 19:11] vibhu18116 commented on #101
Thank you for allowing me to work on this.

I believe the API design would closely follow that of binary trees. Hence these are a few APIs I think should form a basis:

- ` __new__(cls, m_value = 2, array_flag = 0, key=None, root_data=None, comp=None)`

This would initialise a new m-ary tree. m_value will be used to determine the maximum value of m (the number of children of a node), default to 2

[2020-03-02 19:14] Shweta0002 commented on #107
Oh ok ! But didn't get that API thing ?

[2020-03-02 19:17] czgdp1807 commented on #107
Basically API in the context of this issue means,  the prototype of the method `sort`. What arguments it should take, other than `self`(`BinaryHeap` object)?

[2020-03-02 19:21] Shweta0002 commented on #107
ok , so for now i have to add a heap sort function in heap file right?So I would like to do it , thanks.

[2020-03-02 19:40] czgdp1807 commented on #107
`sort` should be a member function of `Heap` class which can have different implementations in the child classes. You can proceed with a PR for this and rest of the things can be discussed there.

[2020-03-02 22:02] prshnt19 commented on #49
The `Stack` and `Queue` class have to be defined in `linear_data_structures` or in `miscellaneous_data_structures`.

[2020-03-03 06:09] manaswinidas commented on #25
@asaw4 Please go ahead with this, if you are not working on any other issue right now.

[2020-03-03 09:48] czgdp1807 commented on #101
IMO, using only array based implementation will be better here as pointers are somewhat unsafe, so avoid them where ever possible. Instead of `m_value`, a better name would be `max_children`. [This](https://en.wikipedia.org/wiki/M-ary_tree#Arrays) suggests a nice way to implement using arrays.

 Can you please explain the use of the values returned by `height` and `width` methods?

IMO, just `to_b

[2020-03-03 09:52] czgdp1807 commented on #101
Note that m-ary tree is not a search tree, so we don't need to worry about the manner in which nodes are stored. We need a creative way to avoid the exponential space complexity of array based implementation. May be a new type of node inheriting `TreeNode` can be made which will be having an array storing the indices of it's children node in the array of m-ary trees. Please let me know if you are

[2020-03-03 09:54] czgdp1807 opened #119 "A typo in the README"
#### Description of the problem

Shouldn't it be by `more than 1%`
#### Example of the problem

#### References/Other comments

[2020-03-03 16:01] anirudh-kac opened #120 "Array implementation of doubly ended queue (deque)"
#### Description of the problem
I propose the implementation of a doubly ended queue (deque) using arrays. A deque allows insertions and deletions from both the front and the rear end.  The various methods available will be insert front, insert rear, delete front , delete rear in addition to returning the element at front or rear.

Hope this task will be assigned to me

[2020-03-03 16:38] czgdp1807 commented on #120
Hi @anirudh-kac
IMO, double ended queue can be added to [this file](https://github.com/codezonediitj/pydatastructs/blob/master/pydatastructs/miscellaneous_data_structures/queue.py).
Please start by a draft API design. See, https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects
P.S. We don't assign issues to contributors. This doesn't mean that you cannot work on this i

[2020-03-03 17:05] anirudh-kac commented on #120
Can I get the format of the draft PR somwhere

[2020-03-03 17:09] czgdp1807 commented on #120
@anirudh-kac You can explain your draft API in a comment below. See some other issues(BFS, BinomialHeap(closed)) where we have done something similar.

[2020-03-04 03:23] iamrajiv commented on #112
@czgdp1807 changing `print()` with `str()` is giving `DocTestFailure`. For example `str()` is returning like this `'[7.2, 5]'`

[2020-03-04 03:39] czgdp1807 commented on #112
Yeah so you can make changes to the results by adding `'`.

[2020-03-04 06:41] #119 closed

[2020-03-04 09:31] iamrajiv commented on #112
@czgdp1807 I have made changes to `linked_list.py` and other parts of the codebase is already changed like in `stack.py`, `binary_trees.py`, `heaps.py`, `space_partitioning_trees.py` and `queue.py` though there is no use of printing the queue list in `queue.py` so what about adding function to return the contents of queue?

[2020-03-04 11:18] prshnt19 opened #124 "popleft and popright should return value"
#### Description of the problem

In liner_data_structures/linked_lists the `pop_left` and `pop_right` functions in return should also return value of the element to be popped.
#### Example of the problem

#### References/Other comments

[2020-03-04 12:29] czgdp1807 commented on #124
Queue has also a `popleft` method. Does that work correctly?

[2020-03-04 15:34] prshnt19 commented on #124
Currently, `Queue` is only implemented as `ArrayQueue`. It works correctly. Currently working on `LinkedListQueue`. I will use only the correct implementation.

[2020-03-04 15:44] anirudh-kac commented on #120
This is the API that I propose
`deque = deque()`
 Inserting elements at front end
`deque.insert_front(element)`
Inserting elements at rear end
`deque.insert_rear(element)`
Popping from front
`deque.pop_front()`
Popping from rear
`deque.pop_rear()`
Obtaining front element
`deque.front()`
`Obtainig rear element`
`deque.rear()`
Checking for empty deque
`deque.is_empty()`

[2020-03-04 17:34] vibhu18116 commented on #101
I thought `height` and `width` of a tree can provide additional functionality to the user, however other than from feature point of view, I don't find any suitable use case.
So, if you suggest I would drop them.

I would update the names of functions as suggested.

[2020-03-04 18:48] vibhu18116 commented on #101
I checked this implementation, but a lot of functions like insert, delete are not implemented, probably because they depend on comparision key. Since the insert, delete API would follow the same pattern, should I first implement them?

[2020-03-04 19:46] Vanshika266 commented on #109
Thank you for allowing me to work on this issue.

I believe the class design would extend binary search tree implementation from pydatastructs. The basic structure of class can be as follows-
`class SplayTree(BinarySearchTree):` represents splay trees.

Following are the function APIs which can be implemented in the class -
- `def _splay(self,x):`
Splay operation is performed on x i.e. node x is m

[2020-03-05 08:30] czgdp1807 commented on #101
Actually, binary trees are quite abstract, hence their insert and delete operations are left unimplemented. What logic should be followed while making insertions to a binary tree? Both the operations are well defined for binary search trees.
IMO, we can keep insert, delete operations undefined for m-ary trees. We can a complementary m-ary search tree inheriting m-ary tree with insert and delete we

[2020-03-05 08:34] #112 closed

[2020-03-05 08:40] czgdp1807 commented on #109
The public API looks good. Aren't the rotations(`_zig_zig`, etc.) same as those in `AVLTree`?

[2020-03-05 10:36] #62 closed

[2020-03-06 06:49] #124 closed

[2020-03-07 05:30] akshaygoelakki commented on #39
i want to work on this issue..please assign this to me

[2020-03-07 09:58] czgdp1807 commented on #39
@akshaygoelakki Feel free to start your work on this. Whenever you will create a PR, it will  be linked to this issue and it will show up in assignee section.

[2020-03-07 10:33] TechnoPhasePRO opened #128 "Parallel merge sort"
#### Description of the problem
I propose parallel merge sort in python. Parallel Merge Sort first divides the unsorted list into smallest possible sub-lists, compares it with the adjacent list, and merges it in a sorted order. It implements parallelism very nicely by following the divide and conquer algorithm.

#### References/Other comments
https://stanford.edu/~rezab/classes/cme323/S16/notes/Le

[2020-03-07 10:34] TechnoPhasePRO commented on #128
please assign me this issue.

[2020-03-07 12:06] divs30 commented on #128
@TechnoPhasePRO  go ahead with this, if you are not working on any other issue right now.

[2020-03-07 12:15] czgdp1807 commented on #128
@divs30 Thanks for the guidance.
@TechnoPhasePRO For starting please come up with an API design and comment the same in this issue.
Whenever you will make a PR, it will be linked with this issue and will show up in the Assignee column [here](https://github.com/codezonediitj/pydatastructs/issues).

[2020-03-07 17:22] nehasangeetajha commented on #128
Please assign it to me also? I want to try this one

[2020-03-07 17:26] czgdp1807 commented on #128
In addition to [this comment](https://github.com/codezonediitj/pydatastructs/issues/128#issuecomment-596082193). If @TechnoPhasePRO doesn't come up with an API design for some time, you can give your own and make a PR afterwards. Meanwhile, you can see other [issues in this list](https://github.com/codezonediitj/pydatastructs/issues?q=is%3Aopen+is%3Aissue+label%3Agssoc20).

[2020-03-07 17:26] nehasangeetajha commented on #37
is this one available? @czgdp1807
I would like to work on this

[2020-03-07 17:32] nehasangeetajha opened #129 "Parallel Brick Sort"
#### Description of the problem
I would like to propose an odd-even transposition sort or brick sort. Odd-Even Transposition Sort is based on the Bubble Sort technique. It compares two adjacent numbers and switches them if the first number is greater than the second number to get an ascending order list. The opposite case applies to a descending order series.

Please assign me this issue.

[2020-03-07 17:34] czgdp1807 commented on #37
@nehasangeetajha Since no one has proposed an API design for fibonacci heap, you can come up with your own and start working on this issue. You may refer to the design of Binomial heap [here](https://github.com/codezonediitj/pydatastructs/issues/36#issuecomment-567534858).

[2020-03-07 17:39] czgdp1807 commented on #129
[This page](https://en.wikipedia.org/wiki/Odd%E2%80%93even_sort) says that it was originally developed for parallel threads/processors. So, IMO, we should add its parallel implementation with odd indices being sorted on one thread and even indices on another thread. Though before, that a nice API design should be proposed which can be applicable to other parallel sorting algorithms like parallel m

[2020-03-07 17:51] czgdp1807 commented on #129
See our issue policy at https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy

[2020-03-08 09:17] nehasangeetajha commented on #107
can we have intro sort as one of the sorting techniques?
If yes can I try it?

[2020-03-08 09:20] nehasangeetajha commented on #110
I would like to work on this issue. I am participant for RGSOC'20 as well

[2020-03-08 09:29] czgdp1807 commented on #110
@nehasangeetajha Sure, you can start your work by coming up with an API design for red-black trees. Describe your design in the comments below.

[2020-03-08 09:31] czgdp1807 commented on #107
Can you please provide some reference to this sorting technique?

[2020-03-09 06:31] Pihu1998 commented on #108
Hi @czgdp1807 , I am a part of RGSoC'20. Can I work on this issue?

[2020-03-09 06:33] czgdp1807 commented on #108
Hi @Pihu1998 Sure, you can start the work on this issue by proposing an API design for pairing heap. Please see the references in the description for some ideas. Feel free to ask your queries/doubts.

[2020-03-09 06:51] Pihu1998 commented on #108
Yeah, sure. :)

[2020-03-09 10:37] nehasangeetajha commented on #107
@czgdp1807 Here's is it :
https://en.wikipedia.org/wiki/Introsort

[2020-03-09 12:01] czgdp1807 commented on #107
We can add all the sorting algorithms in a file named, `algorithms` under `linear_data_structures`. The thing to consider is whether to add sequential version of such sorting algorithms or parallel ones. Optimized sequential sorting algorithms are pre-implemented in many languages/libraries.
How can we make the introsort parallel? Any ideas?

[2020-03-09 12:13] #49 closed

[2020-03-09 13:54] wowrao17 commented on #110
Hey! I would love to contribute to the same. Can I just know if the code has to be in Python only? Or can I use C++ as well?

[2020-03-09 14:07] czgdp1807 commented on #110
Hi @wowrao17 If @nehasangeetajha doesn't come up with an API design for red-black for some days(may be 3 or 4) then feel free to start your work on this issue.
The code should be in Python only, however before jumping to implementation we will focus on design aspect. Let us know your queries/doubts.

[2020-03-09 14:30] #82 closed

[2020-03-09 14:58] wowrao17 commented on #110
Okay, Thank you :)

[2020-03-09 15:51] #24 closed

[2020-03-09 17:12] nehasangeetajha commented on #37
I have come up with the following API design. Please have a look.

We will have a class `Fibonacci heap` with the following members:

**Fibonacci Heap Node**
`node` will represent the nodes in the fibonacci heap. They will have following data members:
1. `key`: key of the current node
2. `value`: the value of the current node
3. `parent`: reference to the parent of the current node
4. `degree`: De

[2020-03-09 18:46] czgdp1807 commented on #37
IMO, the above methods need not to be "public" i.e., we can start their name with a `_`. Rest looks good.

[2020-03-09 22:16] czgdp1807 opened #131 "Add Priority Queue"
#### Description of the problem

#### Example of the problem

#### References/Other comments
.. [1] https://en.wikipedia.org/wiki/Priority_queue

[2020-03-10 02:55] sarthakforwet commented on #131
i wanna take this issue..

[2020-03-10 08:23] wowrao17 commented on #111
Hello Sir! I would like to contribute to this project. As far as I have understood, proposing an API means writing the name of the function and its arguments. So, here I have made this function for the same:
1. addEdge(self,v,visited)   //for adding the edge
2. DFShelper(self, v, visited) // a helping function for the DFS function
3. DFS(self,v) // function for DFS traversal

These are the main fu

[2020-03-10 08:29] czgdp1807 commented on #111
@wowrao17 The API for depth first search should be along the lines of breadth first search. See, https://github.com/codezonediitj/pydatastructs/blob/master/pydatastructs/graphs/algorithms.py
DFS cannot be made parallel due to its inherently sequential nature. There are some publications which claim to have made it parallel but it's too costly to implement their ideas.

[2020-03-10 09:20] vibhu18116 commented on #101
I get your point. I will try to come up with actual implementation and try to create a PR in a day or two for m-ary tree.

[2020-03-10 09:24] czgdp1807 commented on #131
@sarthakforwet Sure you can. The APIs are defined on the Wikipedia page, so a PR can be made directly.

[2020-03-10 11:47] sarthakforwet commented on #131
@czgdp1807  should I have to add a new branch for the pull request to be made because from the current developer branch my previous PR is showing when I click on New PR

[2020-03-10 15:49] czgdp1807 commented on #131
You can create a new branch by checking out from `master`. Please see https://github.com/codezonediitj/pydatastructs#how-to-contribute and may be https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github

[2020-03-10 17:36] HarsheetKakar commented on #120
Why are we not using collections.deque?

[2020-03-10 17:39] czgdp1807 commented on #120
We are currently using `collections.deque`.

[2020-03-10 17:44] czgdp1807 commented on #90
This isn't of much use as in my opinion, we can use the inbuilt implementation of simple data structures and focus on less commonly available implementation basically the graph algorithms and parallel implementations of simple algorithms.
Closing.

[2020-03-10 17:44] #90 closed

[2020-03-10 17:46] czgdp1807 commented on #90
Though adding simple data structures is still welcome though it won't be used elsewhere in the package unless they are theoretically more efficient than the inbuilt implementations like `DynamicOneDimensionalArray` is better than the `list` when it comes to delete operation.

[2020-03-10 17:57] czgdp1807 opened #133 "Removing some TODOs"
#### Description of the problem

Currently the `master` has a TODO task of replacing the `collections.deque` with `pydatastructs.Queue`. We have decided not to do this replacement as queue is a very simple data structure and it's efficient implementation is already present in python. In fact, deepcopy.copy will be a bottleneck in doing this replacement so, we shouldn't simply invest our time in th

[2020-03-10 18:09] HarsheetKakar commented on #120
I saw Queue and didnt check the imports. oops

[2020-03-10 19:34] czgdp1807 commented on #120
@anirudh-kac Apologies for the delayed response as I didn't receive the notifications for the same. The API looks good. I would suggest to go along the lines of `Queue`. A new class can be made, `DoublyEndedQueue` which can subclass `Queue` with some extra methods. Or we can also make modifications to the current code of `Queue`(and it's various implementations) and add a simple keyword argument,

[2020-03-11 10:27] #102 closed

[2020-03-11 11:19] Vanshika266 commented on #109
Yes, I get your point. I will extend AVL Tree implementation from pydatastructs. Updated structure of the class can be -
`class SplayTree(AVLTree):` represents splay trees
I will override the insert and delete functions in Splay Tree implementation. I will call the implementation of `AVLTree` rotations(`_left_rotate`, etc.) inside rotation functions(`_zig_zag`, etc.) of SplayTree to maintain the c

[2020-03-11 11:38] czgdp1807 commented on #109
Sounds better. Probably, it's time to make a PR.

[2020-03-11 13:30] robotjellyzone commented on #104
Hi @raksha009 are working on it? Just asking to confirm and if you are stuck at any point then feel free to ask us.

[2020-03-11 13:40] robotjellyzone commented on #94
Hi @UmashankarTriforce are you still active here as I cannot see your progress?

[2020-03-11 15:06] nehasangeetajha commented on #37
Ok @czgdp1807 I will start implementing it then, making these private

[2020-03-11 15:08] nehasangeetajha commented on #107
Can't say about introsort but would love to start with basic sorting techniques (making them parallel) if we can have this folder

[2020-03-11 15:12] czgdp1807 commented on #107
Yes we can have an `algorithms.py` file in `linear_data_structures`. Moreover, please let me know if you want your contributions to be counted as `gssoc20` or `rgsoc20`. AFAIK, the official working period for RGSoC, 2020 starts from around July. Before that you have to submit application for this project on RGSoC website before 31st March.

[2020-03-11 15:19] nehasangeetajha commented on #110
I have come up with following API design for red black tree.
`node` class with following data members:
1. `data` - data stored in current node
2. `parent` - reference to parent of current node
3. `left` - reference to left child of current node
4. `right` - refernce to right child of current node
5. `color` - color(either red or black) of current node

**Red Black tree class** with following metho

[2020-03-11 16:29] prshnt19 opened #136 "DynamicOneDimensionalArray could be made faster using ctypes"
`DynamicOneDimensionalArray` could be made faster using `ctypes` array. `ctypes` implementations are 10 to 100 times faster than python and takes less memory than python.

_Originally posted by @prshnt19 in https://github.com/codezonediitj/pydatastructs/pull/118#issuecomment-597312552_

[2020-03-11 16:54] HarsheetKakar commented on #136
isnt ctypes like pandas or numpy (internally)?

[2020-03-11 17:03] nikipr1999 commented on #32
Please assign this issue to me for rgsoc20

[2020-03-11 17:13] czgdp1807 opened #137 "Adding algorithms for minimum spanning tree"
#### Description of the problem

The following algorithms(both serial and parallel version) are to be added through a series of PRs.

1. Prim's Algorithm - https://en.wikipedia.org/wiki/Prim%27s_algorithm
2. Kruskal's Algorithm - https://en.wikipedia.org/wiki/Kruskal%27s_algorithm

The APIs for the algorithms can be as simple as,
1. `minimum_spanning_tree(graph, algorithm)` - This will return a ne

[2020-03-11 17:14] czgdp1807 commented on #137
First, Kruskal algorithm will be added before which disjoint set data structure will be added.

[2020-03-11 17:15] czgdp1807 commented on #136
Please see the documentation of ctypes [here](https://docs.python.org/3/library/ctypes.html).

[2020-03-11 17:28] HarsheetKakar commented on #137
Why is it not open for contributors?

[2020-03-11 19:13] vibhu18116 commented on #101
Can I keep `to_binary_tree` method abstract in m-ary tree, or a concrete implementation is required?

If a concrete implementation is required, then should I modify the m-ary tree itself or create a new binary tree with nodes of type TreeNode?

Currently, I have made a new node type extending TreeNode as suggested earlier which form nodes of m-ary tree.

[2020-03-11 19:15] raksha009 commented on #104
Yepp, was just learning about creating PRs and all. But I have started working on this issue. Sorry for the delay.
@robotjellyzone

[2020-03-11 19:18] czgdp1807 commented on #101
We can keep it as abstraction in m-ary tree but a concrete implementation can be added in m-ary search tree.

IMO, a new tree should returned.

[2020-03-11 20:24] HarsheetKakar commented on #113
Can I work on LinkedListStack implementation?

[2020-03-12 02:54] Disha5harma commented on #137
Sir, I want to work on this.Can you please assign me this?

[2020-03-12 04:22] HarsheetKakar commented on #25
If no one is working on it can I start?

[2020-03-12 05:56] Riyagoel2 commented on #133
I would like to contribute

[2020-03-12 05:57] czgdp1807 commented on #133
Sure, please proceed with a PR.

[2020-03-12 05:59] czgdp1807 commented on #137
Hi @Disha5harma Please see issues labelled with `gssoc20`. This issue is open for comments on APIs but not for contributors to make PRs. Thanks.

[2020-03-12 06:00] Riyagoel2 commented on #133
Can you please provide any reference

[2020-03-12 06:01] czgdp1807 commented on #133
For fixing this issue, you just have to look for lines in the codebase having `TODO` and remove those lines.

[2020-03-12 06:11] vibhu18116 commented on #101
I created a PR. However, the Travis checks failed due to some trailing whitespaces. Can you please guide how do I ensure there are no trailing white spaces?

Also can you review the code once to see if it is the desired implementation?

[2020-03-12 10:30] nehasangeetajha commented on #107
Yes I am working on my application for RGSOC'20 for this project.  Till then, i want to contribute for GSSOC'20.

[2020-03-12 12:59] czgdp1807 commented on #25
@HarsheetKakar Sure, start with the API design for Sparse table.

[2020-03-12 13:11] #133 closed

[2020-03-12 13:59] czgdp1807 opened #142 "Disjoint-set data structure"
#### Description of the problem

Disjoint set data structure can have the following APIs,

**Set**
The class `Set` will represent the notion of disjoint sets with respect to the above data structure.
**Attributes**
1. `key` - Any valid key which can be used to uniquely identify this set.
2. `data` - Any valid data or pointers to data can be stored through this.
3. `parent` - The parent of this set

[2020-03-12 14:01] Disha5harma commented on #137
Okay.I will check it.

On Thu, Mar 12, 2020 at 11:29 AM Gagandeep Singh <notifications@github.com>
wrote:

[2020-03-12 14:03] Disha5harma commented on #131
@czgdp1807 Is this issue still available?

[2020-03-12 14:04] Disha5harma commented on #106
@czgdp1807 Is this issue still available?

[2020-03-12 14:05] czgdp1807 commented on #131
@Disha5harma If you can make a better PR than #132 then feel free to do so. The best one will be kept opened and rest will be closed in its favour. Add `PriorityQueue` to `queue.py`.

[2020-03-12 14:13] czgdp1807 commented on #106
Yes. Please start by API design and comment it below.

[2020-03-12 14:25] Disha5harma commented on #106
Can you please tell me what we have to do in API design? Like in PR we have
to add code only right? Actually I am new to open source contribution,
please help.

On Thu, Mar 12, 2020 at 7:44 PM Gagandeep Singh <notifications@github.com>
wrote:

[2020-03-12 14:25] Disha5harma commented on #131
Okay.
Thanks

On Thu, Mar 12, 2020 at 7:35 PM Gagandeep Singh <notifications@github.com>
wrote:

[2020-03-12 19:22] czgdp1807 commented on #106
In API design you have to find an appropriate class prototype. It is basically how you call functions or methods of a class. See, https://github.com/codezonediitj/pydatastructs/issues/142#issue-579958924 for API design of disjoint set data structure. Something similar is to be done for Cartesian trees.

[2020-03-13 03:06] Disha5harma commented on #106
Okay,I will do it.Thanks.

On Fri, Mar 13, 2020 at 12:52 AM Gagandeep Singh <notifications@github.com>
wrote:

[2020-03-13 06:10] Dhivyaa-D commented on #142
Can I work on this on this?

[2020-03-13 07:08] manaswinidas commented on #128
@TechnoPhasePRO are you still working on this? Just to check whether you are on it.

[2020-03-13 10:12] abhishekgupta368 commented on #137
I can do it with time and memory efficiency. can you please assign me?

[2020-03-13 10:13] abhishekgupta368 commented on #142
I can do it efficiently, Can you please assign me?

[2020-03-13 10:16] abhishekgupta368 commented on #131
I want to work on this issue, can you please assign me?

[2020-03-13 12:00] Vanshika266 commented on #109
Ok, I will try to create a PR in a day or two for splay tree implementation.

[2020-03-13 12:23] robotjellyzone commented on #142
Hi @abhishekgupta368 , are you a participant of GSSOC'20 ?

[2020-03-13 12:25] czgdp1807 commented on #142
This issue is not open for contributors as written in the description.

[2020-03-13 12:28] abhishekgupta368 commented on #142
yes, I am participant of GSSOC'20

[2020-03-13 12:42] robotjellyzone opened #145 "Add AVL Tree Data Structures"
#### Description of the problem

#### Example of the problem

#### References/Other comments
[1] https://en.wikipedia.org/wiki/AVL_tree

[2020-03-13 12:46] czgdp1807 commented on #145
AVL trees are already there in the `master`. Thanks.

[2020-03-13 12:46] #145 closed

[2020-03-13 12:48] robotjellyzone opened #146 "Add B-heap data structure"
#### Description of the problem

#### Example of the problem

#### References/Other comments
[1] https://en.wikipedia.org/wiki/B-heap

[2020-03-13 12:56] robotjellyzone opened #147 "Add B+ tree data structures"
#### Description of the problem

#### Example of the problem

#### References/Other comments
[1] https://en.wikipedia.org/wiki/B%2B_tree

[2020-03-13 12:59] robotjellyzone opened #148 "Add Queap Data Structures"
#### Description of the problem

#### Example of the problem

#### References/Other comments
[1] https://en.wikipedia.org/wiki/Queap

[2020-03-13 13:52] robotjellyzone opened #149 "Add a Skip List Data Structure"
#### Description of the problem

#### Example of the problem

#### References/Other comments
[1] https://en.wikipedia.org/wiki/Skip_list

[2020-03-13 15:02] sarthakforwet commented on #146
@robotjellyzone can i be assigned this issue?

[2020-03-13 15:17] robotjellyzone commented on #146
yes, @sarthakforwet  go ahead and create its API and share with us 👍

[2020-03-13 18:04] HarsheetKakar opened #150 "Changes in Queue."
#### Description of the problem
Queue module needs some refactoring.

- Queue methods are generally `enqueue()` and `dequeue()`
- front and rear pointers need to be properties because of their frequent change.
- `type(x) is not self._dtype` can be converted to `_check_type(type(x),self._dtype)`

This issue was briefly discussed in https://github.com/codezonediitj/pydatastructs/pull/139#issuecommen

[2020-03-13 18:04] HarsheetKakar commented on #150
@czgdp1807 kindly add the points I missed

[2020-03-13 18:13] HarsheetKakar commented on #25
Is there any already applied API reference which u would like me to follow? eg- something like OneDimentionalSegmentTree

[2020-03-13 18:19] czgdp1807 commented on #25
IMO, `OneDimensionalSegmentTree` is quite different from `SparseTable`. You can think of the API design by picking some use cases. You may check the references in the description.

[2020-03-13 18:24] czgdp1807 commented on #150
Let's not go for it, `push` and `popleft` are in accordance with `collections.deque`.

They both are currently attributes of the `Queue` class. What are the benefits of additionally defining them as properties?

[2020-03-13 19:20] HarsheetKakar commented on #150
[code]
it keeps referring back to self.queue it would be better if we can just move it in a different function/property. Less headache for the programmer and less things to change if we ever have to.

[2020-03-13 19:23] HarsheetKakar commented on #150
yeah now to think of it, deque is used as Queue in many places.

[2020-03-13 19:25] HarsheetKakar commented on #150
[code]
I also dont understand why value error is raised. Something like IndexError would be better (same is used in deque)

[2020-03-13 20:12] asaw4 commented on #25
i will do it

[2020-03-13 20:15] asaw4 commented on #149
i would like to work on this problem

[2020-03-13 20:22] Disha5harma commented on #106
Following could be the API design for this problem-
`node`
This class  will represent the notion of cartesian tree with respect to the above data structure.
**Attributes**
*data-stores any valid value
*left-represents left child
*right-represents right child
`cartesian_tree`
 This class will create cartesian tree and perform operations
**Attributes**
*parent-to hold the index of parent of each num

[2020-03-13 21:35] maheshschand commented on #148
I like to work on this issue. Can you assign me this @robotjellyzone ?

[2020-03-14 02:28] TechnoPhasePRO commented on #128
ma'm i am still working on this project . I had a busy week and couldn't find time to complete it. I will be submitting it soon.

[2020-03-14 06:27] czgdp1807 commented on #146
https://en.wikipedia.org/wiki/B-heap#External_links has some links to implementations. The point is that is it possible to implement B-Heap in Python?

[2020-03-14 06:27] poojasrinivass commented on #147
I would like to work on this issue.

[2020-03-14 08:13] czgdp1807 commented on #106
There is already a `TreeNode` class which can be used for the above purpose.

Can we make these similar to the existing binary trees? Refer, https://github.com/codezonediitj/pydatastructs/blob/master/pydatastructs/trees/binary_trees.py

See, https://github.com/codezonediitj/pydatastructs/pull/132#issuecomment-597229490

[2020-03-14 08:16] czgdp1807 commented on #32
@nikipr1999 Though for RGSoC, 2020 making contributions isn't necessary till 31st March as the official coding period starts from July. Till then submit your application on RGSoC website.
You can discuss the API design of KD Trees if you have some improvements to suggest over the one given in the description of this issue. I have also created a PR which you continue if you want to. See, #48

[2020-03-14 08:17] czgdp1807 commented on #150
Yes, this will help in removing redundant attributes.

Feel free to make the change. See, if such changes are needed elsewhere in the code base.
Thanks.

[2020-03-14 14:31] Meenakshi2000 commented on #129
How to contribute

[2020-03-14 14:42] HarsheetKakar commented on #150
quick question...
`elif type(items) in (list, tuple):`
we are checking against list and tuple only, but I think items can be any `collections.abc.Sequence` type.
Shall I change it to `elif _check_type(items, Sequence)`

[2020-03-14 14:58] Disha5harma commented on #106
Sir, I think all methods similar to this can't be implemented on this and for rest I am working.If I am wrong then pls guide.

[2020-03-14 16:01] Meenakshi2000 commented on #128
please assign me this

[2020-03-14 16:07] Riyagoel2 commented on #149
I would like to work on it as a part of GSSOC

[2020-03-14 17:54] czgdp1807 commented on #150
I won't recommend.

[2020-03-14 17:58] raksha009 commented on #104
@robotjellyzone I am facing many issues. How to reach you on slack !?

[2020-03-14 18:17] czgdp1807 commented on #149
@Riyagoel2 @asaw4 You can work on this issue. The first step is to come up with an API design for skip lists. See an example [here](https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects) for more understanding.

[2020-03-14 18:17] robotjellyzone commented on #104
Hi @raksha009 you can ask with anyone on the pydatastructs channel, every mentor will be more than happy to help. Do make sure that you use public channel of pydatastructs  to ask your queries rather than DMs as mentors are almost available everytime on public channels, not on DMs. :)

[2020-03-14 18:19] raksha009 commented on #104
Ohkk, thanks

[2020-03-14 18:22] czgdp1807 commented on #148
Hi @maheshschand
Feel free to start work on this issue. Please see our [issue policy](https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy) to get to know how to work on issues.
As you will be adding a new data structure, please go through https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects for the steps.

[2020-03-14 18:23] czgdp1807 commented on #147
Hi @poojasrinivass
Feel free to start work on this issue. Please see our issue policy to get to know how to work on issues.
As you will be adding a new data structure, please go through https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects for the steps.

[2020-03-14 18:24] czgdp1807 commented on #131
Hi @abhishekgupta368
Feel free to start work on this issue. Please see our issue policy to get to know how to work on issues.
As you will be adding a new data structure, please go through https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects for the steps.

[2020-03-14 18:29] czgdp1807 commented on #129
See, https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects
For this issue specifically we need a parallel version of brick sort. You can think of an idea to make brick sort parallel and we can discuss over it further.

[2020-03-14 18:30] czgdp1807 commented on #128
@Meenakshi2000 We don't assign issues. See our [issue policy](https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy).

[2020-03-14 18:35] czgdp1807 commented on #110
Can we extend the already existing `TreeNode` class and add `color` attribute to the subclass.

Use, `__str__` to stringify the red black trees.

Are these similar to the rotations in `AVLTree`?

What will  be the use of these methods?

These are already defined in `BinaryTreeTraversal` in `binary_trees.py`.

[2020-03-14 18:39] czgdp1807 commented on #106
I see. Can you make a PR for cartesian tree? We can figure out there which methods to reuse from the already existing code and which to keep from your patch.

[2020-03-14 18:40] czgdp1807 commented on #104
Feel free to describe your problems in the comments of this issue. It will help others facing similar problems.

[2020-03-14 19:38] anaghamittal opened #153 "Add Dijsktra Algorithm"
#### Description of the problem
Competitive programming also needs concepts related to greedy algorithms, hence it is a necessary section that should be added

#### Example of the problem
Videos and lectures related to greedy algorithms such as dijkstra can be added

[2020-03-15 08:35] HarsheetKakar opened #154 "Multiple tests written under single test name."
#### Description of the problem
generally one module has one test which has all of the tests implemented in it.

#### Example of the problem
[code]
This can be changed to
[code]
This will increase readability, and maintaining tests would be easier.

[2020-03-15 08:38] HarsheetKakar commented on #154
![image](https://user-images.githubusercontent.com/42893005/76698194-057f2d80-66c6-11ea-9f16-851427e285dd.png)
from here also, if I just want to test ArrayQueue I cant, it will run all the tests for Queue module.

[2020-03-15 09:31] nehasangeetajha commented on #113
Is this issue still available? If yes can I start working on this?

[2020-03-15 10:03] HarsheetKakar commented on #113
waiting for #152 to be merged, queue is already implemented, stack on its way

[2020-03-15 17:35] nikipr1999 commented on #39
I want to work on this issue.  So kindly assign this issue to me .

[2020-03-15 18:07] Vanshika266 commented on #109
I have created a PR. I have implemented all the APIs except `join` and `split`. In `join` function, I need to merge two arrays of trees into one tree array and in `split` function, I need to divide one array into two tree arrays. So, should I make changes in the given tree arrays or create new ones?

Also, In case of join, If I merge two arrays then the complexity of `join` function would increase

[2020-03-15 18:30] czgdp1807 commented on #109
It looks we don't need these two `join` and `split` in other methods like, `insert`, `search` and `delete`. So, IMO their complexities shouldn't matter much.

[2020-03-15 18:52] Vanshika266 commented on #109
Ok, I will add the implementation of `join` and `split` methods. Also, In `join` method, should I create new array for joined tree or extend the array of tree1 to append elements of the other tree ?

[2020-03-16 07:27] czgdp1807 commented on #109
IMO, extending `self.tree` will be better according to the API of `join`. It is a method of the object, so it should change the object.

[2020-03-16 07:38] czgdp1807 opened #161 "Remove unnecessary aliasing of OneDimensionalArray"
#### Description of the problem

See, https://github.com/codezonediitj/pydatastructs/blob/b0c3136dfaa6d8551adfa208bcdc76bb3f95dd4f/pydatastructs/linear_data_structures/arrays.py#L130

It has unnecessary aliasing of `OneDimensionalArray`. That line should be removed.
#### Example of the problem

#### References/Other comments

[2020-03-16 07:47] czgdp1807 commented on #153
Hi @anaghamittal
The idea is quite abstract. We can work on concrete algorithms like you have dijkstra algorithm can go to https://github.com/codezonediitj/pydatastructs/blob/master/pydatastructs/graphs/algorithms.py
Since, we don't have priority queue right now, so first that should be added. See, #131

[2020-03-16 07:56] HarsheetKakar commented on #161
do u want to alias it in the import or just remove it completely?

[2020-03-16 07:59] czgdp1807 commented on #154
Looks like a nice idea.

[2020-03-16 08:02] czgdp1807 commented on #154
I think this can be done for stacks as well.

[2020-03-16 08:02] HarsheetKakar commented on #154
shall I make a different PR?

[2020-03-16 08:02] czgdp1807 commented on #154
Yeah, I would recommend to do that. #152 is ready to merge and will be merge soon.

[2020-03-16 08:04] #150 closed

[2020-03-16 09:20] HarsheetKakar commented on #154
string in ArrayStack is:
`assert str(s) == '[1, 2, 3]'`

and string in LinkedListStack is:
`assert str(s) == '[3, 2, 1]'`

which of them is better representation of a stack?

[2020-03-16 10:06] czgdp1807 commented on #161
Removing it completely.

[2020-03-16 10:17] czgdp1807 commented on #154
As `LinkedListStack` modify the left side of stack and `ArrayStack` modify the right side, both outputs are different. It doesn't matter how they are stored in memory but at least the printing should be consistent. We should follow the representation as used in `ArrayStack`, so the `LinkedListStack` should be reversed before it is printed. Modification in `LinkedListStack.__str__` method is needed

[2020-03-16 10:29] HarsheetKakar commented on #154
understood

[2020-03-16 15:20] HarsheetKakar opened #164 "trees folder is decreasing coverage."
#### Description of the problem
There are 21 missed lines in trees folder alone.

#### References/Other comments
https://codecov.io/gh/codezonediitj/pydatastructs/tree/master/pydatastructs/trees

[2020-03-16 15:22] czgdp1807 commented on #164
Closing as it is a duplicate to #19

[2020-03-16 15:22] #164 closed

[2020-03-16 16:48] Aman-Codes commented on #161
I am a GSSOC 2020 participant and I would like to work on it. Please assign it to me.

[2020-03-16 17:09] HarsheetKakar commented on #146
I don't think python allows this much memory management. What B tree tries to do is put child nodes inside the same page. We can try it with ctypes maybe, but I personally don't think its possible.

[2020-03-16 17:12] czgdp1807 commented on #146
I am of the opinion. It is more of OS level stuff. It can be closed.

[2020-03-16 17:12] #146 closed

[2020-03-17 06:15] ShebinJoseph commented on #161
Can you please make the problem little more clear,If its a beginner issue,I can work on it

[2020-03-17 06:19] #154 closed

[2020-03-17 06:20] #113 closed

[2020-03-17 06:22] czgdp1807 commented on #161
The line `ODA = OneDimensionalArray` has to be removed.

[2020-03-17 06:25] ShebinJoseph commented on #161
Then,I can do that.This doesn't have any tag.Is problem is considered as contribution in GSSoC20 ?

[2020-03-17 06:29] czgdp1807 commented on #161
This issue is open for anybody. If you are a GSSoC, 2020 participant then the relevant label will be assigned to your PR and this issue and the scoring will be done accordingly.

[2020-03-17 06:31] ShebinJoseph commented on #161
Okay.So this also has score,right ?.Then please assign the issue to me

[2020-03-17 06:33] czgdp1807 commented on #161
For us a PR matters more than assigning issues. So, whenever you will make a PR and write, `Fixes #161` in it's description it will be automatically linked to this issue. You can work on it.
See our [issue policy](https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy) for more details on working on issues.

[2020-03-17 06:35] ShebinJoseph commented on #161
okay.I am working on it

[2020-03-17 07:08] #142 closed

[2020-03-17 09:21] ShebinJoseph commented on #161
I went to fixes of this issues through stackoverflow,Its mentioned that this error can be ignored.Is that correct ?

[2020-03-17 11:06] HarsheetKakar opened #166 "LinkedListNode documentation not complete."
#### Description of the problem
Missing info on links and addrs parameters.

#### Example of the problem
[code]

[2020-03-17 15:39] czgdp1807 commented on #166
Feel free to add the necessary information.

[2020-03-17 15:41] #161 closed

[2020-03-17 19:42] HarsheetKakar commented on #166
Honestly speaking I have no idea what links or addrs is doing.

[2020-03-17 19:58] czgdp1807 commented on #166
`links` is a list containing the names of attributes which should be used as links to other nodes. For example if you want to create a node for doubly linked lists then you can pass, `links = ['next', 'prev']`. `addrs` is contains the address of nodes to be assigned to each of the attributes in `links`.
This is done for using only a single node class for various kind linked lists with differences

[2020-03-17 20:23] HarsheetKakar commented on #166
why do we have 2 lists for that then? shouldn't it be in a dict maybe?

[2020-03-18 06:12] Jahnavi-Jonnalagadda commented on #120
I would like to work on this issue.

[2020-03-18 06:15] czgdp1807 commented on #120
@Jahnavi-Jonnalagadda Please srart with the API design. See https://github.com/codezonediitj/pydatastructs/issues/120#issuecomment-597273892 as well. What do you think should we create a new class Or just an extra argument in `Queue.__new__`?

[2020-03-18 08:33] TechnoPhasePRO commented on #128
@czgdp1807  sir, this please review my api .

**following API is designed based on parallel merge sort regarding the mentioned issue.**

**Libraries used** :
`import math`
`import multiprocessing`
`import random`
`import sys`
`import time`

`def merge(*args):`
	Support explicit left/right args, as well as a two-item
    	tuple which works more cleanly with multiprocessing.
	sorted elements are mer

[2020-03-18 08:36] czgdp1807 commented on #128
IMHO, we can use threads instead of processes.
P.S. - Due to GIL, using threads won't be of much use but porting the implementation to other languages like C++ would be really easy.
Processes have an overhead. Please modify the API by editing your comment. In addition, we need a iterative bottom up approach for merge sort rather than recursive top down as recursion too has it's own overhead.

[2020-03-18 10:02] Saptashrungi opened #170 "Add M-ary Tree"
#### Description of the problem

#### Example of the problem

#### References/Other comments
https://en.wikipedia.org/wiki/M-ary_tree#Types_of_m-ary_trees

[2020-03-18 10:03] Saptashrungi commented on #170
I would like to work on this issue.

[2020-03-18 10:05] czgdp1807 commented on #170
Closing. Duplicate of #101

[2020-03-18 10:05] #170 closed

[2020-03-18 16:32] HarsheetKakar commented on #37
@nehasangeetajha are you working on it?

[2020-03-18 19:20] urbashi123 commented on #166
I want to work on documetation.Can i work on it?

[2020-03-18 19:40] czgdp1807 commented on #101
It's time to make a PR for `MArySearchTree` and the relevant tests.

[2020-03-18 19:57] vibhu18116 commented on #101
Okay. I will start work on it soon :)

[2020-03-18 20:00] czgdp1807 commented on #101
And I hope you are working on your RGSoC application. The deadline is 30th March according to the latest information I have.
See, https://railsgirlssummerofcode.org/students/application/#apply

[2020-03-18 20:14] vibhu18116 commented on #101
Yes. I will start working on application as well.

[2020-03-19 08:13] HarsheetKakar commented on #110
@nehasangeetajha can i take over it or are u doing it?

[2020-03-19 08:37] nehasangeetajha commented on #110
@HarsheetKakar u can take this over , i am working on another issue now

[2020-03-19 08:37] nehasangeetajha commented on #37
Yes

[2020-03-19 09:34] #166 closed

[2020-03-19 13:16] Saptashrungi opened #175 "Adding B-Tree data structure"
#### Description of the problem

#### Example of the problem

#### References/Other comments
https://en.wikipedia.org/wiki/B-tree

[2020-03-19 13:18] Saptashrungi commented on #175
I would like to work on this issue.

[2020-03-19 13:21] czgdp1807 commented on #175
How are is B-Tree different from `MAryTree`?

[2020-03-19 13:25] Saptashrungi commented on #175
B-Tree maintains sorted data and allows searches, sequential access, insertions, and deletions.

[2020-03-19 13:27] Saptashrungi commented on #175
Its a special case of a m-ary tree.

[2020-03-19 13:33] czgdp1807 commented on #175
So, we should inherit `MAryTree` in the class representing B-Tree. Is there any similarity between `MArySearchTree` and B-Tree?

[2020-03-19 13:37] Saptashrungi commented on #175
ccording to Knuth's definition, a B-tree of order m is a tree which satisfies the following properties:

    Every node has at most m children.
    Every non-leaf node (except root) has at least ⌈m/2⌉ child nodes.
    The root has at least two children if it is not a leaf node.
    A non-leaf node with k children contains k − 1 keys.
    All leaves appear in the same level and carry no information

[2020-03-19 13:40] Saptashrungi commented on #175
There is a similarity. But in case of a B-Tree a condition must hold true.  Every node except root must contain at least t-1 keys. Root may contain minimum 1 key. All nodes (including root) may contain at most 2t – 1 keys (where t is degree of B-Tree).

[2020-03-19 14:02] czgdp1807 commented on #175
Is there any similarity in the insertion logic of B-Tree and `MArySearchTree`(described [here](https://www.cs.auckland.ac.nz/software/AlgAnim/n_ary_trees.html)). If yes then probably `MArySearchTree` should be added first and then B-Tree.

[2020-03-19 14:50] #128 closed

[2020-03-19 18:36] Saptashrungi commented on #65
Is this issue up for implementation? What are basic requirements in case of graphs?

[2020-03-19 18:40] czgdp1807 commented on #65
One has to read this paper, https://arxiv.org/pdf/1403.6652.pdf and see how the current Graph API in `master` can be used or what modifications are needed to implement this algorithm. This issue will require a series of PRs with different components added in each to get the algorithm implemented successfully.

[2020-03-19 18:48] Saptashrungi commented on #65
Okay, I will give it try.

[2020-03-20 00:42] din1881 commented on #108
Hello, this is team bro-grammers from RGSoC '20!
This API design was referenced by https://en.wikipedia.org/wiki/Pairing_heap .
Please review it and get back to us.

Here is the API design in which we suggest the pairing heap would be implemented:
We will have a class ```PairingHeap``` which will contain the following members:
1- ```data```: value of current node.
2- ```LeftChild```: reference to

[2020-03-20 05:46] czgdp1807 commented on #108
Can we reuse `MAryTreeNode` as nodes of pairing heap because this heap is nothing but a multi way tree(refer, https://www.cise.ufl.edu/~sahni/dsaaj/enrich/c13/pairing.htm).See, https://github.com/codezonediitj/pydatastructs/blob/aebae4c801c60d0f92705d53321e222a744da307/pydatastructs/utils/misc_util.py#L55

1. `_isEmtpy` -> `is_empty`
2. `find_Min` -> `find_min`

[2020-03-20 16:13] MukundVaradarajan commented on #129
Hi, I would like to work on this. Is anyone else already working on it? I have got an idea to go about it.

[2020-03-20 16:23] HarsheetKakar opened #180 "Cant insert new node in binary tree."
#### Description of the problem

While trying to add RedBlackTree in binary_tree.py, I encountered the error:
TypeError: __new__() missing 1 required positional argument: 'data'

class BinaryTree:
[code]
[code]

#### Example of the problem

Steps to produce:
- Extend TreeNode class.
- Use that child class as node in BinaryTree.__new__().
- start tests.

#### References/Other comments
Error:
[code]

[2020-03-20 17:26] din1881 commented on #108
Okay, we'll modify the API design and get back to you. @czgdp1807

[2020-03-20 18:00] czgdp1807 commented on #180
I cannot get what you are trying to do. However, intuitively, `RedBlackTreeNode` should inherit `TreeNode`.
I tried the following,
[code]
And replaced `TreeNode` with `RedBlackTreeNode`, there wasn't any problem, tests were passing.

[2020-03-20 18:15] HarsheetKakar commented on #180
I have done exactly the same thing and it is still showing me the same error. I discarded all other changes and just retained changes in utils.__init__, utils.misc_utils.py and binary_trees.BinaryTree it is still giving me the same error

[2020-03-20 18:17] HarsheetKakar commented on #180
![image](https://user-images.githubusercontent.com/42893005/77193983-1a642280-6b05-11ea-9354-3f0995a5b5d5.png)
this is the exact error which is popping up

[2020-03-20 18:18] HarsheetKakar commented on #180
I just wanted to add color attribute to TreeNode so I inherited it to RedBlackTreeNode and then tried everything but the error persisted. Would you recommend any other way?

[2020-03-20 18:19] czgdp1807 commented on #180
What's the python version?

[2020-03-20 18:20] HarsheetKakar commented on #180
3.7.3

[2020-03-20 18:21] czgdp1807 commented on #180
I get your point. You may need override the `__new__` method in `RedBlackTree`. However, can we just extra `color` attribute in `TreeNode`. Default it to `None` for other trees and use that attribute in  `RedBlackTree`.

[2020-03-20 18:23] HarsheetKakar commented on #180
We can do it this once, but it doesnt seem to be a good solution in long term.

[2020-03-20 18:26] czgdp1807 commented on #180
Well, then you will inherit `TreeNode` in `RedBlackTreeNode` and then use it in `RedBlackTree`. Another option can be is to override `BinaryTree.__new__` in `RedBlackTree.__new__`. Have you tried it?

[2020-03-20 18:28] czgdp1807 commented on #180
Can you make a PR for `RedBlackTree` using the approach which is giving the error you have described in the first comment? Let's see how it works out in CI.

[2020-03-20 18:29] HarsheetKakar commented on #180
let me first try overriding `__new__` and if it doesnt work then I will simply add color in keyword and make an issue for someone else to resolve

[2020-03-20 18:29] HarsheetKakar commented on #180
sure

[2020-03-20 18:35] HarsheetKakar commented on #180
Not working with Travis CI either.
#181

[2020-03-20 19:10] HarsheetKakar commented on #180
solution found, implemented it in #181

[2020-03-20 19:10] #180 closed

[2020-03-20 19:40] HarsheetKakar opened #182 "Documentation of AVLTree is incomplete"
#### Description of the problem

Please add documentation for AVLTree functions.

#### Example of the problem

`_balance_insertion()` and `_balance_deletion()` dont have method docs which make them very hard to read.

#### References/Other comments

[2020-03-20 19:51] czgdp1807 commented on #182
Documentation for non-public methods isn't necessary.
Closing.

[2020-03-20 19:51] #182 closed

[2020-03-21 02:05] aravind-karthikeyan commented on #131
Is this still open?

[2020-03-21 03:13] kichloo commented on #37
@czgdp1807 Can I work on this issue?

[2020-03-21 03:15] kichloo commented on #32
@czgdp1807 Can you pl restore the gssoc label as there are 10 more days now for RGSOC but it can be contributed by GSSOC. Pl assign me this! I will complete asap.

[2020-03-21 03:37] kichloo commented on #149
@czgdp1807 Is the issue still open?

[2020-03-21 03:39] kichloo commented on #104
@czgdp1807 Can I work on this issue?

[2020-03-21 06:18] czgdp1807 opened #183 "Accepting child class objects in base class type array"
#### Description of the problem

Currently, arrays in `arrays.py` look for exact type match of elements before adding an element of the array using `type`. This approach is cryptic. Instead, `_check_type` should be used. See, https://github.com/codezonediitj/pydatastructs/blob/aebae4c801c60d0f92705d53321e222a744da307/pydatastructs/linear_data_structures/arrays.py#L78

Well, the following suggests

[2020-03-21 06:26] czgdp1807 commented on #104
@raksha009 Are you still working on this issue? Please let us know.

[2020-03-21 06:27] czgdp1807 commented on #149
Hi @kichloo
@HarsheetKakar is already working on in #171

[2020-03-21 06:29] czgdp1807 commented on #32
Hi @kichloo You can start working on this issue. You can continue, https://github.com/codezonediitj/pydatastructs/pull/48
Please see [our issue policy](https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy) for getting to know how to work on issues.

[2020-03-21 06:29] czgdp1807 commented on #37
@nehasangeetajha is already working on this issue.

[2020-03-21 06:30] czgdp1807 commented on #131
@aravind-karthikeyan No one has picked up this issue. Please start by going through the discussion held here in various PRs opened for this issue.

[2020-03-21 15:24] czgdp1807 opened #185 "Add note of caution in `minimum_spanning_tree(_parallel)`"
#### Description of the problem

The concept of MST is valid only for connected and undirected graphs. If the graph is disconnected and undirected, the result will not be an MST but a forest consisting of many MSTs. However, for directed graphs, result can be anything.
To fix this issue just apply
[pds_diff.txt](https://github.com/codezonediitj/pydatastructs/files/4363179/pds_diff.txt)
 by using `

[2020-03-21 15:26] czgdp1807 opened #186 "Add Edmond's algorithm"
#### Description of the problem

#### Example of the problem

#### References/Other comments
.. [1] https://en.wikipedia.org/wiki/Edmonds%27_algorithm

[2020-03-21 16:11] czgdp1807 opened #187 "Add common abstract methods in LinkedList"
#### Description of the problem

Some methods which are common to all the child classes of `LinkedList` aren't defined as abstract methods in the superclass itself. To fix this issue such methods should be added.
See the following template,
[code]
If you will go through other files such methods are pretty common to locate.

#### Example of the problem

#### References/Other comments

[2020-03-21 16:48] HarsheetKakar commented on #110
The main problem I am facing with this particular issue is that since the implementation of tree is done with array, object chaining is very difficult. Something like `root.left.left` becomes `self.tree[self.tree[self.tree[root_idx].left].left]` so I am planning to add more properties in ArrayForTrees which might help with this project as well as those to come. All suggestions are welcome.

[2020-03-21 16:50] HarsheetKakar commented on #110
shall I raise an issue for implementing properties helping object chaining without pointers?

[2020-03-21 16:59] czgdp1807 commented on #110
Why do we want to do object chaining? Where is this exactly needed?

[2020-03-21 17:05] czgdp1807 commented on #110
[code]
As far as I can figure out, we need to access the current node's either parent, grand parent or sibling. You may define these helper functions in python under `RedBlackTree` class and use them where ever needed.

[2020-03-21 17:07] czgdp1807 commented on #110
You should be able to avoid such `root.left.left` and such stuff as there doesn't appear to be any string having, `->left->` as substring in https://en.wikipedia.org/wiki/Red%E2%80%93black_tree
I hope you are getting my point.

[2020-03-21 17:09] HarsheetKakar commented on #110
I get ur point. I think a function would also work. Lets try that too.

[2020-03-22 13:35] Saptashrungi commented on #65
I would like to work on this issue as it seems interesting to me. I read the paper as well as went through the algorithm. I understood some of it and at some places I am stuck. For eg:

Φ∈R|V|×d:  Initialization:  Sample Φ from U|V|×d

What is U here?
d is embedding size.
The sample Φ is a vector space I assume.

I will soon make a PR with a rough code. It will also contain code for random_walk. T

[2020-03-22 13:44] czgdp1807 commented on #65
PR will be too early, without having discussions on design. We don't even know whether the APIs for graphs will be enough for implementing this. We need to pick the simplest algorithm in the paper(if there are multiple) and discuss on it first.

[2020-03-22 13:47] czgdp1807 commented on #65
In fact, they have used the following as inputs to the algorithm,

1. *w*, window size
2. *d*, embedding size
3. *g*, walks per vertex
4. *t*, walk length

What all do they mean and how can we represent them in pydatastructs?

[2020-03-22 13:53] czgdp1807 commented on #129
@MukundVaradarajan Please start with an API for brick sort. We need only it's parallel version implemented. IMO, the API for this can along the lines of parallel merge sort already there in the `master`.
See, https://github.com/codezonediitj/pydatastructs/blob/150c6c21ff3157200d75e954406f76d88e271e9d/pydatastructs/linear_data_structures/algorithms.py#L43

[2020-03-22 14:00] Saptashrungi commented on #65
I am still reading about them. For now only Random Walk can be implemented
using AdjacencyList.

On Sun, 22 Mar, 2020, 7:17 PM Gagandeep Singh, <notifications@github.com>
wrote:

[2020-03-22 14:03] czgdp1807 commented on #65
I think first that part should be clarified as they are going to be at the entry points of the deep walk algorithm.

[2020-03-22 15:11] Saptashrungi commented on #65
Okay.

On Sun, 22 Mar, 2020, 7:34 PM Gagandeep Singh, <notifications@github.com>
wrote:

[2020-03-22 17:27] DaliaAymanAmeen commented on #108
Here is the modified version of the API design:

1- ```data```: value of current node.
2- ```key```: for comparison operations.
3- ```Children```: DynamicOneDimensionalArray.

The variables: root.
The Class will have the following methods:

[ ] ```is_empty```: A function that will check if root of the heap is null.
[ ] ```find_min```: A function that returns the heap.
[ ] ```merge```: A function t

[2020-03-22 19:28] #183 closed

[2020-03-22 19:34] czgdp1807 commented on #108
IMHO, we do not need a new kind of node. You should be able to reuse, `MAryTreeNode` in Pairing heap.
Rest looks good. You can make a PR for this. Please do not forget to add tests(should be simple enough, I'd suggest pick them from a university lecture, like, https://www.cise.ufl.edu/~sahni/dsaaj/enrich/c13/pairing.htm) and documentation strings(follow numpy doc string style). Take your time, und

[2020-03-23 05:41] ka1shi commented on #186
@czgdp1807 I would like to work on it as part of GSSOC'20. Please assign it to me. Thank You.

[2020-03-23 09:04] TechnoPhasePRO opened #198 "Cocktail Sort"
#### Description of the problem

The code added sorts the array of numbers with minimum complexity as compared to bubble sort.

#### Example of the problem

#### References/Other comments
https://en.wikipedia.org/wiki/Cocktail_shaker_sort

[2020-03-23 09:05] TechnoPhasePRO commented on #198
@czgdp1807 please assign me this issue.

[2020-03-23 09:40] TechnoPhasePRO commented on #198
following is the API design for the cocktail sort :->

`def cocktailsort()`: The cocktail sort function is similar to bubble sort . It traverse thorough both
                       directions while sorting the array. The complexity in comparison is less.
         `list`: It contains the list of elements to be sorted.
         `first`:  first indicates the first index of the array
         `last`:

[2020-03-23 09:41] TechnoPhasePRO commented on #198
@czgdp1807 Please review my API design for cocktail sort.

[2020-03-23 10:40] sar99 commented on #185
Hello sir,
Can I submit a PR for this issue?

[2020-03-23 10:53] czgdp1807 commented on #185
Hi @sar99
Sure. Are you participating through `gssoc20`?

[2020-03-23 11:41] czgdp1807 commented on #198
@TechnoPhasePRO
It looks like you have provided the complete implementation. See the suggestions I have made below.
Cocktail sort is good as a sequential algorithm. However, if thought carefully we can parallelise it by using two threads, one thread moving from left to right and another moving from right to left simultaneously. The thing to be taken care of is to avoid a scenario where the equatio

[2020-03-23 13:35] sar99 commented on #185
Yes sir, I am a participant in gssoc20.

[2020-03-23 14:06] meghanagottapu commented on #131
@czgdp1807 can i work on this issue?

[2020-03-23 14:16] #185 closed

[2020-03-24 02:16] TechnoPhasePRO commented on #198
@czgdp1807 i want to add the PR for this , that's why i proposed API first but @bandaabhigna already added PR without any API ,  i think this is wrong ????

[2020-03-24 09:40] #131 closed

[2020-03-24 10:25] HarsheetKakar opened #206 "Array should be able to convert all sequence type to OneDimensionalArray."
#### Description of the problem

as list can convert any iterable to list, OneDimensionalArray should also be able to convert range, OrderedSet, string etc to OneDimensionalArray

#### Example of the problem

#### References/Other comments

[2020-03-24 10:26] HarsheetKakar commented on #206
and also Array abstract class should be extended from sequence class

[2020-03-24 11:47] czgdp1807 commented on #206
What are the benefits of doing so?

[2020-03-24 12:03] HarsheetKakar commented on #206
1: OneDimensionalArray can already convert string to array if we let it.
2: list can convert any sequence to list, so if we can make array to do the same transition from list to array would become smoother for the user
3: OneDimensionalArray can't take its own object. It is not important but if developer isnt careful and if he/she tries to convert an array again it would give a traceback.
4: Makin

[2020-03-24 18:17] HarsheetKakar commented on #107
heapsort is in place sorting algorithm, how will we indicate user that the heap object cannot be used after sorting it? If it is not supposed to be in placed then we should probably take it out of the class and implement it separately.

[2020-03-24 18:25] HarsheetKakar opened #209 "implement `__reversed__()` in Array"
#### Description of the problem

currently reversed() returns a python list if OneDimensionalArray object is given, it should return ODA object.

#### Example of the problem

#### References/Other comments

[2020-03-24 19:27] czgdp1807 commented on #209
Minor changes are needed, you can do it.

[2020-03-24 19:38] czgdp1807 commented on #206
`list` can store elements of different types but array don't allow that. The reason being the addressing part. Though this is a theoritical limit, but IMHO, this should be respected and at many places in the package, lists are allowed as input to various algorithms and data structures.

Please give an example.

ODA is very different from `list`, `str`(both of these are also different).

`deepcopy`

[2020-03-24 19:49] HarsheetKakar commented on #206
we can do the different type check after allowing the sequence.

[code]

Thats not the main point, the main point is that we can convert string to a list and vice versa which makes it easier to deal with.

I think if we correct the above example this deepcopy will work

[2020-03-24 19:56] HarsheetKakar commented on #209
lets resolve #206 and I will bundle all the changes in one PR

[2020-03-24 19:57] czgdp1807 commented on #209
#206 is a very different issue. Please make separate PR for this one.

[2020-03-24 20:08] HarsheetKakar commented on #209
small correction in the title above, it returns a reversed generator object.

[2020-03-24 20:09] czgdp1807 commented on #206
Please explain more.

I tried deepcopy and observed the following,

[code]
I am not sure that if ODA takes it's own object in the constructor then the deepcopy will work. Some other classes give a similar behaviour. The use case which you are suggesting requires `copy` constructor which isn't available in python other than `copy` module.

Well, we can do as many changes to `ODA`, it will be of ver

[2020-03-24 20:11] HarsheetKakar commented on #209
I think i got confused with sorted and reversed, I am applying the changes in DODA, and not in ODA because it will work as it does with or without method overriding. Sorry for confusion

[2020-03-24 20:24] HarsheetKakar commented on #206
ok I guess I was trying to over engineer it. I still think the ability to take ODA object in the constructor will help in long run, and some changes in DODA which can help in dealing with None values (eg. iterator which will only return till the _last_pos_filled)

[2020-03-24 22:33] DaliaAymanAmeen opened #213 "Inverted Index Algorithm"
#### Description of the problem
Searching through text documents is a process that requires lots of computational powers. For a given search keyword, the naive searching algorithm would be to pass through the corpus of documents iteratively and for each document, check whether the word exists in the document. This algorithm will be very slow for a large corpus of documents. If the corpus had ​D​ d

[2020-03-25 07:24] czgdp1807 commented on #213
Can you suggest a use case(example) for this algorithm through which we can decide what all is needed to get this algorithm implemented?
The use case can include the inputs to a function(in which the algorithm you are suggesting is implemented) and the output of the function.

[2020-03-25 07:26] czgdp1807 commented on #213
Is [this](http://www.dcs.bbk.ac.uk/~dell/teaching/cc/book/ditp/ditp_ch4.pdf) document relevant to the algorithm?

[2020-03-25 07:34] #209 closed

[2020-03-25 12:32] Aimaanhasan opened #215 "Adding Treap Data Structure"
#### Description of the data structure
A Treap is a randomized binary search tree. It is different from random binary search tree, because Treap allows to have `add(x)` and `delete(x)` operations. A node in a Treap is similar to a node in BST, as it has a data value, but also has a unique random priority attached to it. With this priority, it follows the heap property, i.e, every node's priority s

[2020-03-25 12:33] Aimaanhasan commented on #215
I want to work on it to add this to PyDataStructs

[2020-03-25 13:33] czgdp1807 commented on #215
So, where should `Treap` go? In `heaps.py` or `binary_trees.py`? What do you say?

The description for `Treap` data structure is quite good however, we need some concrete APIs to discuss upon. Please come up with an API design. See an example for the same [here](https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects).

[2020-03-25 16:37] czgdp1807 opened #217 "Adding `_to_python_object` in every class"
Every parallel algorithm has `_parallel` appended to it, so putting it under different modules isn't really useful. Though our current classes, may not work with parallel algorithms through processes because sharing user defined objects among processes is not possible with python. A `_to_python_object` method can be introduced in every class to support that. Opening a separate issue for this.

_Or

[2020-03-25 16:41] HarsheetKakar commented on #217
Maybe a naive question but cant this be done by threads instead... I dont think threads have the same issue with its queue.

[2020-03-25 16:45] czgdp1807 commented on #217
Yes, we are doing it by threads for now. They don't really provide parallelism as only one thread executes one time due to GIL.
In addition, what if we want to use a mixture of processes and threads. Processes can run in different memory spaces but threads won't. Will be helpful while porting the code to C++ if we try it out in python(fast prototyping).

[2020-03-25 18:56] kichloo commented on #186
@czgdp1807 Can I take up this issue?

[2020-03-25 18:59] czgdp1807 commented on #186
Yes you can. Start with some use cases and design an API which can be used to access the implementation of this algorithm. Go through, https://github.com/codezonediitj/pydatastructs/wiki/Guidelines-for-Summer-Winter-Projects

[2020-03-25 19:10] HarsheetKakar commented on #217
How to approach this problem? I have had it in different module which if i remember correctly gave me a pickle error (it cant be serialized). I have googled a bit and I couldnt find anything useful.

[2020-03-25 19:15] czgdp1807 commented on #217
We first need to define, how each class can be translated to a builtin python representation. May be a simple recursive algorithm can be designed for this task. By doing this, we can just convert every object to builtin python object which can be operated upon by processes. In addition, a function will also be needed to translate back the outputs to the classes in PyDataStructs. It will be a small

[2020-03-25 19:20] HarsheetKakar commented on #217
you mean by extending them from `object` class?

[2020-03-25 19:25] czgdp1807 commented on #129
Parallel implementation of this algorithm is yet to be added.

[2020-03-25 19:28] HarsheetKakar commented on #129
we can try one thread for odd and one thread for even part of the array.

[2020-03-25 19:30] czgdp1807 commented on #129
Some idea is given in https://github.com/codezonediitj/pydatastructs/issues/129#issuecomment-596113494

[2020-03-25 19:37] HarsheetKakar commented on #129
I can start with a draft PR if its ok?

[2020-03-25 19:48] czgdp1807 commented on #129
Sure

[2020-03-25 23:23] DaliaAymanAmeen commented on #213
Yes it does. And in our design, the input to the function will be (the folder that contains document files, and the word to be found). As for the output it will be the number of the documents that contain that word and the names of the documents themselves.
Let us know what do you think?

[2020-03-26 07:17] czgdp1807 commented on #217
I didn't get your point. Can you please explain more? I meant to represent class every in builtin python object. For example every class can be represented as a `dict`(probably nested) with key as attributes and their values as values of `dict`.

[2020-03-26 08:47] Saptashrungi commented on #65
Window size is the basically the size of the surrounding area of the node which we are considering for node embedding in a graph. We can set the window size according to our convenience.
For example if its value is x, then we can make an edge list where we represent the node and the neighbors associated with node under consideration in the given window size.

[2020-03-26 08:51] czgdp1807 commented on #65
It looks like all the variables in https://github.com/codezonediitj/pydatastructs/issues/65#issuecomment-602203419 are integers, so no extra framework is needed to support these values?

[2020-03-26 09:14] Saptashrungi commented on #65
Yes. The algorithm can be implemented with existing framework.

[2020-03-26 09:32] Saptashrungi commented on #65
For Skipgram implementation Word2Vec model is generally used. It is google’s pre-trained model. It contains word vectors for a vocabulary of 3 million words trained on around 100 billion words from the google news dataset. It is a 1.5 GB download. We need an alternative for this model.

[2020-03-26 11:48] czgdp1807 commented on #65
The problems which we will face,

1. `DeepWalk` relates to graphs but not in a way which should keep the algorithm in the scope of this project.
2. `SkipGram` is an optimisation algorithm which is again doesn't suit the repository.
3. `RandomWalk` can be implemented only if there are enough use cases for the following outpu i.e., the transcript of a random walk.

visited) of a particular random wa

[2020-03-26 12:07] czgdp1807 commented on #213
So both string inputs, first one path to the folder and the second word to be found.
Though exact meaning of document in the context of this algorithm need to be figured out. Wouldn't it be more natural and practical to have a list of strings and a word which is to be searched for in the list. Is this possible to do it?
I will read the paper and will give you a more clear opinion on the feasibilit

[2020-03-26 12:26] Saptashrungi commented on #65
According to me the RandomWalk algorithm can be implemented with existing framework.
I read the source provided by you for the algorithm, will it be enough to implement till section 10.3, which is feasible.

[2020-03-26 14:03] czgdp1807 commented on #65
First this should be done.

[2020-03-26 16:47] Tawishi commented on #153
I would like to take up this issue.

[2020-03-26 16:51] czgdp1807 commented on #153
Priority Queue is now added, so you can work Dijsktra algorithm. See plan of action at https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects

[2020-03-26 18:37] Aimaanhasan commented on #215
Treaps should go in `binary_trees.py`, as we will be needing the properties of `BinarySearchTree` and `SelfBalancingBinaryTree`. Moreover, for the heap property in Treaps, it can be done by just adding a check of heap property, while doing the rotations.

[2020-03-26 18:37] Aimaanhasan commented on #215
### API for Treap
In my opinion, this would be the API for this data structure.
[code]

[2020-03-26 19:11] czgdp1807 commented on #215
Well, I just realised that, `Treap` is formed from, `"Tre"e` + `He"ap"`. Also considering the quote from wikipedia,

So, `Treap` is a Cartesian tree. Can we first work on Cartesian tree and then inherit it in `Treap` as this follows `ISA` relationship? What do you think?

See, https://en.wikipedia.org/wiki/Cartesian_tree#Treaps

[2020-03-26 22:09] #137 closed

[2020-03-27 14:59] #187 closed

[2020-03-27 15:00] faizan2700 commented on #106
@Disha5harma are you working on this issue? I want to participate in gsoc 2020 If no one is working on this I will submit API design. (it seems like this issue has not got any pr since 13 days or any comment therefore I am asking)

[2020-03-27 15:03] faizan2700 commented on #147
@czgdp1807 I would like to participate in gsoc2020 but I can't find the organization's name in the gsoc organizations list.

[2020-03-27 15:03] faizan2700 commented on #147
is this repository part of gsoc 2020.

[2020-03-27 15:03] faizan2700 commented on #147
If yes then I will soon submit My API design for this.

[2020-03-27 15:07] czgdp1807 commented on #106
@faizan2700 Our issue policy and PR policy allows you to work on this issue. API design has already been discussed above. You can directly go for a PR.

[2020-03-27 15:09] czgdp1807 commented on #147
@faizan2700 Are you talking about Google Summer of Code, 2020 or GirlsScript Summer of Code, 2020?

[2020-03-27 15:16] faizan2700 commented on #147
@czgdp1807  google summer of code 2020

[2020-03-27 15:18] czgdp1807 commented on #147
We are not participating in GSoC, 2020 as the organization isn't mature enough. Though we are participating in RGSoC, 2020, the applications for which are open till 30th March, 23:00 UTCA.

[2020-03-27 15:23] faizan2700 commented on #147
@czgdp1807 well RGSOC is for girls. I still want to contribute in this repository ( without any gsoc or rgsoc programme) this repository seems really interesting.

[2020-03-27 16:20] czgdp1807 commented on #147
Sure, you can contribute to this repository. For this issue, some use cases are needed to check if B+ trees are feasible for implementation in Python.

[2020-03-27 18:19] Vanshika266 commented on #109
I have extended `self.tree` in join method. Also, I have added the implementation of join and split methods in SplayTree.
Can you review the code once to see if it is the required implementation?

[2020-03-27 19:15] Saptashrungi commented on #65
`RandomWalk` is used in useful algorithms like `node2vec` and `graph2vec` algorithms, that create node embeddings. It can be used as part of the `Walktrap` and `Infomap` community detection algorithms. If a random walk returns a small set of nodes repeatedly, then it indicates that those set of nodes may have a community structure.
We can implement node2vec using `RandomWalk` later.
[https://arxiv

[2020-03-27 20:00] czgdp1807 commented on #65
It can be used as part of the Walktrap and Infomap community detection algorithms. If a random walk returns a small set of nodes repeatedly, then it indicates that those set of nodes may have a community structure.

Quoting from https://neo4j.com/docs/graph-algorithms/current/labs-algorithms/random-walk/

The above is not what is expected as a "use case" for implementing random walks in this proje

[2020-03-27 20:50] czgdp1807 opened #224 "Implicit Graph"
#### Description of the problem

Currently, we have Graphs with all the edges and vertices stored in memory. This is good for small finite graphs. But for use cases like the one given below, quoted from wikipedia,

it isn't possible to store all the vertices and the edges between them in the memory. So, we need to define a representation with the following components,

1. State/Node
2. Rule/Algori

[2020-03-27 21:39] czgdp1807 commented on #213
So, this is what I understood of the requirements for the algorithm after going through first few pages of the document,

1. The algorithm operates mostly operates on strings. The document can be anything a long string, a file, etc. The query is also a single term. That's just a higher level overview.
2. Before implementing the above algorithm, we need to implement map-reduce. A mapper just maps t

[2020-03-28 11:57] czgdp1807 opened #226 "Allow dynamic graphs with Adjacency Matrix"
#### Description of the problem

With the merging of #225 Adjacency matrix will allow dynamic graphs. So, the following methods should be defined,

1. `add_edge`
2. `remove_edge`

Along with defining them, `prim` implementation of minimum spanning tree should work for these graphs.

#### Example of the problem

#### References/Other comments

[2020-03-28 13:07] Aimaanhasan commented on #215
I have read upon Cartesian Trees a lot after this question. I have come up with two ways to implement this.

### First Approach
We develop Cartesian Tree by inheriting it from `BinaryTree`, and then implement `Treap` by inheriting it from Cartesian Tree, however, we will have to override the insertion and deletion method, as Cartesian Tree do not follow properties of `BinarySearchTree`, when inser

[2020-03-28 14:32] czgdp1807 commented on #215
@Aimaanhasan Is is possible to perform insertion and deletion on Cartesian Trees. I tried to find out, see [1] and [2], and was unable to reach any algorithms for performing insertion and deletion.
Treaps have their insertion and deletion algorithms defined.

.. [1] https://en.wikipedia.org/wiki/Cartesian_tree
.. [2] https://courses.helsinki.fi/sites/default/files/course-material/4594509/cartesian

[2020-03-28 19:00] Aimaanhasan commented on #215
## For Cartesian Tree
Take a look at this [1]. It's the paper, by Vuillemin , where he introduced Cartesian Trees among Data Structures. In this paper, there is an algorithm for insertion. Moreover, the paper describes Cartesian Tree as a tree with nodes having a 2-D coordinate s i.e `(x, y)`, where `x` follows the rules of `BinarySearchTree`, i.e `node.left.x < node.x < node.right.x` and `y` foll

[2020-03-28 19:53] czgdp1807 commented on #215
Thanks @Aimaanhasan
So, it looks that for Treaps we just need to inherit Cartesian Trees and the rest will be done by inheritance. If that's the case then I'd suggest to make a PR to add both Cartesian Tree and Treaps at once.

[2020-03-28 19:59] czgdp1807 commented on #215
Note that we may need to make a new kind of node to store the key and priority in a single node. Currently, only key attribute is there in `TreeNode` classes. For consistency, please use arrays internally for storing trees. After going through the current implementation you should be able to get the point.
P.S. Are you participating through RGSoC, 2020?

[2020-03-28 20:10] Aimaanhasan commented on #215
Yes, I am participating through RGSoC 2020. Moreover, I'll make a PR for both Cartesian Trees and Treaps. I'll take a look on how to use arrays internally for storing trees, and ask you if there is any confusion

[2020-03-28 20:13] czgdp1807 commented on #215
Then please make sure that to submit your application on RGSoC website before, 30th March, 23:00 UTC with a minimum of two coaches. If you face any problem while arranging coaches then please send an invite to me, @pristineVedansh and if needed to @anukritijha246 If your team is already having 2 coaches then not a problem.

[2020-03-29 07:02] HarsheetKakar opened #229 "Add Trie data structure."
#### Description of the problem

#### Example of the problem

#### References/Other comments
[Reference](https://www.geeksforgeeks.org/trie-insert-and-search/)

[2020-03-29 11:33] Aimaanhasan commented on #215
Hey, I would love to have you and @pristineVedansh to coach our team. I have sent you both the request. Can you please confirm?

[2020-03-29 12:57] pravalikavis opened #230 "Matrix Chain Multiplication"
#### Description of the problem
When matrices are given in a sequence, it will find the most efficient way to multiply these matrices together.

_Expectations:_
Time complexity: O(n^2) - (best/ average case)

_Applications:_
1. Graph algorithms
2. Signal processing
3. Network industry
5. Camera calibration to remove lens distortion.
5. If Matrix is inferred as linear expression i.e., it represents

[2020-03-29 13:17] czgdp1807 commented on #230
Can you please suggest the input and output of the algorithm more clearly?

[2020-03-29 13:17] czgdp1807 commented on #229
Please propose an API for the Trie data structure.

[2020-03-29 14:04] jyoti246 opened #231 "Lowest Common Ancestor"
#### Description of the problem
Using a naive approach we can find LCA between two nodes in a non cyclic graph in  ```O(n)``` time. But when there are ```O(n)``` queries i.e we need to get LCA of ```O(n)``` different pairs of nodes, the time complexity becomes ```O(n^2)```.
But by doing some pre processing we can reduce the complexity to ```O(nlogn)```.
There are mainly two approaches:
Binary lift

[2020-03-29 14:09] czgdp1807 commented on #231
Can you please provide some references(research paper, wikipedia, or university lectures) for the algorithm you are suggesting?

[2020-03-29 14:14] Saptashrungi commented on #65
So we need to implement loop-erased randomwalks first. I am working on it.

[2020-03-29 14:25] czgdp1807 commented on #65
Both are required. First simple random walks and then loop erased random walks.

[2020-03-29 14:28] jyoti246 commented on #231
Here are they
For Binary Lifting:
https://cp-algorithms.com/graph/lca_binary_lifting.html
For Eulars Tour , Range Minimum query
https://www.geeksforgeeks.org/find-lca-in-binary-tree-using-rmq/

[2020-03-29 14:37] czgdp1807 commented on #231
Quoting from [1]. This says that the graph should be a tree/DAG. The algorithm for binary trees is already available [here](https://github.com/codezonediitj/pydatastructs/blob/be07fdf45cde1a37f004b920cb2b4bc1e294c12b/pydatastructs/trees/binary_trees.py#L510), please see if any improvements can be made to it.

Is [2] relevant to the algorithm you are taking about?

References

.. [1] https://cp-alg

[2020-03-29 14:45] czgdp1807 commented on #231
Please follow the plan of action available [here](https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects).

[2020-03-29 19:20] HarsheetKakar commented on #229
TrieNode:
The class `TrieNode` will extend from Node base class to represent a node in `Trie`
Attributes:
- `children`- array of None initially for number of symbols possible.
- `is_end`- Boolean to represent leaf position.

Trie:
The class `Trie` to represent data structure Trie.
Attributes:
- `root`- start `Node`.
- `symbols`- symbols expected to be searched in `Trie`
- `size`- total nodes in `T

[2020-03-30 12:11] czgdp1807 commented on #229
Why do we need this?

[2020-03-30 12:11] czgdp1807 commented on #229
Can we go for python dict with `TrieNode` as key?

[2020-03-30 12:12] czgdp1807 commented on #229
Why we need this too?

[2020-03-30 12:14] HarsheetKakar commented on #229
sure, would be better

[2020-03-30 12:14] HarsheetKakar commented on #229
not if we use dict

[2020-03-30 12:15] HarsheetKakar commented on #229
not really needed.

[2020-03-30 13:51] Aimaanhasan opened #234 "_left_rotate and _right_rotate in SelfBalancingBinaryTree"
#### Description of the problem

The existing methods of `_left_rotate` and `_right_rotate` in the `SelfBalancingBinaryTree` are not working properly as it assumes j as the left child of parent in `_right_rotate` and right child of parent in `_left_rotate`, which causes conflict in some nodes.

#### Example of the problem

[code]

In this example node at index 3 has parent 5, while node at index 2

[2020-03-30 13:52] Aimaanhasan commented on #234
See PR #235

[2020-03-30 13:56] czgdp1807 commented on #234
The rotation methods of `SelfBalancingTree` are only used in it's child classes. So, the above example may not be a compelling reason to make a fix. Can you please try the same example out with `AVLTree`? Compare the outputs by visualisations generated in https://www.cs.usfca.edu/~galles/visualization/AVLtree.html by the same series of operation.

[2020-03-30 13:58] czgdp1807 commented on #234
The fix for the bug(if it exists) should be made in a separate PR for maintaining git history in a better way.

[2020-03-30 14:13] czgdp1807 opened #236 "Add some links to data structure visualisation websites"
#### Description of the problem

Some data structure visualisation links can be added to README under [testing guide](https://github.com/codezonediitj/pydatastructs#testing) so that's easier for the developer to test their code efficiently.

#### Example of the problem

#### References/Other comments

[2020-03-30 14:23] #129 closed

[2020-03-30 14:32] arathyrose commented on #236
Hi, this website: [https://visualgo.net/en](https://visualgo.net/en) has pretty good visualisations in data structures and algorithms through animation. May I add it in the readme?

[2020-03-30 14:36] czgdp1807 commented on #234
Confirmed. This is a bug. Thanks for pointing out.

[2020-03-30 14:42] czgdp1807 commented on #236
Sure. Add https://www.cs.usfca.edu/~galles/visualization/ as well.

[2020-03-30 14:42] Aimaanhasan commented on #234
I am making a

Creating a new PR for FIX

[2020-03-30 15:03] HarsheetKakar commented on #217
I cant understand it exactly, can you explain it to me with this example?
[code]
this is the class, how do u want ABC to change

[2020-03-30 18:08] neha153 commented on #230
strassen's matrix multiplication method would work.
time complexity is O(n ^log7)

https://www.tutorialspoint.com/design_and_analysis_of_algorithms/design_and_analysis_of_algorithms_strassens_matrix_multiplication.htm

this site can give u all the details abt it

[2020-03-30 21:10] JyotiSunkara commented on #65
Hello, I have implemented a basic random walk code in python. Done for the drunk man's random walk mathematical problem. Can be seen here: https://github.com/JyotiSunkara/Drunk-Man-Random-Walk
Please assign this issue to me, so that I can work on it.

[2020-03-31 08:05] czgdp1807 commented on #65
@JyotiSunkara Thanks for sharing your code. According to our [issue policy]() we don't assign issues. As a first step please design an API for simple random walks. The input can be a graph and a starting node and may be some indicator input(probably an the length of output required) to let the function know when to stop. The output can be a list of nodes traversed by the random walk. The code shou

[2020-03-31 15:08] HarsheetKakar opened #239 "Add Matrix multiplication (sequential and parallel)"
#### Description of the problem

#### Example of the problem

#### References/Other comments

[2020-03-31 17:08] #236 closed

[2020-03-31 18:12] czgdp1807 commented on #239
We would be needing strassen's algorithm to be implemented, which is the best I know, for sequential version. Any other you are aware of?

[2020-03-31 18:14] czgdp1807 commented on #239
A lot of algorithms are described here https://en.wikipedia.org/wiki/Matrix_multiplication_algorithm
We need to implement them all. Should go to, `linear_data_structures.algorithms`.

[2020-03-31 18:17] czgdp1807 commented on #230
@neha153 The references in OP aren't concerned about multiplying two matrices, it is about finding a correct order to multiply a chain of matrices.

[2020-03-31 18:29] HarsheetKakar commented on #239
I have tried to pitch that idea in many repos but they all come to the same conclusion to not do it because it takes up a lot of space and practically is slow even if the asymptotics are better

[2020-03-31 18:31] HarsheetKakar commented on #239
Lets start with naive implementation ( O(n^3) ) of sequential and parallel and then see if strassen is doable.

[2020-03-31 18:33] czgdp1807 commented on #239
Can you provide any numbers(time, space) of from the analysis they used to arrive at the conclusion?

[2020-03-31 18:33] czgdp1807 commented on #239
Isn't of much use, it's too simple to implement.

[2020-03-31 18:37] HarsheetKakar commented on #239
One of the senior programmers stopped me from actually approaching the problem and closed the issue. So I dont know the actual issues they have but I can try it.

[2020-03-31 18:37] HarsheetKakar commented on #239
and the parallel one?

[2020-03-31 18:38] czgdp1807 commented on #239
Quoting from, https://en.wikipedia.org/wiki/Strassen_algorithm#Implementation_considerations

The image under https://en.wikipedia.org/wiki/Matrix_multiplication#Computational_complexity gives a graph where all the algorithms are named, so all of them should be implemented.

[2020-03-31 18:39] czgdp1807 commented on #239
Yes we can go with that. I think it's not that difficult to implement.

[2020-03-31 18:40] HarsheetKakar commented on #239
sure

[2020-03-31 18:41] czgdp1807 commented on #239
Can you please provide a link to that issue? A proper research is needed on this is needed before reaching to any conclusion.

May be due to recursion it may be slow for small matrices. We should use iterative logic using stacks.

[2020-03-31 18:45] HarsheetKakar commented on #239
if I could have I would have but the thing is I was preparing for gsoc last year when I pushed this issue so I have no recollection what so ever from where I got it.

we can start it and we can optimize as we move, I will start with the parallel multiplication first and then move to strassen.

[2020-03-31 18:59] RidhimaKohli commented on #65
Hello , I am Ridhima , working with Saptashrungi . I have shared some code regarding this issue

[2020-04-01 17:13] HarsheetKakar commented on #239
should it be applicable for `DODA` also? If yes then how should the `None` values be handled?

[2020-04-02 02:38] JyotiSunkara commented on #65
For the API for random walks, I think the input  should be
`n: The number of steps taken in the random walk`
`d: The dimensions of the random walk. Can be 1/2/3D`
`o: The start point or the origin of the random walk`

The out put can be a list of coordinates/nodes visited and the corresponding graph.
Is this okay?

[2020-04-02 07:36] czgdp1807 commented on #65
How will you explain the concept of 2D random walks on Graphs?

[2020-04-02 08:28] JyotiSunkara commented on #65
In the graph each point (x, y) will be a position visited during the walk. (Time will not be represented)

[2020-04-02 08:41] czgdp1807 commented on #65
Well, IMHO, 1D/2D/3D random walks in the context of Graph data structure don't hold any meaning. [This document](https://people.math.osu.edu/husen.1/teaching/571/random_walks.pdf) reflects what is required to be implemented. Though what they have done is similar to Markov chains i.e., they made a transition matrix with M[i][j] denotes the probability that the transition will be made to vertex v_j

[2020-04-02 11:14] golashboy commented on #111
I would like to work on it.

[2020-04-02 14:04] czgdp1807 commented on #111
@golashboy You can work on it. Please go through https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects to see the steps for adding any data structure or algorithm. The API for depth first search should be similar to https://github.com/codezonediitj/pydatastructs/blob/797ec26e210c82fb8459a947e28307c16016c951/pydatastructs/graphs/algorithms.py#L22-L23

[2020-04-02 22:35] JyotiSunkara commented on #65
A particle moving on the surface of a fluid exhibits 2D random walk and its trajectory can be represented by the graph we were talking about. (I was talking about a matplotlib graph)

I have understood the document and the requirement now.
I think the API should be,
Input:
`G(V, E)`: The graph
`s`: Start node

`L`: List of nodes traversed
`P`: List of probabilitiy of reaching each node

[2020-04-03 07:16] golashboy commented on #111
Ok thanks

[2020-04-03 07:56] Saptashrungi commented on #65
[This document](https://people.math.osu.edu/husen.1/teaching/571/random_walks.pdf)
The probability of next node in random walk can be decided based on the weight of the edge or degree according to the source you shared. Which one should be implemented?

[2020-04-03 08:09] czgdp1807 commented on #107
`heapsort` can be written as a function in `algorithms.py`. A max heap can be built using `BinaryHeap`. Exact algorithm is available at https://en.wikipedia.org/wiki/Heapsort (See pseudo code)

[2020-04-03 08:16] czgdp1807 commented on #65
ping @JyotiSunkara

That's not in the scope of this package, IMHO.

graph (See `Graph` class in `graph.py`)

s -> start_node (Use full names, tab completion is there so lengthy names not a problem)

Add an extra parameter to signal the function when to stop. May be the maximum required length of the output list.

Before starting work just go through the code in [this file](https://github.com/codez

[2020-04-03 08:17] czgdp1807 commented on #65
Well, providing an option to the user to decide will be better. By default, next vertex can be chosen uniformly from the set of the neighbours of current vertex.

[2020-04-03 08:22] HarsheetKakar commented on #107
draft PR coming up

[2020-04-03 08:22] #206 closed

[2020-04-03 09:21] Saptashrungi commented on #65
If we keep options then user will be provided the following options:
1. Uniform `Randomwalk`
2. `Randomwalk` with probability based on weight of edges
3. `Randomwalk` with probability based on degree of current node

The user will give the following inputs:
1. Graph : `AdjacencyList` or `AdjacencyMatrix` (option will be provided)
2. `Type` of Randomwalk which will decide the `probability` for next

[2020-04-03 09:29] czgdp1807 commented on #65
How will those options provided through code?

Not needed. Can be figured out from the `graph` which is passed in the arguments itself.

How? What will be the values that can be attained by `Type` and what will be the type of `Type`?

If start is not given then from where will you start the walk?

[2020-04-03 09:35] Saptashrungi commented on #65
If user does not provide the start node, the function will randomly start a walk from a randomly chosen node.
`Type` will be string, where it can be : "Uniform", "Weight_Biased", "Random"

The code for all the types would be similar. Only difference will be in the `probability` list.
Based on the type provided by the user will can accordingly create `probability` of data-type list.

[2020-04-03 12:06] czgdp1807 commented on #65
If observed there is no difference between uniformly random and degree based probability. So, if there should be only two options either weight based probabilities or degree based probabilities. By default it should be degree based.

[2020-04-03 12:38] Saptashrungi commented on #65
Okay, we will give two options to the user, keeping degree based as default. Rest of the API would be the same. Should I start working on it?

[2020-04-04 07:41] czgdp1807 commented on #65
Where are the weight based probabilities used? Degree based are used in Wilson's algorithm but what about the other ones? If we don't have any reason to include weight based probabilities then no need to complicate the things.

[2020-04-04 09:48] Saptashrungi commented on #65
I tried but was unable to find a suitable algorithm for random walk with weights. I will implement degree based random walk and make a PR soon. Any more suggestions?
How do we write tests for this, as the output will be random?

[2020-04-04 09:52] czgdp1807 commented on #65
Fix the seed in the test function to get deterministic outputs.

[2020-04-04 11:31] czgdp1807 commented on #217
`ABC._to_python_object` will return a dict,
`pyobj = {attr: getattr(abc_object, attr) for attr in dir(abc_object)}`. More filters are required like, removal of methods/properties, since in multiprocessing they won't be of any use. `_to_python_object` has some use cases,

1. `deepcopy` will work no matter what, just use,
[code]

2. Helpful in sharing objects among processes as only builtin python o

[2020-04-04 22:08] JyotiSunkara commented on #65
Understood, will code and ask for feedback in while.

[2020-04-05 01:25] Jahnavi-Jonnalagadda commented on #39
@czgdp1807 Could you please provide the link for this code where the changes are to be made?

[2020-04-05 08:41] Amitsharma45 commented on #147
hi i am from girlscript sumer of code 2020 and i wnat to work on this issue.
@robotjellyzone

[2020-04-05 17:40] HarsheetKakar commented on #217
ok so if ABC has a data attribute of DODA and then _to_python_object will call DODA._to_python_object recursively?

[2020-04-05 20:06] czgdp1807 commented on #217
Yes.

[2020-04-06 19:21] #234 closed

[2020-04-07 02:09] JeanPierreMR commented on #104
Hello, retaking this problem (gonna work on it)
I could make a class that works as an array of arrays, so instead of this
__getitem__(self, *indices)
__setitem__(self, value, *indices)
which would mean that you have to call for the item like this
`list[1,4,5]`
you could call it like this
`list[1][4][5]`
I feel that's the popular and most understandable way

[2020-04-07 15:18] czgdp1807 commented on #104
Well, internally a 1D list should be used.

[2020-04-07 17:34] vibhu18116 commented on #101
I was looking through MArySearchTree on the [link](https://www.cs.auckland.ac.nz/software/AlgAnim/n_ary_trees.html) you referenced earlier.

However, I don't see a determinate way of insertion.

Say, if the nodes can have 4 children, and root has currently 3 only as a data item, then on trying to insert 5, it can become a part of the root, or go in a child node to the right of 3.

Can you clarify

[2020-04-08 08:02] Sapna2001 opened #250 "Update Readme."
Readme can be updated with details of mentors,admins,slack channels and details of gssoc. Please assign me this issue.

[2020-04-08 11:43] #109 closed

[2020-04-08 11:47] czgdp1807 opened #251 "Correct order of parameters in doc strings"
#### Description of the problem

As of now, the order of `Parameters` in docstrings of classes/functions doesn't align with the order required in their prototype. For example, `TreeNode(key, data=None)` then the order of parameters in doc strings should be,
[code]

and NOT,

[code]
All doc strings should be checked for this consistency for closing this issue.
#### Example of the problem

#### Refe

[2020-04-08 12:02] #107 closed

[2020-04-08 12:11] czgdp1807 commented on #250
No, the above information won't be of any use to non-GSSoC contributors. The details are already there on GSSoC website.

[2020-04-08 12:11] #250 closed

[2020-04-08 13:16] czgdp1807 commented on #101
I see, the current implementation in `m_ary_trees.py` doesn't align with the description given [here](https://www.cs.auckland.ac.nz/software/AlgAnim/n_ary_trees.html). It should contain a group of keys but it just contains a single key. A minor update is needed on it.

Some research is needed.

[2020-04-08 13:17] HarsheetKakar opened #252 "Proposal: We should use metaclass to enforce derived classes to implement certain functions."
#### Description of the problem

Currently if we want someone to implement a particular function we put it in base class and raise a NotImplementedError if someone skips it in the derived class. The problem comes when it isnt called. Programmer can simply use `push` instead of `append` and it wouldn't give an error simply because the method not being used by the user. It will also pass all tests,

[2020-04-08 13:26] czgdp1807 commented on #252
Which classes are causing such problems as of now?

[2020-04-08 13:42] HarsheetKakar commented on #252
As of now it isnt, but there is a potential of problems which for example if I inherit from `Queue` in some other file for maybe creating some other queue like datastructure, and instead of `append` I implement the function `push`. If the user is using vs code or maybe `inspect` module to get the names of method it will give both `push` and `append` but when the user uses append it gives `NotImple

[2020-04-08 14:07] czgdp1807 commented on #252
As of now, there is a practice of creating an interface class and then defining various implementation classes after inheriting the interface class. So, if abstract methods like, `popleft` is there in the base class and `pop_left` is defined in the child class and someone uses `pop_left` in the tests then simply there will be no errors but `popleft` will show the `NotImplementedError`. What are th

[2020-04-08 14:28] HarsheetKakar commented on #252
exactly there will not be errors in case of `pop_left` and both `popleft` and `pop_left` will make their way to the master branch if the code reviewer messes it up. Right now we have one code reviewer, but if in the future if there are several of them and one does not remember to look up in the base class if all the methods that need to be implemented are being implemented in derived class. This c

[2020-04-08 14:41] czgdp1807 commented on #252
Well, meta classes aren't there in C++ right now and when we will port the code to C++, Metaclasses may make things difficult. Instead of complicating things, can we just extend the code quality tests to confirm that a subset of methods for every class is implemented. Like, we can have a list of classes which are in global namespace(public API is what that matters). There should be a static method

[2020-04-08 14:47] #252 closed

[2020-04-09 13:44] czgdp1807 opened #254 "Enforcing implementations of certain methods in classes"
#### Description of the problem

As highlighted in https://github.com/codezonediitj/pydatastructs/issues/252 there are good chances that API can become inconsistent if certain methods aren't named properly and such mistakes are missed in the review process. So, a solution should be proposed to solve this problem satisfying the following conditions,

1. A set of certain methods should be implemente

[2020-04-09 15:01] #111 closed

[2020-04-09 16:36] HarsheetKakar commented on #254
One way is to use something like __init_subclass__ if it works or plain old collections.abc should work too

[2020-04-10 16:15] robotjellyzone commented on #147
Hi @Amitsharma45 yes, you can work on this issue but please discuss the API/your solution first here and send the PR according to PR policy.

[2020-04-10 16:18] robotjellyzone commented on #231
Hi @jyoti246 any update? are you still working on this ?

[2020-04-10 16:20] robotjellyzone commented on #229
Hi @HarsheetKakar are still working on this ? Any update ?

[2020-04-10 16:21] robotjellyzone commented on #217
Hi @HarsheetKakar are you woking on this issue ?

[2020-04-10 16:24] robotjellyzone commented on #136
Hi @prshnt19 are still working on this issue ? please give an update !

[2020-04-10 16:28] czgdp1807 commented on #136
Well, we are going to port the code to C++11 when the design gets stable enough. So, optimising the code for python won't be of much use. Closing this. Thanks for your contributions.

[2020-04-10 16:28] #136 closed

[2020-04-10 16:30] czgdp1807 commented on #100
It's just about making things complex and difficult to maintain. Closing for now. You can go to #254 and #255 for doing these kind of things. Thanks for your contributions.

[2020-04-10 16:30] #100 closed

[2020-04-10 16:58] vibhu18116 commented on #101
I think adding a method to insert a value in the node in `MAryTreeNode` should work. The value will be added if currently the number of values in the node are less than (max_children - 1), else, error can be thrown.

Does this work?

[2020-04-11 02:30] kichloo commented on #186
@czgdp1807 Function `mst `will have 2 parameters:
- `root`
- `G`

Then,we will have function `load` having 2 parameters:

- `arcs`
- `weights`

Then function `reverse`  having the parameters:
- `graph`

Function `getCycle` having 4 parameters:
-  `n`
-  `g`
-  `visited`
-  `cycle`

Function `mergeCycles` having 5 paramaters:
- `cycle`
- `G`
- `RG`
- `g`
- `rg`

[2020-04-11 06:42] czgdp1807 commented on #186
API for minimum spanning trees are already there in `master`. Why do you need `load`, `reverse`, `getCycle`, and `mergeCycles`? Can you please explain the use of each one of them?

[2020-04-11 06:44] czgdp1807 commented on #94
IMHO, as of now we don't need optimizations. The focus is right now working on design and prototyping as many algorithms as possible so that porting the code to C++ will be easy in future. Thanks for your contributions.

[2020-04-11 06:44] #94 closed

[2020-04-11 06:47] czgdp1807 commented on #101
How it will help in having multiple keys in the node?

[2020-04-11 07:48] kichloo commented on #186
@czgdp1807 Actually, this is my first contribution to this project, so I didnt know about which functions are already present, thats why I mentioned all the functions of the program

[2020-04-11 09:11] pravalikavis commented on #230
Input will be a one dimension array specifying the order of matrices that are supposed to be multiplied, the output will be the order in which the matrices need to be multiplied which is the most optimal order.

**An _explanation_ of why we want to implement this algorithm**:
 We are given a sequence (chain) --> **A1, A2,...,An**  of n matrices to be multiplied, and we wish to compute the product

[2020-04-11 14:14] czgdp1807 commented on #230
IMHO, we should provide an API to solve the following which is a generalisation of the matrix chain multiplication problem,

[This paper] has been cited in the above quote, though I do not know how it relates to the above generalised problem.

[2020-04-11 14:45] kichloo commented on #186
@czgdp1807 `load ` function will be used to set the value of g depending on the source.
`reverse ` function will be used to set the value of g  based on the destination. `getCycle` function will be used to set the value of the visited variable and the cycle variable.  The `mergeCycle ` will be used to  find the minimal internal edge weight

[2020-04-11 17:49] pravalikavis commented on #230
From my understanding, the paper that you have mentioned has developed an algorithm with a central idea of matrix chain multiplication to multiply **multi-dimension matrices**. But I wanted to work on **linear chain or 2D matrix chain of multiplication**.

[2020-04-12 02:41] Disha5harma commented on #147
@czgdp1807 Is anybody still working on this?

[2020-04-12 03:07] robotjellyzone commented on #147
Hi @Amitsharma45 are you working on this or else @Disha5harma can start to work on this issue.
@Disha5harma if there is no reply from amit after 1pm then you can begin to work on this issue

[2020-04-12 03:10] robotjellyzone commented on #147
Hi @Disha5harma since there is no reply from @Amitsharma45 so, you can begin to work on this issue.
Before that, don't forget to share you API or solution here and also, follow all the PR rules before making a PR

[2020-04-12 03:21] Disha5harma commented on #147
@robotjellyzone Okay.Thanks.

[2020-04-12 06:49] Amitsharma45 commented on #175
@czgdp1807  i want work on this issue

[2020-04-12 07:52] czgdp1807 commented on #175
This should be answered first.

[2020-04-12 07:56] czgdp1807 commented on #230
Where is the result of matrix chain multiplication(i.e., the optimal order of multiplication) is used in graph algorithms? Like is there any algorithm which you are aware of?

A more abstract API for solving generalised problem can have the following inputs,

1. Sequence of objects as `list`, `Array` , etc.
2. Cost of associative binary operation - a function.

[2020-04-12 13:12] vibhu18116 commented on #101
So, the node can store the (data, key) as a tuple in a dynamically sized array which can grow up to (m-1) size where m is the maximum number of children a node can have.

The information about the children nodes is already stored in the children array.

[2020-04-12 19:38] czgdp1807 commented on #101
Here's what I have thought of,

**MAryTreeNode**

1. **key_list** - A `SinglyLinkedList` with key, data in `LinkedListNode`. The framework for linked lists is in `linear_data_structures`. We can keep array as well but for consistency, `tuple` might not be a good idea instead, I'd suggest to factor out the `key` and `data` part to the abstract node class as almost every node has these two members a

[2020-04-12 19:40] pravalikavis commented on #230
I have proposed this algorithm based on this [article](https://www.riverpublishers.com/journal_read_html_article.php?j=JCSM/7/4/3). This article specifies that the algorithm can be used in graph algorithms. I haven't gone through which specific graph algorithm uses matrix chain multiplication.

There will be one API --> get MatrixChainOrder(orderOfMatrixes[])

input for the above API is an array o

[2020-04-12 19:43] pravalikavis commented on #230
Are you suggesting that the algorithm should run based on this input function?

[2020-04-12 19:46] czgdp1807 commented on #230
Yes to make things more abstract. Matrix chain multiplication is mostly an example for DP problems but an API solving it's generalisation can be more useful.

[2020-04-13 18:39] pravalikavis commented on #230
Ok from my understanding, the algorithm should be based upon the input function. For example, if A, B, C matrices optimally should be multiplied in (AB)C order with 4,500 operations but because of the input function which wanted binary operations 6,000 operations so we give output as  A(BC) order as it has nearly 6,000 operations. But I see one problem with this approach why would anyone want to o

[2020-04-14 12:07] czgdp1807 commented on #230
Not necessary to be matrices. Consider this use case, A[1], A[2], ..., A[n] are sequence of objects on which an operator say, `#` this is applied which is having the cost defined by the following function,
[code]
So, I will call `optimal_grouping([A[1], A[2], A[3], ..., A[n]], cost)`. Now, I will expect the optimal grouping which will result in minimum total cost. So, I am saying to add an API whi

[2020-04-14 17:32] HarsheetKakar commented on #217
@czgdp1807 have you seen the multiprocessing.shared_memory? I think it will solve our problem in a much easily.

[2020-04-15 04:22] JeanPierreMR opened #257 "Adding profiling"
#### Description of the problem
There is no profiling, and i think its something really important for a data structure, with this we could compare how well they are performing and help us detect when there is something that is slowing down the structure too much.
It doesn't have to be too complicated, a simple test code run by cProfile will do
#### Example of the problem

#### References/Other com

[2020-04-15 05:06] czgdp1807 commented on #257
How will that be done? How will we figure out that whether the theoretical complexity of a data structure matches with the profiling data?

[2020-04-15 05:12] czgdp1807 commented on #217
May be it is for python 3.8,
[code]
How will deep copy work using shared memory?

[2020-04-15 07:27] HarsheetKakar commented on #217
yes it is for python 3.8>, and we dont need to pickle the object so I dont think we need to deepcopy anything, I will look into it

[2020-04-15 17:48] vibhu18116 commented on #101
This works. But the array could have been subjected to binary search to search a particular element in that node. However, this won't be possible in the linked list implementation. So, what is your opinion about this?

[2020-04-16 02:19] pravalikavis commented on #230
Ok. Can I start working on this?

[2020-04-16 08:00] Amitsharma45 commented on #251
can you explain this issue in detial

[2020-04-16 11:11] czgdp1807 commented on #101
Well, the maximum size of the key_list won't be very large so, O(log(m)) or O(m) will not make much of a difference. Over optimisation can be avoided here. If `m` is large then `MAryTree` will not be of any practical use.

[2020-04-16 11:12] czgdp1807 commented on #101
Though if you are aware of any use case where `m` is very large then we can think of using arrays.

[2020-04-17 11:45] SinghHimadri commented on #120
Can I work on this issue? I am new to this project.

[2020-04-17 13:18] czgdp1807 commented on #230
Yeah you can.

[2020-04-17 19:01] JeanPierreMR commented on #148
Hi, as Wikipedia notes, a 2-3-4 tree is needed, should I open a different issue on it?

[2020-04-17 19:13] JeanPierreMR commented on #257
To be able to compare it we could design a test with different sets of random data (varying in the amount of data) and then plot the time it takes for each set in a graph, and that should give us an idea of the practical complexity of the data structure. Depending on the data structure, this could be hard or easy.
Maybe we could use other tools than cProfile, depending on the need of each test

[2020-04-18 09:00] czgdp1807 commented on #257
How can we compare graphs automatically?

[2020-04-18 09:10] czgdp1807 commented on #257
We can create performance tests for each data structure. We can test all the features of a data structure by creating sufficiently large test cases for each one of them. The tests should fail if they do not complete within a certain time limit. For example, for O(N) time complexity, 100000 size should be sufficient and the performance tests should complete under 10s(due to python). We can try this

[2020-04-18 14:49] Disha5harma commented on #147
My API design is as follows:
leaf_node:
This class is to perform operations on leaf nodes
attributes:
previous_node: for keeping track of previous linked list node in leaf
next_node: for keeping track of next linked list node in leaf
parent: for keeping track of parent of the respective node
order: order of the b+ tree
functions:
align : sorts the elements of leaf and splits if required
find : to

[2020-04-20 03:18] poojithamiryala opened #260 "Huffman Coding"
#### Description of the problem
Given a set of symbols along with their frequencies, we will find a variable-length binary code that can be assigned to each and every symbol.
The main objective of this algorithm is to usually transmit information using the fewest number of bits in such a way that every encoding is unambiguous.

_Expectations:_
 Time Complexity:O(nlogn)

_Methods:_
1. buildHuffmanT

[2020-04-20 07:28] Aakansha99 commented on #231
Can I work on this issue?

[2020-04-20 07:30] Aakansha99 commented on #226
Kindly assign this issue to me

[2020-04-20 07:39] czgdp1807 commented on #226
We do not assign issues. You can work on it without being assigned.

[2020-04-20 08:23] czgdp1807 commented on #260
Not an urgent need.

[2020-04-20 08:26] czgdp1807 opened #261 "Add links to wiki in README"
#### Description of the problem

The following links should be added to the README under, `How to contribute?` section.

1. https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy
2. https://github.com/codezonediitj/pydatastructs/wiki/Pull-Request-Policy
3. https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects

#### Example of the problem

#### References/Oth

[2020-04-20 08:31] czgdp1807 commented on #231
Read the stuff above and work accordingly.

[2020-04-20 10:04] #254 closed

[2020-04-20 11:58] abhishektandon commented on #261
Can I work on this?

[2020-04-20 11:59] czgdp1807 commented on #261
Yes

[2020-04-20 12:00] abhishektandon commented on #261
Do I have to copy/paste the content inside the links on the README files or just the links?

[2020-04-20 12:03] czgdp1807 commented on #261
Links

[2020-04-20 13:39] abhishektandon commented on #261
I have sent a pull request, please review

[2020-04-20 14:06] anurajbhandari5 commented on #261
can i do it?

[2020-04-20 14:20] #261 closed

[2020-04-22 04:31] AparnaJuhi opened #263 "PCA"
Dimensionality Reduction Algo of dataset

[2020-04-22 04:34] AparnaJuhi commented on #263
Principal component analysis (PCA) is a technique used to emphasize variation and bring out strong patterns in a dataset. It's often used to make data easy to explore and visualize.

[2020-04-22 06:41] AparnaJuhi commented on #263
I wanna work on this issue @czgdp1807

[2020-04-22 08:47] vibhu18116 commented on #101
I didn't find any specifics about the node size in different applications. So, if you say, I can proceed with a linked list.

[2020-04-22 09:02] czgdp1807 commented on #101
Sure, feel free to proceed.

[2020-04-22 09:04] czgdp1807 commented on #263
Thanks for the contributions.
There are many optimised implementations of PCA already available. You can see one of them [here](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html). In addition, PCA is more useful in the domains of ML. Closing this issue as it is not in scope of the project.

[2020-04-22 09:04] #263 closed

[2020-04-24 13:59] #106 closed

[2020-04-24 13:59] #215 closed

[2020-04-24 14:02] czgdp1807 opened #264 "Reference for tests"
#### Reference for tests
- URL: https://opendatastructures.org/ods-python.pdf

_Originally posted by @Aimaanhasan in https://github.com/codezonediitj/pydatastructs/pull/235#issuecomment-619012765_

The above URL can be added to README under `Testing` section.

[2020-04-24 16:21] Souvikns commented on #264
can you assign it to me

[2020-04-24 16:22] czgdp1807 commented on #264
You can work on it.

[2020-04-24 16:26] Souvikns commented on #264
I have created a pull request

https://github.com/codezonediitj/pydatastructs/pull/266

[2020-04-25 10:38] #264 closed

[2020-04-29 13:26] Rukmini-Meda commented on #251
I would like to work on this issue. Please assign this to me as part of GSSoC'20.

[2020-04-29 13:27] Rukmini-Meda commented on #231
I would like to work on this issue. Please assign this to me as part of GSSoC'20

[2020-04-29 13:50] robotjellyzone commented on #231
Hi, @Rukmini-Meda yes, go ahead but please remember to follow the [plan of actions](https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects) and please first discuss here regarding your solution and approach here.

[2020-04-29 13:53] Rukmini-Meda commented on #231
Can you please assign this issue to me to avoid any confusion?

[2020-04-29 13:55] robotjellyzone commented on #231
No we can't as there is no such rule of assigning here ! You can just straight away work on it without being assigned and if in case others also provide solution for this issue then the most appropriate and suitable solution will be merged !

[2020-04-29 13:56] Rukmini-Meda commented on #231
Okay.

[2020-05-04 14:16] anirudh-kac opened #273 "Quick Sort"
#### Description of the problem
I suggest adding quicksort algorithm in linear data structures
i.e linear_data_structures.algorithms.quick_sort()

There are some sorting algorithms already there, with same nlogn complexity, but since most inbuilt sorting algorithms are implemented using quicksort, we should also add quick sort

[2020-05-04 14:40] czgdp1807 commented on #273
Thanks. IMHO, parallel implementation of iterative quick sort should be added. API discussion isn't needed as quick sort should follow the APIs of existing sorting algorithms.

[2020-05-04 15:12] anirudh-kac commented on #273
Sure, I'll Start Working

[2020-05-06 10:40] rohitrox444 commented on #229
I want to Work on this issue

[2020-05-06 10:59] robotjellyzone commented on #251
Hi @Rukmini-Meda yes, you can work on this issue go ahead!

[2020-05-06 11:03] robotjellyzone commented on #231
Any update @Rukmini-Meda? Are you still working on it!

[2020-05-06 11:04] Rukmini-Meda commented on #231
Yes, I am working on it. Need little time. Will make a PR soon by tomorrow.

[2020-05-06 11:06] robotjellyzone commented on #186
Any update @kichloo ?

[2020-05-06 11:09] robotjellyzone commented on #147
It looks good to me, you can simultaneously propose the PR  @Disha5harma , if you are still working on this

[2020-05-06 12:20] rohitrox444 commented on #175
i want to work on this issue

[2020-05-06 12:24] kichloo commented on #186
@robotjellyzone I had submitted the API for it and was waiting for reply by czdp. Why have you unassigned it?

[2020-05-06 12:26] robotjellyzone commented on #186
Hi @kichloo i can't see your submitted PR for it and also there was no update but if you have done something for this then please share the PR link here

[2020-05-06 12:50] rohitrox444 commented on #148
I want to work on this issue

[2020-05-06 13:05] robotjellyzone commented on #148
Hi @rohitrox444 yes, feel free to first share your API regarding your solution here and if you've any doubt then go through https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects for the steps.

[2020-05-06 13:22] kichloo commented on #186
This is the comment. And I want to work on this issue and was waiting to be assigned or discussed with.

[2020-05-06 13:27] robotjellyzone commented on #186
Hi @kichloo there is not assignment here in this org, you can right away start to work on the issue but first, you need to discuss your API here regarding your solution , if you have any doubt then go to this --> https://github.com/codezonediitj/pydatastructs/wiki/Guidelines-for-Summer-Winter-Projects and also for API design go through --> https://github.com/codezonediitj/pydatastructs/wiki/Plan-o

[2020-05-06 13:29] robotjellyzone commented on #186
Also, to ensure you regarding the assignment for an issue,  you can check our issue policy -> https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy

[2020-05-06 13:43] kichloo commented on #186
That's the API I submitted a month ago

[2020-05-06 13:52] czgdp1807 commented on #186
To make things clear, the suggested API doesn't look really good. We don't use camel case for naming functions. See, https://github.com/codezonediitj/pydatastructs/issues/186#issuecomment-612346631 as well. No modifications made to it. README has all the necessary links, if needed you can go through them.
P.S. A PR should be such that it requires less review for coding style and more discussion ca

[2020-05-06 19:53] #251 closed

[2020-05-07 08:07] czgdp1807 opened #276 "Modifying code to use, `typing` module."
#### Description of the problem

From now onwards, the new code should use `typing` module and the existing code in `master` should be modified to use `typing` module.

#### Example of the problem

#### References/Other comments

[2020-05-07 13:25] rohitrox444 commented on #148
Heyy as Queap Data structure

(from Wikipedia)
can I use inbuilt ` collections` library for Dequeue

[2020-05-07 17:12] czgdp1807 commented on #148
@JeanPierreMR Thanks for taking a note of this point. Sure, you can open a new issue for 2-4 tree.

[2020-05-09 08:07] MuskanPaliwal commented on #110
Hi, @czgdp1807 . This is Muskan from the team CodeUrs, participating in RGSoC 2020. We want to work on the issue.
Here is an API design that we have come up with.
- `RedBlackTreeNode` class will be an extension of the `TreeNode` class present in the Node file.

  -The `RedBlackTreeNode` will contain all the data members of the `TreeNode` class with an extra parameter **color bit** which will be 1

[2020-05-09 14:06] czgdp1807 commented on #110
Looks good. `fix_insertion`->`insert`, `fix_deletion`->`delete`. Do not use camel case style for function naming, for example `Getparent`->`_get_parent`(helper functions should follow the naming style of private methods, see the underscore in the beginning). The methods proposed are good as of now, rest let's see the PR(it should follow the coding style, otherwise it will be difficult to review an

[2020-05-10 17:12] MuskanPaliwal commented on #110
Yeah Okay. we are working on it and will raise PR by tomorrow morning.

[2020-05-10 17:59] JeanPierreMR opened #277 "Add 2-3-4 tree"
#### Description of the problem

This structure is needed for queap #148 structure

#### References/Other comments
https://en.wikipedia.org/wiki/2%E2%80%933%E2%80%934_tree

[2020-05-13 16:29] namantayal commented on #277
can I work on this?

[2020-05-14 14:03] JeanPierreMR commented on #277
Yes, start by creating the API

[View the guide here](https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-the-Projects)

[2020-05-15 15:11] #104 closed

[2020-05-17 14:41] hemabhagnani commented on #110
Hi @czgdp1807  ,this is Hema Bhagnani, Can we use recursion in the `_fix_insert` function of `Redblacktree` class or we have to use iteration??

[2020-05-17 14:54] czgdp1807 commented on #110
Well, iteration is preferred over recursion due to the overhead costs involved in recursion.

[2020-05-25 03:42] MuskanPaliwal commented on #110
We have written the code for deletion and insertion using iteration but the code is not looking good. I am just curious why iteration is preferred over recursion. It would be great if you could share some resources here for the topic.
Also, we are not able to use the BST delete function in RB deletion this is because of the color property. Can't we create a new function for rb tree deletion?

[2020-05-25 07:09] czgdp1807 commented on #110
I cannot get how code is not looking good.

You can.

[2020-05-25 23:19] Moddy2024 commented on #273
i am from gssoc 2020 and i would like to work on this

[2020-05-26 01:47] Moddy2024 commented on #186
i would like to work on it as part of GSSOC'20. assign it to me. Thank You.

[2020-05-26 05:46] czgdp1807 commented on #273
@Moddy2024 Sure you can. But make sure you have read the README file, and the discussion in this issue and #274

[2020-05-27 01:44] Moddy2024 commented on #273
i have created a pull request for  the quick_sort algorithm please review it

[2020-05-27 01:47] Moddy2024 commented on #230
i am from gssoc 2020 and i want to work on this

[2020-05-27 08:04] mightomi commented on #276
I like to take this issue and solve it.

[2020-05-27 15:38] Moddy2024 commented on #230
i have done a pull request for this please review the files

[2020-05-27 15:43] czgdp1807 commented on #276
Sure, go ahead.

[2020-05-27 21:36] AishwaryaVarma commented on #273
i would like to work on this- im from gssoc'20

[2020-05-29 20:39] Moddy2024 commented on #273
i am from GSSOC'20  and i have again created a pull request with a better code please look into it @czgdp1807 @aayush-05 @manaswinidas @robotjellyzone

[2020-05-30 08:53] robotjellyzone commented on #273
but where is your PR @Moddy2024 ?

[2020-05-30 09:01] robotjellyzone commented on #230
hi @Moddy2024 but where is you PR , do reference it here . also, have you discussed the API for the same before moving with its PR  ?

[2020-05-30 09:06] robotjellyzone commented on #231
Hi @Rukmini-Meda are you still on it ?

[2020-05-30 09:11] robotjellyzone commented on #186
Hi @Moddy2024 yes, go ahead but do remember to share its API first here !

[2020-05-30 09:14] robotjellyzone commented on #147
hi @Disha5harma are you still working on it ! any update ?

[2020-05-30 09:28] Rukmini-Meda commented on #231
I am sorry that I am not.

[2020-05-30 10:20] Moddy2024 commented on #273
yeah sure

[2020-05-30 12:18] #217 closed

[2020-05-31 02:24] Moddy2024 commented on #230
I AM FROM GSSOC'20 And i have created a pull request for this please look into it

[2020-05-31 02:25] Moddy2024 commented on #186
@robotjellyzone i am from GSSOC'20 please look at my PR for this

[2020-06-20 07:30] czgdp1807 opened #289 "Add Floyd–Warshall algorithm"
#### Description of the problem

#### Example of the problem

#### References/Other comments
[1] https://en.wikipedia.org/wiki/Floyd%E2%80%93Warshall_algorithm

[2020-06-23 09:02] prshnt19 opened #290 "Add Suffix Tree"
#### Description of the problem

#### Example of the problem

#### References/Other comments
[1] https://en.wikipedia.org/wiki/Suffix_tree

[2020-06-23 09:10] prshnt19 opened #291 "Add Bucket Sort"
#### Description of the problem

#### Example of the problem

#### References/Other comments
[1] https://en.wikipedia.org/wiki/Bucket_sort

[2020-06-25 17:32] prshnt19 opened #292 "Add Weak Heap"
#### Description of the problem

#### Example of the problem

#### References/Other comments
[1] https://en.wikipedia.org/wiki/Weak_heap

[2020-06-29 14:11] ezhil-mathy commented on #289
I would like to work on this issue.

[2020-06-29 15:24] czgdp1807 commented on #289
@ezhil-mathy Sure. I hope you have gone through, https://github.com/codezonediitj/pydatastructs#how-to-contribute

[2020-06-30 03:43] ezhil-mathy commented on #289
Yes, I have gone through the instructions for contributing.
I am not participating through SCI 2020.

[2020-07-16 07:06] #110 closed

[2020-07-16 07:14] czgdp1807 opened #294 "Replace tests of binary tree with in-order and pre-order"
#### Description of the problem

As of now, the correctness of operations on a binary tree is determined by verifying the `str(tree)` with the expected string. This makes it quite difficult to check the tests. Instead of using, `str(tree)`, in-order and pre-order should be checked since, using both these traversals a binary tree can be uniquely constructed.

#### Example of the problem

See the te

[2020-08-04 04:06] Vanshikagarg17 commented on #294
I am from GSSoC 2020, I would like to work upon this.

[2020-08-04 04:54] prshnt19 commented on #294
@Vanshikagarg17 Sure. Just have a look at https://github.com/codezonediitj/pydatastructs#how-to-contribute if not already done so.

[2020-08-14 08:18] HarsheetKakar commented on #257
Instead of them failing we should just let them run, it will give us numbers which will help developers decide which ds to use according to their usecase. It would be nice if we could have kind of a framework which will compare selected algorithms at given number of inputs.

[2020-08-14 08:24] HarsheetKakar opened #296 ".editorconfig file"
#### Description of the problem
We should have a .editorconfig file instead of tests for endline and trailing whitespaces.

#### Example of the problem
Currently we have to explicitly review each PR for extra endline, trailing whitespace etc.

#### References/Other comments
We can simply insert these rules and dev's editor will enforce them for us.
[code]

[2020-08-14 10:32] czgdp1807 commented on #296
Is this file compatible with any editor/IDE?

[2020-08-14 10:33] czgdp1807 commented on #296
Quality tests fail when there are trailing newlines and trailing whitespaces.

[2020-08-14 10:36] HarsheetKakar commented on #296
works with many out of the box (eg vscode, pycharm) but in some editors like atom a plugin is needed to be installed

[2020-08-14 10:37] HarsheetKakar commented on #296
I have seen that in many PRs it gets overlooked and newcomers dont understand why thier code is failing. .editorconfig just makes it that much easier and removes the need of most of the quality tests

[2020-08-14 11:01] czgdp1807 commented on #296
Okay then, we can add this file without removing anything from the package.

[2020-08-17 14:35] HarsheetKakar commented on #296
cool, working on it then

[2020-08-20 14:30] #296 closed

[2020-08-30 15:43] #229 closed

[2020-09-24 10:03] seshasaisuhashdesu commented on #291
I am a first timer.  Can i contribute to this please?

[2020-09-24 14:31] czgdp1807 commented on #291
If you have gone through the README and various policies in our wiki, then feel free to raise a PR to resolve this issue.

[2020-09-27 06:58] Kiran-Venkatesh commented on #153
I would like to take up this issue.

[2020-09-28 05:20] czgdp1807 commented on #153
If you have gone through the README and our policies in wiki then please feel free to raise a PR.

[2020-09-28 08:57] seshasaisuhashdesu commented on #273
Is this issue still open? Can i look into it?

[2020-09-28 16:55] seshasaisuhashdesu commented on #289
Is this issue still open? If so, I would like to work on this.

[2020-09-29 06:48] czgdp1807 commented on #289
Yes

[2020-09-30 07:23] #291 closed

[2020-10-06 15:52] Kiran-Venkatesh commented on #153
finished changes in coding by adding dijsktra algorithm,how to add,commit and raise a PR?

[2020-10-10 19:26] #153 closed

[2020-10-20 20:48] Meghana-12 commented on #292
I’d like to try this out, would you assign this issue to me ?

[2020-10-21 00:22] prshnt19 commented on #292
The issues are not assigned to anyone. You can come up with the API and start working on it.

[2020-10-21 06:10] Meghana-12 commented on #292
okay, thanks!

[2020-10-31 09:52] Kiran-Venkatesh commented on #213
i had studied Information retrieval and implementation and inverted index,So can I take up this issue to solve?

[2020-10-31 11:29] czgdp1807 commented on #213
This issue isn't on priority right now. You may go through https://github.com/codezonediitj/pydatastructs/wiki/Planned-Features-for-v0.0.1 as it contains those features which we are interested to complete at the moment.

[2020-11-14 07:28] Kiran-Venkatesh commented on #289
I would like to work on this issue

[2020-11-20 08:51] #289 closed

[2020-12-04 06:00] shubhanshu-coder commented on #276
i am intersting in this project like to solve the issue.

[2020-12-04 15:51] ravisrc commented on #294
Can I take up on this, or is it closed (since there was a pull request) ?

[2020-12-04 15:54] czgdp1807 commented on #294
Sure.

[2020-12-05 14:42] RhuthuHegde commented on #273
Can I work on this issue if this is open?

[2020-12-05 14:46] czgdp1807 commented on #273
Sure.

[2020-12-06 06:19] RhuthuHegde commented on #273
Have you assigned it to me?

[2020-12-06 06:59] aditimaurya commented on #198
Hello, can you please assign this issue to me?

[2020-12-06 08:33] shivangdubey commented on #260
Input: String X
Initialize priority queue: Q
c: character in string X
Algorithm:

- for c in X; creating a single node binary tree T storing c

- Insert T into Q with frequency of c

1.  while len(Q) > 1;
(f1, T1) = Q.remove_min()
(f2, T2) = Q.remove_min()
Creating subtree T1(left) and T2(right) in T and inserting T into Q with key f1 + f2.
(f, T) = Q.remove_min()
return tree T

@czgdp1807  If thi

[2020-12-06 09:09] czgdp1807 commented on #260
Can you define a more concrete API, like how would I call a function to obtain the huffman encoding?

P.S. - This is not an urgent need, so may not receive much attention.

[2020-12-06 09:09] czgdp1807 commented on #198
Please read https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy

[2020-12-06 09:10] czgdp1807 commented on #273
Please read https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy

[2020-12-06 12:47] Mintuagarwal commented on #231
Is it assigned? I have implemented binary-lifting in C++ for SPOJ problems. Can try it in python as well if not assigned.

[2020-12-07 00:36] RgnDunes opened #303 "Subset Sum (01 Knapsack)"
#### Description of the problem

Adding a function for `Subset Sum (01 Knapsack)` that would be helpful in solving multiple questions like `Subset Sum Problem, Equal Sum Partition Problem, Count of Subsets Sum with given Sum, Minimum Subset Sum Difference,  Count of number of Subset with a given difference, Target Sum and many more` . Writing this function will help us save a lot of code while cod

[2020-12-07 03:32] ravisrc commented on #294
I have opened this Pull request #304 which solves this issue.

[2020-12-07 03:58] subhangi2731 commented on #303
can you assign this to me? @RgnDunes

[2020-12-07 03:59] subhangi2731 commented on #290
can you please assign this issue to me? @prshnt19

[2020-12-07 04:03] prshnt19 commented on #290
Please read https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy

[2020-12-07 04:05] prshnt19 commented on #231
Please read https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy and then you may proceed.

[2020-12-07 06:53] RgnDunes commented on #303
@subhangi2731 go on. I assign it to you.

[2020-12-07 07:19] czgdp1807 commented on #303
Please read https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy
This seems like a good idea. However, before jumping on to code, we should discuss what APIs(how the function call will like look) can support using solution of 0-1 Knapsack problem to solve other problems like mentioned in the OP.

[2020-12-07 07:23] czgdp1807 commented on #290
Thanks @prshnt19 for sharing the issue policy.
@subhangi2731 I'd request you to go through https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-Adding-New-Data-Structures since requires adding a new adding new data structure from scratch.

[2020-12-07 07:27] czgdp1807 commented on #276
Sure. Please read https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy

[2020-12-08 07:02] #294 closed

[2020-12-08 17:10] RhuthuHegde commented on #273
Can you give me an insight on how, to begin with, as I am completely new to open source?

[2020-12-08 17:11] RhuthuHegde commented on #273
Can you give me an insight on how to begin with this problem, as I am new to open source.

[2020-12-09 09:38] czgdp1807 commented on #273
I'd suggest to first read the [README file](https://github.com/codezonediitj/pydatastructs/blob/master/README.md) before starting to code.
For this issue specifically, you just need to add a new function to [this file](https://github.com/codezonediitj/pydatastructs/blob/master/pydatastructs/linear_data_structures/algorithms.py) and add a test for quick sort in [this file](https://github.com/codezo

[2020-12-10 16:53] xhitijc2 commented on #303
Can you assign it to me @RgnDunes ?

[2020-12-14 05:00] subhangi2731 commented on #292
can you assign me this @prshnt19

[2020-12-14 05:02] subhangi2731 commented on #231
can you please assign this issue to me @prshnt19

[2020-12-21 13:44] Riope commented on #260
I am interested to work on this issue.

[2020-12-26 10:37] khushibalyan220101 commented on #292
I would like to contribute to this issue

[2020-12-26 11:25] khushibalyan220101 opened #308 "Longest common subsequence"
Description of the problem
LCS Problem Statement: Given two sequences, find the length of longest subsequence present in both of them. A subsequence is a sequence that appears in the same relative order, but not necessarily contiguous.
Example of the problem
For example, “abc”, “abg”, “bdf”, “aeg”, ‘”acefg”, .. etc are subsequences of “abcdefg”.

[2020-12-26 11:27] khushibalyan220101 commented on #308
@czgdp1807 sir I wanna contribute with this problem by creating a specific file for dynamic programming problems so that other important questions can be collected in a particular file.

[2020-12-27 08:34] czgdp1807 commented on #292
Sure. Though please go through the README before starting to work. There are some steps which should be followed for getting your PR merged without much hassle.

[2020-12-27 08:36] czgdp1807 commented on #308
This can go to a new file, `miscellaneous_algorithms` under `pydatastructs`. Please go through the README for better understanding the workflow before submitting a PR.

[2020-12-27 12:53] khushibalyan220101 commented on #308
Sure sir, I will go through the README.

[2020-12-29 09:46] LazarusCoder commented on #308
i have added a algorithm in algorithms.py
Do i need to modify the API too for that ??
or just need to add function name in JSON which is already there in algorithms.py??

[2020-12-29 10:59] LazarusCoder commented on #308
LCS with BackTracking added in linerstruture->algorithms.py
Test cases Added too
"Fixes #310 "

[2021-01-01 17:01] Utkarsh-Agarwal-585 commented on #273
Sir, please assigned me this issue. I want to contribute

[2021-01-02 07:37] czgdp1807 commented on #273
Sure. You can a submit PR for this issue. Getting assigned isn't a compulsory requirement in this project as I have repeated many times in previous comments.

[2021-01-05 11:32] ayushi-get commented on #39
i would like to work on this issue

[2021-01-05 11:59] sidhu1012 commented on #39
You have it! Start working.

[2021-01-05 11:59] sidhu1012 commented on #39
You have it! Start working.

[2021-01-13 05:58] #198 closed

[2021-01-16 07:57] #273 closed

[2021-01-19 07:46] #308 closed

[2021-01-19 10:00] Arvind-raj06 commented on #239
@czgdp1807  Let me take up this work and it seems the Parallel matrix multiplication was already implemented and what's left is Sequential multiplication.  Should I go with Strassen algorithm for study or any suggestions!?

[2021-01-19 10:57] czgdp1807 commented on #239
This issue is not in priority as of now.

[2021-01-19 12:38] Arvind-raj06 commented on #239
Ok I will look for other issues

[2021-01-19 13:32] Arvind-raj06 commented on #120
@czgdp1807 Can I take over this issue or if you have a different schedule for me, you can just quote me to work at !

[2021-01-19 13:39] czgdp1807 commented on #120
TBH, these are simple issues. There are many ideas listed [here](https://github.com/codezonediitj/pydatastructs/wiki/Planned-Features-for-v0.0.1) for which you can discuss the APIs by opening new issues if one for that idea isn't already open.
It will be better to work on something which demands more thought and discussions before coding.

[2021-01-19 14:41] Arvind-raj06 commented on #120
Yeah sure I will work on those

[2021-01-19 14:56] Arvind-raj06 commented on #290
Let me take up this one @czgdp1807

[2021-01-19 15:01] czgdp1807 commented on #290
Sure.

[2021-01-19 17:11] Arvind-raj06 opened #317 "Longest Alternating Subsequence"
### Description of the problem
Longest Alternating Subsequence is a problem of finding a subsequence of a given sequence in which the elements are in alternating order, and in which the sequence is as long as possible.

### Example of the problem

#### References/Other comments
https://en.wikipedia.org/wiki/Longest_alternating_subsequence

[2021-01-19 18:27] komal3120 commented on #317
I would like to contribute to this issue.
Can you assign it to me?

[2021-01-20 06:35] Arvind-raj06 commented on #317
@komal3120  Please read https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy

[2021-01-20 06:38] Arvind-raj06 commented on #317
Come up with an API for discussion and PA will sure acknowledge you

[2021-01-20 07:05] Arvind-raj06 commented on #290
I believe the API design would be like the below part

` __new__(cls,  array_flag = 0, key=None, root_data=None)`

This would initialise a new suffix tree.

Rest of the parameters will be same as other tree implementation.

`insert(self, key, data)`
`delete(self, key, **kwargs)`
`__str__(self)`

`height(self)`
Will return the height of the tree.

# Additional features

' longest_common_substring'

[2021-01-20 07:33] czgdp1807 commented on #290
Can you pick example where suffix tree is used and show how above APIs will be used in that example? There might be an example on Wikipedia or some other website.

[2021-01-20 08:42] Arvind-raj06 commented on #290
https://www.cise.ufl.edu/~sahni/dsaaj/enrich/c16/suffix.htm hope in this site we get the example with analyzation

[2021-01-20 13:40] Arvind-raj06 opened #318 "Implement Parallel Timsort"
#### Description of the problem
Timsort is a hybrid stable sorting algorithm, derived from merge sort and insertion sort, designed to perform well on many kinds of real-world data. It is already there in Python so a parallel version of the same algorithm should be added.

#### Example of the problem
This sorting algorithm is implemented in python by default as sort() and sorted() methods

#### Ref

[2021-01-20 13:57] Arvind-raj06 commented on #290
As suffix tree isn't like any other binary tree i hope it has to be implemented in separate file and shall I go on with that @czgdp1807

[2021-01-20 15:05] komal3120 commented on #317
ok thanks

[2021-01-21 05:24] czgdp1807 commented on #290
Following are the questions and concerns,

1. Is Suffix tree static or dynamic? In other words, is it possible to update it after constructing it from a string/set of strings? Or once created, it can be changed? Can you provide university lectures/papers which provide algorithms updating a suffix tree. I am unable to find anything relevant on Wikipedia or in [this document](https://www.cs.cmu.edu/