[2021-01-21 05:25] czgdp1807 commented on #318
This type of sort is already provided by python internally. Though for educational purposes can be added but not very important.

[2021-01-21 06:17] Arvind-raj06 commented on #290
As far my research on the above tree after the conversation
!. It is static and cannot changed after implementation as given in reference with https://users.dcc.uchile.cl/~gnavarro/ps/cpm08.2.pdf
2. Cool then just the implementation of suffix tree

I will take those changes and reframe the API

[2021-01-21 06:34] Arvind-raj06 opened #319 "Implement Radix sort"
#### Description of the problem
Radix sort is a non-comparative sorting algorithm. It avoids comparison by creating and distributing elements into buckets according to their radix.

#### Example of the problem
It's quite simple and takes o(nk) in worst case time complexity as the k value represents the number of digits of the maximum value in sequence

#### References/Other comments
https://en.wik

[2021-01-22 16:01] Arvind-raj06 commented on #290
suffix

`__new__(cls, strings)`

The implementation of several features are quite complicated I hope it should be done step by step.

[2021-01-23 05:01] czgdp1807 commented on #290
Sounds good. Though, we should have generalised suffix tree which should be capable of storing information about a set of strings. The tricky part is to end each string in the set with a different terminal symbol.

You can start with implementing the logic for building the suffix tree and then add features in each new commit. Please do it locally and push only when the tests you add for suffix tre

[2021-01-23 16:41] Arvind-raj06 commented on #290
@czgdp1807 Cool, I'm working on that

[2021-01-31 12:52] #120 closed

[2021-01-31 12:55] czgdp1807 opened #322 "Add flake8 quality checks to .travis.yml"
#### Description of the problem

#### Example of the problem

#### References/Other comments

[2021-02-02 13:58] Arvind-raj06 commented on #149
@czgdp1807 I will work on this one whilst

[2021-02-04 23:03] hpnightowl commented on #322
can i take this issue as the part of swoc and add github action instead of travis.yml ? both works same btw

[2021-02-05 04:37] czgdp1807 commented on #322
Sure. Make separate PRs for migrating to Github action and adding flake8 checks.

[2021-02-05 04:41] hpnightowl commented on #322
can you as this task with SWOC  tag? i am doing pr

[2021-02-05 05:46] hpnightowl commented on #322
@czgdp1807 for which python package version should i go? i have make for all 3 version like 3.7 3.8 3.9  https://github.com/hpnightowl/pydatastructs/commit/d0ac9135bab07392d416b46c468f0483aa5c3f1a

[2021-02-05 07:29] czgdp1807 commented on #322
I think anything greater than 3.5 should work(or whatever is there in the `travis.yml`).

[2021-02-05 07:29] czgdp1807 commented on #322
I will label your PR with the appropriate labels.

[2021-02-06 10:53] ayushmi77al commented on #319
I would like to work on this issue

[2021-02-06 14:19] Arvind-raj06 opened #325 "Parent pointer tree"
#### Description of the problem
In computer science, an in-tree or parent pointer tree is an N-ary tree data structure in which each node has a pointer to its parent node, but no pointers to child nodes.

#### Example of the problem
https://opendsa-server.cs.vt.edu/ODSA/Books/Everything/html/UnionFind.html

#### References/Other comments
https://en.wikipedia.org/wiki/Parent_pointer_tree

[2021-02-06 14:21] Arvind-raj06 opened #326 "Add Interval Tree"
#### Description of the problem
In computer science, an interval tree is a tree data structure to hold intervals. Specifically, it allows one to efficiently find all intervals that overlap with any given interval or point. It is often used for windowing queries,

#### Example of the problem

#### References/Other comments
https://en.wikipedia.org/wiki/Interval_tree

[2021-02-17 09:09] tanyarajhans opened #329 "Floyd-Warshall Algorithm under graph section."
#### Description of the problem
Floyd-Warshall algorithm in Python would be a great addition to this repository considering it's one of the most used algorithms in graph to find All Pairs Shortest Path problem.

#### Significance of the problem
The problem is used to find shortest distances between every pair of vertices in a given edge Weighted Directed Graph.
The Time Complexity of this problem

[2021-02-17 15:03] Arvind-raj06 commented on #101
@czgdp1807 I hope this tree has already been implemented why not close this one!

[2021-02-17 16:51] mu593 commented on #319
I would like to contribute code for radix sort.

[2021-02-18 06:24] dillu9878 commented on #329
I would like to implement this algorithm in pytnon3.

[2021-02-18 06:28] dillu9878 commented on #319
I would like to contribute code of radix sort for gssoc'21.

[2021-02-18 06:30] dillu9878 commented on #318
I would like to contribute code for timsort under gssoc'21.

[2021-02-23 08:34] #149 closed

[2021-02-23 18:56] komal3120 commented on #326
I want to try this.
Can I try???

[2021-02-26 11:23] Aniket118 commented on #329
I would like to implement this @tanyarajhans

[2021-02-26 11:23] dollyjain51099 commented on #329
I would like to work on this issue, @tanyarajhans kindly assign it to me!

[2021-02-26 11:25] Aniket118 commented on #148
I would like to work on this issue! @robotjellyzone

[2021-02-26 11:25] dollyjain51099 commented on #148
I would like to work on this issue, @robotjellyzone kindly assign it to me!

[2021-02-26 11:26] dollyjain51099 commented on #39
I would like to work on this issue, @czgdp1807 kindly assign it to me!

[2021-02-26 14:11] czgdp1807 commented on #39
@dollyjain51099 We don't assign issues to contributors. Anyone can work on any issue. Link the PR you open with this issue.

[2021-02-26 14:12] czgdp1807 commented on #148
We don't assign issues to contributors. Anyone can work on any issue. Better PR will be kept and rest will be closed. For adding new data structures follow the plan of available at, https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-Adding-New-Data-Structures

[2021-02-26 14:13] czgdp1807 commented on #329
Feel free to work on it. Just go through the code in algorithms submodule under graph module before making any PR. Follow the pattern.

[2021-02-26 18:06] anirudhsai20 opened #333 "README.md file enhancement."
#### Description of the problem

The README.md file does not have the list of all the open source programs in which this is a part of. It also does not include the list of research papers in which this is cited. It also does not have a display of all its contributors. It also features a lot of grammatical errors in the description.

#### Example of the problem

#### References/Other comments
The R

[2021-02-26 18:07] anirudhsai20 commented on #333
Hi! Please allow me to work on this issue under SWOC.

[2021-02-27 04:46] czgdp1807 commented on #333
It is not necessary to add a list of open source programs where we participated.

I am not aware of any where this project is cited. It would be better to do focus on citations once we go for our first release.

Check the `AUTHORS` file. Contributors can add their names to this file if they want to be counted as author of this project.

Please feel free to correct them in  your PR.

Sure.

[2021-02-27 04:48] czgdp1807 commented on #329
Well, this feature is already added in https://github.com/codezonediitj/pydatastructs/pull/302

Duplicate of https://github.com/codezonediitj/pydatastructs/issues/289

[2021-02-27 04:48] #329 closed

[2021-02-27 04:50] czgdp1807 commented on #326
Sure. Please read, https://github.com/codezonediitj/pydatastructs/wiki/Plan-of-Action-for-Adding-New-Data-Structures before starting to work on Interval trees.

[2021-02-27 06:29] #333 closed

[2021-03-01 11:16] RhuthuHegde commented on #260
Can I work on this issue?

[2021-03-07 14:45] Smit-create commented on #231
IMHO, since LCA  requires sparse table/segment tree for finding the minimum in a segment(Sparse table is prefered due to O(1) time for range min.queries), we should firstly focus on sparse table and segment tree additions and after that it only remains an implementation of LCA.

[2021-03-07 16:53] czgdp1807 commented on #231
Sparse table can be added after discussion. I don't know if an issue is already open for it.

[Segment Tree](https://en.wikipedia.org/wiki/Segment_tree) is already there as far as I remember.

[2021-03-07 17:17] Smit-create commented on #231
https://github.com/codezonediitj/pydatastructs/issues/25 : Issue for Sparse Table. We should try adding this initially

Yes, But can we make it customized for such operations: https://cp-algorithms.com/data_structures/segment_tree.html#toc-tgt-7, which using custom (`merge` function taken from user in form of `lambda` function) and builds on the given array of size `n`?. Specifically I am talking

[2021-03-08 11:30] Supriyo-455 commented on #325
@Arvind-raj06 I want to try this ,can I work on it?

[2021-03-08 14:43] sakshi2707 commented on #318
Hey, I'm a GSSoC`21 participant and want to contribute to this . can you please assign me this issue?

[2021-03-08 15:11] kshittijagrawal commented on #319
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 16:38] robin025 opened #338 "Documentation for the module"
hey I am a GSSoC 21 Participant and would like to contribute to this python module

#### Description of the problem
So I was scrolling down to the code base and I found that when a new user installs this module then it will be hard for the user to import different algorithms and data-structures without documentation, so I would like to create the docs for this module using Sphinx(so sphinx is used

[2021-03-09 05:25] subhangi2731 commented on #32
can you please assign it to me?

[2021-03-09 09:52] Ananya88 commented on #338
Hey !!
I am interested in this project as GSSOC '21 participant .
And I would like to to update the Readme.md file by adding by making it more beginner and intermediate friendly by adding links to learn python and DSA in python.

Please assign me with this issue .Thanks.

[2021-03-09 15:30] nNikita1018 commented on #325
Hey, I want to solve this issue.

[2021-03-09 15:33] nNikita1018 commented on #338
I want work with this project by solving this issue.

[2021-03-10 07:25] malay5 opened #339 "Syntax Error in graphs/graph.py"
#### Description of the problem

Syntax error present in graph.py, which throws Syntax Warning. When the package is called and used to run a simple "Hello World" problem.

#### Example of the problem

![DELETE](https://user-images.githubusercontent.com/64472685/110591162-b8ca1780-819e-11eb-83c7-5775e368415b.JPG)

[2021-03-10 14:43] banshita209 opened #341 "(GSSOC21) algorithm : Multiplying Large integer number"
#### Description of the problem

I am GSSOC 21 participant.
I like to implement Multiplying two large integer algorithms in this project.

#### Example of the problem

#### References/Other comments

@czgdp1807 kindly assign it to be me so that I can contribute to my open source journey of GSSOC

[2021-03-10 16:04] Smit-create commented on #341
I don't think that in python we require such algorithms as python as no limits on int range. I mean it can perform arithmetic operations on very long numbers too:
See:
[code]
Moreover, contributions are always welcomed. You can refer to the present issues list and see if you could raise a PR for that.

[2021-03-10 19:07] Smit-create commented on #303
The main problem I see here is the constraints on the range of `sum`. There are many techniques present using DP, bitsets for subset sum tasks, but the range in that is such that it fits time and memory constraints.

[2021-03-10 20:21] Subhangini commented on #7
I would like to work on this issue. Can you assign this issue to me?

[2021-03-11 05:02] czgdp1807 commented on #338
Duplicate of https://github.com/codezonediitj/pydatastructs/issues/7
Please comment there. This is a very long term issue. I have no problem if someone works on but it may take a bit of time and effort to actually make documentation work. We will upload the html code on readthedocs.io

[2021-03-11 05:03] #338 closed

[2021-03-11 05:07] czgdp1807 commented on #303
Well, can the solution to 0-1 Knapsack problem be generalized to other problems? A function for 0-1 knapsack would be very specific. However, the way it is formulated [here](https://en.wikipedia.org/wiki/Knapsack_problem#Definition) can motivate the creation of an `optimisation` module to solve various kinds of formulation with pseudo-polynomial and non-polynomial algorithms.

[2021-03-11 05:08] Smit-create opened #343 "Some of the ideas to start working on"
Some of the ideas to start working on:
Adding a few basic and necessary functions:
1. `upper_bound`: (similar to that of cpp's upper_bound) that should work on sorted `OneDimensionalArray`.
2. `lower_bound`: (similar to that of cpp's lower_bound) that should work on sorted `OneDimensionalArray`
3. `is_sorted`: To check that a given `OneDimensionalArray` is sorted or not.
4. `binary_search`: To sea

[2021-03-11 05:10] Smit-create commented on #303
There exists a module of solving optimisation problems. Have a look https://cvxopt.org/

[2021-03-11 05:13] czgdp1807 commented on #303
Can we solve 0-1 Knapsack formulation using CVXOPT?

[2021-03-11 05:15] Smit-create commented on #341
@czgdp1807  This can be closed.

[2021-03-11 05:16] czgdp1807 commented on #341
Big integer algorithms are already there in python. So we do not need to worry about such things for now. When we will move to C++, we will see if we want to use Boost or write our own algorithms for this.

[2021-03-11 05:16] #341 closed

[2021-03-11 05:33] Smit-create commented on #6
Can we also add update operation? As I think this is the most necessary feature for which segment tree is used as it can update the interval list in O(logN) time. That is segment tree are generally used to solve online problems (real time update and queries). Moreover, without this update operation, quering on just given set of segments there exits O(1) technique(using prefix sums which build in O

[2021-03-11 05:38] czgdp1807 commented on #339
@malay5 Are you participating via GSSoC or any other open source program?

[2021-03-11 05:49] czgdp1807 commented on #6
From wikipedia. So, for dynamic segment trees we should subclass `SegmentTree` in `DynamicSegmentTree` and add an update method to it. Another question is how will the algorithm for updating segment tree will work, especially the ones defined [here](https://en.wikipedia.org/wiki/Segment_tree).

[2021-03-11 06:07] Nora2412 commented on #343
I would like to work on is_sorted and binary_search as part of my contribution for GSSOC'21.
For example,
is_sorted(array):
          # algo
          return True if sorted else false

[2021-03-11 06:13] Smit-create commented on #343
Yes, you can try raising a PR for that by adding the said functions under https://github.com/codezonediitj/pydatastructs/blob/master/pydatastructs/linear_data_structures/algorithms.py

[2021-03-11 09:48] malay5 commented on #339
Yeah! participating via GSSoC

[2021-03-11 11:55] robin025 commented on #7
hey @czgdp1807 refer [this](https://github.com/codezonediitj/pydatastructs/issues/338#issuecomment-796455187)
i am a gssoc 21 participant and i have already worked on many documentations till now, and i think i can contribute  to documentation as i am familiar with reStructuredText <http://docutils.sourceforge.net/rst.html>_ (reST) for writing documentation. Most projects use Sphinx <http://www.sp

[2021-03-11 12:45] czgdp1807 commented on #7
We do not assign issues to any contributor. When you will make a PR, just mention this issue there and that PR will get linked. You may start working on it. I would suggest to keep the build process of documentation as simple as possible (lesser the commands the better it will be).

[2021-03-11 13:41] Mayankjha997 opened #348 "Backtracking problem (rat in the maze)"
Hello sir;
I am a GSSoC's 21 participant
I want to add rat in the maze problem of backtracking.
Please assign me to do so.

Thanks

[2021-03-11 13:44] #348 closed

[2021-03-11 18:30] Smit-create commented on #260
Feel free to work on it. Please provide the implementation/API plan below in the comments

[2021-03-12 03:53] Smit-create commented on #343
Yes, please raise a PR that.

[2021-03-12 04:55] #339 closed

[2021-03-13 04:23] Smit-create commented on #319
You are free to work on this and open a PR

[2021-03-13 04:24] Smit-create commented on #318
You are free to work on the issue and raise a PR. We generally don't assign issues.

[2021-03-13 07:02] Avishake007 opened #353 "Circular Queue and Doubly Ended Queue"
I want to add circular queue and doubly ended queue part in queue.py file.
Please assign me for this project.
I am a GSSOC'21 participant and wants to contribute for this project.

[2021-03-13 10:29] sk1122 opened #354 "Longest Palindromic Subsequence"
#### Description of the problem
I want to implement Longest Palindromic Subsequence problem in algorithms.py

#### Example of the problem

#### References/Other comments

[2021-03-13 11:50] Smit-create commented on #354
I don't think that is currently required as we already have LCS and LPS  is just LCS(X, reverse(X)). You are free to work on any other idea or can look at existing issue lists.

[2021-03-13 11:50] #354 closed

[2021-03-13 16:29] anuragmukherjee2001 opened #355 "2d Matrix Manipulation"
#### Description of the problem

This data structure is a package of functions which deals with different types of manipulations with a 2d array. This python program will contain functions like adding a 2d matrix, subtracting a 2d matrix, multiplication, and many more.

2d matrix manipulation is very necessary in out real world problems, and python is definitely a good programming language to unde

[2021-03-14 04:18] Smit-create commented on #355
What algorithm you will use for 2D matrix multiplication?

[2021-03-14 05:14] czgdp1807 commented on #355
`numpy` already specializes in these things. Closing.

[2021-03-14 05:14] #355 closed

[2021-03-14 17:21] Simar05519 commented on #353
I want to work on this issue. Please assign to me

[2021-03-15 08:52] Smit-create commented on #353
We don't assign issues. Whoever wants to work on it are free to do so. But before opening the PR do discuss the API and implementation plan

[2021-03-15 09:00] Simar05519 commented on #343
I would like to work on binary search.

[2021-03-15 09:39] Smit-create commented on #343
You can raise a PR for that since no one has worked for it till now.

[2021-03-15 09:45] Simar05519 commented on #343
ok

On Mon, Mar 15, 2021 at 3:09 PM Smit Lunagariya ***@***.***>
wrote:

[2021-03-16 07:37] HitainKakkar opened #356 "Binary Search Tree (Search and Insertion)"
#### Description of the problem
In this code I will explain how to insert and delete a node in binary search tree.
#### Example of the problem

#### References/Other comments

[2021-03-16 07:43] czgdp1807 commented on #356
Already there in the `master`.

[2021-03-16 07:43] #356 closed

[2021-03-16 09:57] ANAMIKA1410 commented on #353
// C++ implementation of De-queue using circular
// array
#include<iostream>
using namespace std;

// Maximum size of array or Dequeue
#define MAX 100

// A structure to represent a Deque
class Deque
{
	int arr[MAX];
	int front;
	int rear;
	int size;
public :
	Deque(int size)
	{
		front = -1;
		rear = 0;
		this->size = size;
	}

	// Operations on Deque:
	void insertfront(int key);
	void insertrear

[2021-03-16 19:03] aaadddiii opened #357 "Implement sparse matrix using linked list"
#### Description of the problem
A matrix is a two-dimensional data object made of m rows and n columns, therefore having total m x n values. If most of the elements of the matrix have 0 value, then it is called a sparse matrix

#### Example of the problem

#### References/Other comments
https://en.wikipedia.org/wiki/Sparse_matrix

[2021-03-17 14:44] yasht01 commented on #357
Hey! Can I work on this issue?

[2021-03-17 15:22] mrunalvilas commented on #147
hello, I am a GSSoC'21 participant can I work on this issue.

[2021-03-19 16:51] srisatya1197 opened #360 "ADD ANAGRAMS CODE"
I want to add anagram code in String directory . Please assign me this issue as participant of GSSOC'21.
EXAMPLE 1:
Input - Triangle
        Integral
Output- Triangle and Integral are anagrams.
EXAMPLE 2:
Input - Just
           Oust
Output - Just and Oust are not anagrams.

[2021-03-20 03:34] Smit-create commented on #360
Please see https://github.com/codezonediitj/pydatastructs/issues/343 for effective ideas

[2021-03-20 06:43] #360 closed

[2021-03-22 21:02] varshith-k commented on #319
Hey can you please assign me this under GSSOC21? @Smit-create

[2021-03-23 03:36] Smit-create commented on #319
We don't assign issues. You can come up with a PR, we will label it appropriately

[2021-03-23 05:15] aman503 opened #361 "Valid Binary Search Tree"
#### Description of the problem
 Python program to check whether a given a binary tree is a valid binary search tree (BST) or not

#### Example of the problem

#### References/Other comments

[2021-03-23 05:16] aman503 commented on #361
Assign me this issue sir.

[2021-03-23 05:17] #361 closed

[2021-03-23 05:21] aman503 commented on #6
Can I work on this issue?

[2021-03-23 09:45] hridhi opened #362 "Find median [heaps]"
#### Description of the problem
Given an input stream of N integers. The task is to insert these numbers into a new stream and find the median of the stream formed by each insertion of X to the new stream.

#### Example of the problem
N = 4
X[] = 5,15,1,3
Output:
5
10
5
4
#### References/Other comments
https://practice.geeksforgeeks.org/problems/find-median-in-a-stream-1587115620/1

part of GSSoC'

[2021-03-23 10:34] Smit-create commented on #362
We should always focus on some generalized problem. This can be easily done by `ordered_set` (as we have in cpp) which has tree based implementation. It would be nice if you could add something like `ordered_set`.

[2021-03-25 04:50] ishitakapoor26 commented on #276
/assign

[2021-03-27 13:15] samya02 opened #365 "Creating Random Walk"
Hi, I am Samya. I am a participant in GSSOC'21 and I would like to contribute the following code.

#### Description of the problem

Create a Random walk for which python will be used to generate a data and then matplotlib will be used to create a visual representation of the generated data.

#### Example of the problem

A random walk is determined by a series of random decisions. Also it has many

[2021-03-27 13:25] #365 closed

[2021-03-27 13:25] #362 closed

[2021-03-30 08:40] priyanka001tech opened #366 "STACK IMPLEMENTATION IN PYTHON USING LINKEDLIST"
#### Description of the problem
stack works in LIFO algorithm. So I would like to do STACK implementation using QUEUE

#### References/Other comments
I would like to code it as a gssoc participant

[2021-03-30 08:45] czgdp1807 commented on #366
Stacks are already there.

[2021-03-30 08:45] #366 closed

[2021-03-31 07:07] noviicee opened #367 "Add Searching Algorithm [Linear Search]"
#### Description of the problem
Add the famous searching algorithm called the Linear Search.

#### Example of the problem
An element in an array/list is searched in O(n) Time-Complexity.
#### References/Other comments

[2021-03-31 07:08] noviicee opened #368 "Add Searching Algorithm [Binary Search]"
#### Description of the problem
Add the Binary Search Algorithm to search for elements in an array/list.

#### Example of the problem

#### References/Other comments

[2021-03-31 07:24] #368 closed

[2021-03-31 07:24] #367 closed

[2021-04-06 14:46] priyanka001tech opened #369 "Print HEART PATTERN using stars in python"
#### Description of the problem
It is basic pattern problem which makes a heart ,whose size is given by user

#### References/Other comments
![Screenshot (269)](https://user-images.githubusercontent.com/70838173/113729699-e0b48880-9714-11eb-912c-21a1b6fe6b85.png)

[2021-04-06 16:03] #369 closed

[2021-04-07 19:43] saidrishya opened #370 "linked list and reverse a linked list implementation"
Hi I would like to work on
1. Linked list basic implementation
2. Reverse a linked list

I am a GSSOC 2021 participant and would like to work on this issue. Kindly assign them to me.

[2021-04-07 19:53] #370 closed

[2021-04-09 06:18] ManavArora26 opened #371 "Adding Trie/Prefix Tree"
#### Description of the problem
A Trie/Prefix Tree is a kind of search tree used to provide quick lookup
of words/patterns in a set of words. A basic Trie however has O(n^2) space complexity
making it impractical in practice. It however provides O(max(search_string, length of
longest word)) lookup time making it an optimal approach when space is not an issue.

#### Example of the problem

#### Ref

[2021-04-09 06:33] #371 closed

[2021-04-09 06:34] ManavArora26 opened #372 "Simple multithreaded algorithm"
#### Description of the problem
Simple multithreaded algorithm to show how the 4 phases of a genetic algorithm works
(Evaluation, Selection, Crossover and Mutation)

#### Example of the problem

#### References/Other comments
https://en.wikipedia.org/wiki/Genetic_algorithm

[2021-04-09 06:40] #372 closed

[2021-04-11 19:02] amonikag opened #374 "Dynamic Programming (DP)"
Description :
I could see there's no folder regarding to dynamic programming and illustrating those concepts.
I would like to add dynamic programming folder and include few concepts of DP.

Concepts of DP:
Fibonacci number series
Knapsack problem
Tower of Hanoi
All pair shortest path by Floyd-Warshall
Shortest path by Dijkstra
Project scheduling

[2021-04-11 19:42] #374 closed

[2021-04-13 13:54] Jahnavi-Majji commented on #343
Hello, @Smit-create  I would like to work on KMP and Fenwick tree. Can I start working on it?

[2021-04-14 14:04] Smit-create commented on #343
Sure!

[2021-04-21 16:23] omniasalah276 opened #375 "jump search in python"
#### Description of the problem
Implement jump search algorithm

#### Example of the problem

#### References/Other comments
I am GSSOC'21 participant.

[2021-04-22 23:14] ShubhamGupta577 opened #376 "Staircase Search"
#### Description of the problem
- Implement Staircase Search Algorithm.
- Used to search an element from a row-wise and column-wise sorted 2-D array.
- Time Complexity: O(max(n, m)), where n=number of rows, m= number of columns
- Space Complexity: O(1)
#### Example of the Problem
Dimensions of the array: 5 5
Element to be searched: 20
1 4 8 10 45
2 5 9 15 55
6 16 18 20 12
7 14 21 27 11
11 17 19 23

[2021-04-22 23:16] ShubhamGupta577 commented on #376
@czgdp1807, Under GSSOC21 I would like to work on this issue. Please assign this issue to me.

[2021-04-25 07:04] Srishti013 commented on #375
Hi,
I am a gssoc'21 participant please assign this issue to me.

[2021-04-26 12:46] subhangi2731 commented on #325
please assign me this

[2021-04-29 05:11] kratimitra opened #377 "Fenwick-Tree"
#### Description of the problem

Hey,
I am Krati Mitra (Discord username Krati(P)#8709), a GSSOC'21 participant.
I want to add the code for the  "Fenwick-Tree " which is an advanced data structure .
I can contribute to add this data structure using Python.

#### Example of the problem

#### References/Other comments

[2021-04-29 17:17] U-c0de opened #378 "Geekonacci Number"
Describe the solution you'd like
Geek created a random series and given a name geekonacci series. Given four integers A, B, C, N. A, B, C represents the first three numbers of geekonacci series. Find the Nth number of the series. The nth number of geekonacci series is a sum of the last three numbers (summation of N-1th, N-2th, and N-3th geekonacci numbers)

Do you want to work on it
Yes, I want to

[2021-05-01 04:47] subhangi2731 commented on #224
please assign me

[2021-05-03 03:27] devesh-2002 opened #379 "Circular Linked List"
Hi, I am Devesh. I am a GSSOC'21 Participant and this is my first issue.
I would like to work on the Creation and Display of a Circular Linked List.
Please assign me this issue.

[2021-05-06 15:03] Smit-create commented on #377
Hi @kratimitra ,
Can you show some rough idea of how the class structure will look and what methods will you use in it?

[2021-05-06 15:37] U-c0de commented on #378
Please assign this to me @czgdp1807

[2021-05-06 17:36] Aparna-Sakshi opened #381 "Polygon Triangulation"
#### Description of the problem
Polygon Triangulation :
- Triangulating a polygon means partitioning it into triangles. Triangulating a polygon is an important pre-processing step for many algorithms.
- The polygon is given as an n X 2 array of coordinates of its vertices in clockwise cyclic order.
- The algorithm does the triangulation in O(n^2) by the method of clipping the ear and updating the

[2021-05-07 04:18] U-c0de commented on #378
@Smit-create @czgdp1807
Please assign me this I am a GSSOC participant

[2021-05-07 04:26] #378 closed

[2021-05-07 04:34] U-c0de commented on #378
@czgdp1807  Why you closed this issue

[2021-05-07 07:26] U-c0de opened #382 "Rotation Count in Sorted array"
#### Description of the problem
In an given sorted array we will have to find the number of count of rotation after which we have got this array. Here, we take into observation the element I which is greater than the element i+1.after we get this element we calculate the number of rotation that might have occurred .

#### Example of the problem
Input : array[] = {15, 18, 2, 3, 6, 12}
Output: 2
Exp

[2021-05-08 11:46] U-c0de opened #383 "Time Conversion"
#### Description of the problem
Converting given time from 12-hour to 24- hour system

#### Example of the problem
Input : 07:05:45PM
Output : 19:05:45
Assign me this @czgdp1807 @Smit-create

[2021-05-09 10:31] anirudhsai20 opened #384 "Implementation of Exponential and Interpolation search algorithms"
The code for Implementation of Exponential and Interpolation search algorithms in Python can be added.

[2021-05-09 10:31] anirudhsai20 commented on #384
Hi! Please assign this issue to me under GSSOC.

[2021-05-10 07:09] subhangi2731 commented on #277
please assign me issue

[2021-05-10 07:51] Srishti013 opened #385 "Painting fence Algorithm"
#### Description of the problem
Given a fence with n posts and k colors, find out the number of ways of painting the fence such that at most 2 adjacent posts have the same color. It is a dynamic programming problem.

[2021-05-10 14:26] Srishti013 opened #386 "Tower of Hanoi"
The tower of Hanoi is a famous puzzle where we have three rods and N disks. The objective of the puzzle is to move the entire stack to another rod. You are given the number of discs N. Initially, these discs are in the rod 1. You need to print all the steps of discs movement so that all the discs reach the 3rd rod. Also, you need to find the total moves.

It is an important recursion problem and I

[2021-05-10 14:58] AmarKamalapuri opened #387 "Trie Data Structure"
I want to add Trie Data Structure in python in Data Structure Directory.

I am a GSSOC participant. Can u please assign this issue to me?
@Harsheet-saxena @pristineVedansh @manaswinidas @seshasaisuhashdesu @din1881

[2021-05-10 18:04] kratimitra commented on #377
![class (1)](https://user-images.githubusercontent.com/65777327/117703175-13a3dd80-b1e7-11eb-86c1-3409a0b5a8e8.png)

Fenwick-Tree is an advanced data structure, basically used to store cumulative frequencies
Fenwick Tree is represented by an array.
Methods that we will be performing using this DS:
a) update(index , add) : To update the fenwick tree basically adding a value 'add' to the index and k

[2021-05-10 18:20] sHiVaNgI821 commented on #343
I would like to work on the sparse table class which would be a part of miscellaneous data structures, as part of my contribution for GSSoC'21

[2021-05-12 05:54] ainy-123 commented on #326
I am GSSoC'21 participant and I want to contribute to this issue.
So,I am working on this as PR has the tag of "please take over".

[2021-05-15 04:08] Smit-create commented on #377
Yes, this looks fine. You can raise a PR for that

[2021-05-15 04:09] Smit-create commented on #387
Already present: https://github.com/codezonediitj/pydatastructs/blob/master/pydatastructs/strings/trie.py

[2021-05-15 04:09] #387 closed

[2021-05-15 04:10] Smit-create commented on #383
Already python have many such libraries doing this

[2021-05-15 04:10] #383 closed

[2021-05-15 04:12] Smit-create commented on #375
Why to add this if Binary search is faster than this?

[2021-05-15 04:12] #375 closed

[2021-05-15 04:12] #357 closed

[2021-05-15 04:14] Smit-create commented on #386
Hi @Srishti013,
This is a very specific problem. We try to add generalized DS, or algorithm. Please look at : https://github.com/codezonediitj/pydatastructs/issues/343 for more ideas.

[2021-05-15 04:14] #386 closed

[2021-05-15 04:15] Smit-create commented on #385
https://github.com/codezonediitj/pydatastructs/issues/386#issuecomment-841596873

[2021-05-15 04:15] #385 closed

[2021-05-17 02:27] czgdp1807 commented on #377
Note that, we need a n-dimensional Fenwick tree instead of a special case 1D or 2D. You can take ideas from https://cp-algorithms.com/data_structures/fenwick.html#toc-tgt-6 and extend it for n-D. Though if you are not comfortable with generalizing the idea, feel free to email me, I will schedule a meeting for discussion (though do it only if you are very much interested in pursuing this issue). Th

[2021-05-17 12:48] #382 closed

[2021-05-17 12:52] Smit-create commented on #379
Already there: https://github.com/codezonediitj/pydatastructs/blob/master/pydatastructs/linear_data_structures/linked_lists.py

[2021-05-17 12:52] #379 closed

[2021-05-17 13:53] U-c0de opened #389 "Burrows Wheeler transform Algorithm"
#### Description of the problem
Description ->
Implement and add Burrows Wheeler transform algorithm in Python
Burrows Wheeler Transform(BWT): BWT is a string compression algorithm
that can be used to simply encrypt strings just by cyclic operations.
It is used in zip format files, Linux, Internet Protocols to even research.

#### Example of the problem
Input: text = “banana$”
Output: Burrows- Whe

[2021-05-17 13:53] U-c0de commented on #389
Assign me this @czgdp1807

[2021-05-17 16:31] Muskan0 opened #390 "Add `multiset` to `pydatastructs.miscellaneous_data_structures`"
#### Description of the problem

https://github.com/codezonediitj/pydatastructs/issues/390#issuecomment-986180523

#### References

[2021-05-17 22:36] sHiVaNgI821 commented on #343
I would like to work on lowest_common_ancestor (LCA for DAG/Tree) function which would be a part of the algorithms.py file in the graphs directory, as part of my contribution for GSSoC'21.
The function definition goes like:
[code]

[2021-05-18 14:19] #381 closed

[2021-05-18 14:20] #389 closed

[2021-05-18 15:49] U-c0de opened #392 "Double Ended Queue"
#### Description of the problem
Complete Implementation of Double Ended Queue until the programmer wants to stop .

[2021-05-18 15:49] U-c0de commented on #392
Please Assign @czgdp1807

[2021-05-18 15:51] U-c0de opened #393 "Decagonal Number"
#### Description of the problem
A decagonal number is a figurate number that extends the concept of triangular and square numbers to the decagon (a ten-sided polygon).

#### Example of the problem
The n-th decagonal number is given by the formula D(n)=4n2-3n; The first few decagonal numbers are: 0, 1, 10, 27, 52

Assign me @czgdp1807

[2021-05-18 15:57] U-c0de opened #394 "Dijkstra's shortest path algorithm"
I want to add Dijkstra's shortest path algorithms for graphs. This is a very useful and popular algorithm to find the shortest distance between two nodes of a graph. Please assign this to me. I am a GSSOC 21 participant.

@czgdp1807  Please assign me this

[2021-05-21 12:02] Komal-99 commented on #390
I would like to work kn this issue kindly assign it to  me .I am gssoc'21 participant

[2021-05-22 06:13] #394 closed

[2021-05-22 06:13] #393 closed

[2021-05-22 06:14] #392 closed

[2021-05-22 06:16] Smit-create commented on #390
Can we create a `multiset` using this? I would prefer having the implementation which is available in CPP where Insert, deletion, and count works in O(logN)?

[2021-05-22 06:17] #384 closed

[2021-05-22 06:18] #353 closed

[2021-05-22 07:15] U-c0de opened #395 "Tarjan's Algorithm"
#### Description of the problem
Tarjan's strongly connected components algorithm is an algorithm in graph theory for finding the strongly connected components (SCCs) of a directed graph.

#### Example of the problem
Input:
Adjacency matrix of the graph.
0 0 1 1 0
1 0 0 0 0
0 1 0 0 0
0 0 0 0 1
0 0 0 0 0

Output:
The strongly connected components:
4
3
1 2 0

[2021-05-22 07:17] U-c0de commented on #395
@czgdp1807  Assign this to me

[2021-05-22 08:46] U-c0de opened #396 "Wave Sort"
#### Description of the problem
If there are multiple sorted orders in wave form, return the one which is lexicographically smallest. The array may contain duplicates.

#### Example of the problem
Input:  arr[] = {2, 4, 6, 8, 10, 20}
 Output: arr[] = {4, 2, 8, 6, 20, 10} OR
                 any other array that is in wave form

@czgdp1807 Assign me this issue

[2021-05-22 08:48] U-c0de opened #397 "Wiggle Sort"
#### Description of the problem
 This program accepts an array of unsorted numbers and
 sorts the array such that  arr[0]<arr[1]>arr[2]<arr[3]...

#### Example of the problem
Input:  arr[] = {2, 4, 6, 8, 10, 20}
 Output: arr[] = {4, 2, 8, 6, 20, 10} OR
                 any other array that is in wave form

@czgdp1807 Assign me this issue

[2021-05-22 11:50] Muskan0 commented on #390
@Smit-create Can I do it in Python?

[2021-05-23 03:39] #397 closed

[2021-05-23 03:39] Smit-create commented on #396
This is not useful. Look at #343

[2021-05-23 03:39] #396 closed

[2021-05-23 03:40] #395 closed

[2021-05-23 10:10] Amulya310 commented on #390
Please assign this issue to me under Gssoc'21.

[2021-05-23 16:59] sjathin opened #400 "Knuth–Morris–Pratt(KMP) algorithm"
#### Description of the problem
Implement a string matching algorithm - Knuth–Morris–Pratt

#### Example of the problem
##### Input
1. string = "njfsonqwertylksmfds"
2. subString = "qwerty"

##### Output
True

#### References/Other comments
This is the first string matching algorithm in the project, it would be good to have a design that allows to have multiple string matching algorithms.

#### Re

[2021-05-23 17:21] czgdp1807 commented on #400
Thanks for opening the issue. I think the API can be as simple as, `find_string(text, pattern, algorithm='kmp')`. Then on the basis of the algorithm passed we can decide which non-public function to call to obtain the result. For this you can also see shortest path algorithms in `graphs/algorithms.py`. Let me know your thoughts.

[2021-05-23 17:26] sjathin opened #401 "Comparing Data Structures"
#### Description of the problem
Feature Request: As there are multiple data structures available to solve a particular problem, this feature allows one to choose the most optimized data structure for a particular problem.

#### Example of the problem
##### Array vs Stack
1. Access: O(1) vs O(N)
2. Insertion: O(N) vs O(1)

#### References/Other comments
The example given here is very generic and ba

[2021-05-23 17:29] sjathin commented on #401
It would to good to discuss, how to show this comparison? A document? And all the metrics that can be used to compare data structures.

Some initial metrics (CRUD):
1. Access
2. Search
3. Insert/delete

[2021-05-23 19:30] amonikag commented on #400
I would like to work on this issue. I'm a GSSoC participant, please assign this to me.

[2021-05-23 19:41] amonikag opened #402 "Rabin Karp Algorithm"
Under string section I want to add Rabin Karp Algorithm

It is a string matching algorithm which hashes the string value and if hash value matches then compares.

References:
https://en.wikipedia.org/wiki/Rabin%E2%80%93Karp_algorithm

[2021-05-23 21:17] czgdp1807 commented on #400
Hi @amonikag this is not a GSSoC issue. Please pick some other issue. @sjathin will be working on this. Thanks.

[2021-05-24 02:49] czgdp1807 commented on #401
I was wondering if we can compare the common methods of two data structures or algorithms. Technically, what I mean is that comparing two APIs which perform the same function. Say, for example if we want to compare two trees, AVL Tree and Red Black Tree, then there are two classes in `pydatastructs` for these and we can check the timings and space requirements of these two trees using the proposed

[2021-05-27 20:46] sjathin commented on #401
Yes that's very accurate. I do have few more points that we can talk about:
1. Comparing different data structure types for instance - ```pydatastructs.compare(AVLTree, LinkedList)``` - here as well there are common methods that can be compared, for instance given a set of numbers, what's the time/space to create a tree /list.
2. I really think we can start with a document/wiki page, so that we ca

[2021-05-28 02:49] czgdp1807 commented on #401
Agreed. In fact that would help in making the APIs consistent.

We can discuss and document the design here in this thread. We can edit the original post with the final design.

Yes. We can show that in JSON format for each data structure. For two arguments the comparison would be more detailed (ratios, which one is how much percent better than the other, etc.) and for multiple ones, we can just s

[2021-10-07 12:21] czgdp1807 opened #404 "Previous/Next Permutation"
#### Description of the problem

We should add previous and next permutation algorithm to `pydatastructs`. A good place to add it will be `miscellaneous_data_structures.algorithm`.

#### Example of the problem

Following is the interface of the above algorithm in my mind,

[code]

[code]

#### References/Other comments

[1] http://www.cplusplus.com/reference/algorithm/next_permutation/
[2] http://

[2021-10-09 16:54] pratikgl opened #406 "Add difference b/w ODA and DODA"
#### Description of the problem
The difference b/w OneDImensionalArray (ODA) and DynamicOneDimensionalArray (DODA) is not very clear. It isn't easy to use and differentiate b/w these arrays, especially for newcomers

I think simply adding a line stating the difference between ODA and DODA here will be enough. https://github.com/codezonediitj/pydatastructs/blob/0edbadaf3b2b27c9fbdfd1e5e8c430fd8388f

[2021-10-09 17:08] czgdp1807 commented on #406
Thanks. Please feel free to make a PR on this.

[2021-10-09 17:15] pratikgl commented on #406
Great. Working on it.

[2021-10-10 07:41] pratikgl opened #407 "API correction in ``longest_increasing_subsequence`` function"
#### Description of the problem

In the longest_increasing_subsequence function the output is a list instead of a OneDimensionalArray
`(function) longest_increasing_subsequence: (array) -> list`
https://github.com/codezonediitj/pydatastructs/blob/0edbadaf3b2b27c9fbdfd1e5e8c430fd8388f126/pydatastructs/linear_data_structures/algorithms.py#L983

[code]
I can work on it and will open a PR.

[2021-10-10 11:42] #404 closed

[2021-10-10 11:49] czgdp1807 opened #409 "Documentation v/s Code inconsistencies in ``lower_bound``, ``upper_bound``"
There are a couple of documentation v/s code inconsistencies in `lower_bound`, `upper_bound` as well (for `end`, and `comp` variables). They should also be fixed.

_Originally posted by @czgdp1807 in https://github.com/codezonediitj/pydatastructs/issues/407#issuecomment-939468026_

[2021-10-11 10:14] #407 closed, assigned to nobody

[2021-10-25 11:20] czgdp1807 opened #421 "Add salient features in the main page of website"
#### Description of the problem

We should provide compelling reasons in the documentation so that people are tempted to use our project.

#### Example of the problem

#### References/Other comments

I will work on this.

[2021-10-25 11:22] czgdp1807 opened #422 "Make `start`, `end` consistent across all the APIs"
#### Description of the problem

In `RangeQuery` `end` is excluded however in sorting algorithms it is included which is inconsistent.

#### Example of the problem

#### References/Other comments

I will work on this.

https://github.com/codezonediitj/pydatastructs/issues/409

[2021-10-26 06:41] czgdp1807 opened #423 "Add note in Graph doc string for clarifying adding nodes and edges"
#### Description of the problem

The correct way to create a graph is to first create nodes of the right type (`AdjacencyListGraphNode` or `AdjacencyListMatrixNode`) and then add these nodes to the graph. Once done, add edges between these nodes.

1. A note should be added in the class doc string for the above process.
2. In the doc string of `add_edge` it should be clarified that this function wi

[2021-10-31 10:37] #423 closed

[2021-10-31 10:37] #406 closed

[2021-10-31 10:55] #409 closed

[2021-10-31 10:55] #422 closed

[2021-10-31 18:03] czgdp1807 opened #427 "Release Checklist for 0.0.1-beta"
#### Description of the problem

Following things are to be completed for releasing 0.0.1-beta of PyDataStructs,

- [ ] Update version number everywhere.
- [ ] Update `index.rst` (installation command)
- [ ] Update `README.md` (installation command)

#### Example of the problem

#### References/Other comments

[2021-11-15 18:03] czgdp1807 opened #431 "Using hypothesis like tooling for testing"
#### Description of the problem

I recently got to know about hypothesis. AFACIT, it's a tool which can help in generating test cases automatically. This helps in covering corner cases that we might forget. Because, it tries to find example that breaks the API. It feels like generative test cases that we have but better. I might be wrong though.

So, this issue aims at the following things,

- [ ]

[2021-11-19 13:55] czgdp1807 opened #432 "Implementing C++/Cython Backend for Python APIs"
#### Description of the problem

We are starting off with implementing different backends for our APIs. C++ will be the first one to be implemented. Next will be Cython. We are planning to include both in our next release. Though not all APIs will be covered till the next release. However having as much as possible will be great. Following is a list of questions and task that needs to be considere

[2021-11-19 14:01] czgdp1807 opened #433 "Add a `backend` option to all the APIs in PyDataStructs and default to `pydatastructs.Backend.Python`."
Other than the title - An error should be raised if any other input is provided for this parameter as of now. It's an easy to do ask.

[2021-11-19 14:05] czgdp1807 opened #434 "Implementing Cython backend for `pydatastructs.arrays`"
#### Description of the problem

Since these data structures are the mostly used by other APIs in `pydatastructs`, it makes sense to start implementing backend support for this module. Starting with Cython would be the easiest thing to do.

- [ ] Create a new `pyx` file for each, `OneDimensionalArray_Cython`, `DynamicOneDimensionalArray_Cython` and `MultiDimensionalArray_Cython` and port the Pytho

[2021-11-19 14:23] czgdp1807 commented on #432
Regarding unordered_map alternatives we should benchmark all the implementations and the decide. There is no well designed benchmark for this purpose AFAIK.

[2021-11-21 14:41] czgdp1807 opened #436 "Add pydatastructs.test function to run tests"
#### Description of the problem

The above function would make it easier for the user to verify the installation of PyDataStructs APIs.

#### Example of the problem

#### References/Other comments

[2021-11-21 14:44] #433 closed

[2021-11-21 15:25] czgdp1807 opened #438 "Alternatives to `unordered_map`, `unordered_set` - AFAIK, these are slow in STL of C++. We have found some alternatives - policy based data structures (https://codeforces.com/blog/entry/60737, SparseHash by Google, `abseil::flat_hash_map`, `boost::unordered_map` (https://comp.lang.cpp.moderated.narkive.com/VPUab6if/performance-difference-between-std-unordered-map-and), https://codeforces.com/blog/entry/62393 - implementing our own hash map."

[2021-11-21 15:30] czgdp1807 commented on #438
@jthorat10 After completing bubble sort and insertion sort, feel free to start working on this.

[2021-11-21 17:54] jthorat10 commented on #438
Sure.

[2021-11-22 17:10] czgdp1807 commented on #438
The benchmark in https://tessil.github.io/2016/08/29/benchmark-hopscotch-map.html can be a good source of inspiration for designing ours to analyse the approaches mentioned in the OP.

[2021-11-24 17:18] ShubhamNagure commented on #436
I'd like to work on it

[2021-11-24 17:25] czgdp1807 commented on #436
Sure. Go ahead.

[2021-11-26 04:57] ShubhamNagure commented on #436
Can you please assign this to me?

[2021-11-26 07:12] czgdp1807 commented on #436
Hey @ShubhamNagure. We don't assign issues. You can read our issue policy, https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy

[2021-11-27 19:55] czgdp1807 opened #439 "Update build badge in README from Github actions"
#### Description of the problem

As of now the build badge fetches build status from Travis CI. Since, we have moved to Github actions so we need to fetch the latest build status from there and then show in README. Basically, Travis URLs in README should be updated with Github actions ones.

#### Example of the problem

#### References/Other comments

See, [![Build Status...]] in https://raw.githu

[2021-11-27 20:02] czgdp1807 opened #440 "Add discord badge in README"
#### Description of the problem

The title is sufficient.

#### Example of the problem

#### References/Other comments

[2021-11-28 10:51] #439 closed

[2021-11-28 10:51] #440 closed

[2021-11-29 15:24] pratikgl commented on #434
Can I work on it?

[2021-11-29 16:25] czgdp1807 commented on #434
Sure. Go ahead.

[2021-12-01 08:18] czgdp1807 commented on #257
This issue is more relevant now since we are starting to implement C++ backend for our APIs. See, #432

I agree.

[2021-12-01 09:54] czgdp1807 opened #444 "Versioning Tool/Script"
#### Description of the problem

We need a tool/script that can update version number everywhere in the project by executing a single command. Following are the constraints,

1. We decide the version numbers manually.
2. We want to update to a new version number by executing a single command.
3. The way to do it should be simple - Say, `some-tool 1.0.1-dev 1.0.1-alpha`.

#### Example of the proble

[2021-12-02 14:17] czgdp1807 opened #445 "Adding analysis of string matching APIs using Urban dictionary"
#### Description of the problem

As in the tutorial description [here](https://pydatastructs.readthedocs.io/en/latest/tutorials.html), we say, "we plan to add some more examples showing usage of pydatastructs on real world data sets such as Stanford Large Network Dataset Collection and Urban Dictionary Words And Definitions". So, this issue is for completing the task of adding a jupyter notebook s

[2021-12-03 23:01] soma2000-lang commented on #445
@czgdp1807  Can I work on this issue??

[2021-12-04 08:05] EmperorArthurIX opened #446 "To incorporate Searching Algorithms for Linear Data Structures"
#### Description of the problem
The codebase is very extensive and well-designed; however, it does not seem to include searching algorithms for linear data structures as far as I could observe. I believe addition of searching algorithms would be a good improvement to the project. Certain algorithms I have thought can be included are:

The above mentioned declarations are suggested, where the param

[2021-12-04 15:24] HarsheetKakar commented on #446
With binary search and jump search in mind we can also have a `SortedOneDimentionalArray` as data structure which would take `OneDimentionalArray` as input and would dynamically choose the sorting algorithm based on how far the array is already sorted which would come from its [Hamming Distance](http://www.cse.psu.edu/~sxr48/pubs/TestingSortednessEncyclopedia.pdf) (wheather it would be `insertionS

[2021-12-04 15:55] Korra15 opened #447 "To incorporate simple informed and uninformed algorithms"
#### Description of the problem
Python provides us with an amazing and easy way to implement informed and uninformed search algorithms. These algorithms help programmers to easily help their agent find it's goal in the best way possible. I feel that these algorithms should be included along with the others.

Could you please assign this to me under SWOC 32.0

[2021-12-04 16:18] czgdp1807 commented on #447
Hi @Korra15 . The idea seems interesting. Could you please provide references (like research papers, blog posts, university lecture notes) so that we can discuss more?

[2021-12-04 16:20] czgdp1807 commented on #446
Interesting idea. I think the idea of `SortedOneDimensionalArray` should be discusses in a separate issue. Is there any prior work (like Wikipedia article, papers, or lecture notes available online) which can provide clarity and examples?

[2021-12-04 18:27] HarsheetKakar commented on #446
I have moved the conversation to Gitter once we reach a consensus I will create a separate issue.

[2021-12-04 18:29] czgdp1807 commented on #446
It's inactive. Folks use Discord these days a lot. Github issue would be the best place to discuss as it is accessible by anyone in the open source community.

[2021-12-04 18:31] czgdp1807 commented on #446
And may be we should provide a function that should take an array as input and suggest one of the pydatastructs APIs as output. The time complexity should be O(n) because anything more won't be worth it. The constant in O(n) should also be very small (we can benchmark for that).

[2021-12-04 18:39] HarsheetKakar opened #448 "Creation of SortedOneDimentionalArray Datastructure"
```And may be we should provide a function that should take an array as input and suggest one of the pydatastructs APIs as output. The time complexity should be O(n) because anything more won't be worth it. The constant in O(n) should also be very small (we can benchmark for that).```

_Originally posted by @czgdp1807 in https://github.com/codezonediitj/pydatastructs/issues/446#issuecomment-986072

[2021-12-04 18:45] HarsheetKakar commented on #448
@czgdp1807 feel free to edit the discription. As far as the O(n) complexity we are talking about, is this for checking the "sortedness" or sorting the array. As for the latter we will need to put constraints on the nature of elements passed in the array (e.g. I dont think we will be able to promise O(n) in case of floating point numbers IMHO).

And as far as checking the sortedness of the array, I

[2021-12-04 18:48] czgdp1807 commented on #448
I am referring to the sortedness.On the basis of the sortedness, we should suggest the sorting algorithm from pydatastructs.

Is the any research work that already explores this?

[2021-12-05 05:57] HarsheetKakar commented on #448
Yes [Hamming Distance](http://www.cse.psu.edu/~sxr48/pubs/TestingSortednessEncyclopedia.pdf)

[2021-12-05 07:25] HarsheetKakar commented on #390
We do have `SelfBalancingBinaryTree` we just need to put pop method (which is basically show top and delete). Apply pop enough time and we have tree sort. My point being that we don't need to reinvent anything.

[2021-12-05 07:51] Korra15 commented on #447
Yeah sure @czgdp1807, following is the link of the pdf that explains mre about these algorithms.
[http://i-rep.emu.edu.tr:8080/jspui/bitstream/11129/4714/1/algasikhaled.pdf](url)

[2021-12-05 07:58] czgdp1807 commented on #447
I see. So, these are from artificial intelligence domain. Well, in general all the algorithms in paper are very well applicable on implicit graphs. More like, you know the current node and you also know a function to generate the neighbours of the current node. So, only these two pieces of information are used in these algorithms. Hence, I would recommend, first adding an implicit graph data struc

[2021-12-05 08:11] czgdp1807 commented on #448
In the paper in my above comment, section I.2 lists 10 measures of disorder for arrays. I feel that all these are worth adding into pydatastructs.

[2021-12-05 08:22] czgdp1807 commented on #446
I think that if a searching algorithm require input array to be sorted then it should assume that. Otherwise we won't be able to guarantee lower time complexities of algorithms like binary search, exponential search. The overhead of sorting an array is non-trivial, in-fact even checking whether an array is sorted or not will take o(n) time which is large as compared to O(logn) promised by binary s

[2021-12-05 09:37] Korra15 commented on #447
okay

[2021-12-05 09:42] czgdp1807 commented on #445
Sure go ahead.

[2021-12-05 10:51] czgdp1807 opened #449 "Creating an environment.yml file in the project root."
As the title says an environment.yml file for setting up conda environments will ease out the workflow for new contributors. As of now, they have to install test and docs requirements in separate command after separately creating the environment. With this yml file, everything will be done in a single command.

[2021-12-05 11:44] czgdp1807 commented on #447
We should add a new data structure, `ImplicitGraph`. (Read #224).

[2021-12-06 03:55] EmperorArthurIX commented on #446
Noted, will think of solutions from that perspective while planning and coding.

[2021-12-07 07:14] czgdp1807 opened #453 "Avoid codecov report uploads for all the tests in Github actions"
#### Description of the problem

I think uploading code coverage step should only be available for ubuntu-latest and python 3.8. For the rest only tests and documentation build should be run. As of now all the 12 tests send request to codecov leading to editing of the codecov comments several times. Basically we need to decouple the yml script to make this happen. See the edit history of https://g

[2021-12-07 08:30] czgdp1807 commented on #446
The input should not necessarily be an array. A function should work too. An array is conceptually also a function (of indices). See this https://en.wikipedia.org/wiki/Ternary_search for example. Allowing inputs as function would make API more practical.

[2021-12-07 15:56] skullVoid commented on #446
Shall I work on the linear and binary search?

[2021-12-07 20:21] czgdp1807 commented on #446
Sure go ahead.

[2021-12-08 04:46] Korra15 commented on #447
okay

[2021-12-09 08:25] czgdp1807 opened #457 "Add `ImplicitArray`"
#### Description of the problem

As of now in `OneDimensionalArray` and subclasses we store all the data explicitly in memory. `ImplicitArray` will just store a function object. This function object will return values for different indices. That way the memory requirement will be reduced to a constant. This will be useful for cases where search algorithms don't need an explicit array but a range a

[2021-12-09 09:12] RoyCoding8 commented on #446
May I work on this?

[2021-12-09 09:50] czgdp1807 commented on #446
@skullVoid has already opened a PR. Seems like he/she haven't linked it here yet.

[2021-12-09 13:41] HassanRahim26 commented on #457
Hey, @czgdp1807 I want to work on this issue. Can you please tell me ways to get started?

[2021-12-09 13:46] czgdp1807 commented on #457
Sure go ahead. Well it's about adding new classes (`ImplicitArray`, `OneDimensionalImplicitArray`) in `arrays.py` with same interface (methods in simpler terms) as `Array`, `OneDimensionalArray`. There is a lot of code in `arrays.py` which you can go through and follow the same pattern for adding implicit arrays.

[2021-12-09 14:11] HassanRahim26 commented on #457
So, do I've to create a new class like this:-

[code]

[2021-12-09 14:13] czgdp1807 commented on #457
Yeah exactly. In fact, the classes you have inherited seems about right.

[2021-12-09 14:17] HassanRahim26 commented on #457
Alright then. I'll work on this issue and I'll create a PR for this.

[2021-12-09 17:28] skullVoid commented on #390
Shall I work on this?

[2021-12-10 07:13] czgdp1807 commented on #390
We already have plenty of sorting algorithms. Having one more makes sense? Though I like the idea of `multiset`, it is a data structure worth adding.

[2021-12-12 13:42] #453 closed

[2021-12-14 18:51] Bhavesh0027 opened #463 "Boyer Moore Algorithm"
Implement a string matching algorithm - Boyer Moore

Example of the problem
Input:
      txt[] = "THIS IS A TEST TEXT"
      pat[] = "TEST"
Output:
     Pattern found at index 10

Reference #400

[2021-12-15 18:40] youknowqyh commented on #444
What does everywhere mean to be more specific? By command `grep 1.0.1-dev -r ./pydatastructs` I can see a lot of positions with `1.0.1-dev`. Do I need to change all these texts with `1.0.1-dev` to `1.0.1-alpha` for example?

[2021-12-15 18:50] czgdp1807 commented on #444
The above is just an example. We will be releasing 6 months later (at the earliest), so we need to decide upon a tool that can update the version number everywhere in one go.

[2021-12-15 18:52] czgdp1807 commented on #444
By everywhere I mean, where `1.0.1-dev` is present inside the project (README, code, documentation source) should be updated to say, `1.0.1-alpha` and so on.

[2021-12-15 18:57] youknowqyh commented on #444
Make sense. I'll work on it.

[2021-12-18 12:16] nidz27 commented on #421
I would like to work on this issue. Please assign it to me and tell me more about what should I do.

[2021-12-18 13:58] czgdp1807 commented on #421
I added it in #428. Probably #428 was merged in a branch other than `master`, so this issue wasn't closed automatically. Doing it now. Sorry for the confusion.

[2021-12-18 13:58] #421 closed

[2021-12-18 13:59] czgdp1807 commented on #421
@nidz27 Feel free to work on other issues. Just leave a comment on the issue you want to work on.

[2021-12-23 05:03] Aryan-Lohia opened #469 "Add AVL Tree"
**AVL tree is a self-balancing Binary Search Tree (BST)**
For example,
On the left is an unbalanced binary search tree.  And on the right is balanced AVL tree.
![buildBalancedBST](https://user-images.githubusercontent.com/66629629/147189968-c3877dff-4e25-42d8-89ce-22bfcc86847c.png)

_AVL trees increase speed when running algorithms by creating multiple branches instead of a single extending linear

[2021-12-23 05:04] Aryan-Lohia commented on #469
Hey, @czgdp1807 I want to work on this issue. Can you please assign it to me and tell me ways to get started?

[2021-12-23 05:11] #469 closed

[2021-12-27 16:51] czgdp1807 commented on #434
https://github.com/codezonediitj/pydatastructs/pull/450 is merged, so we have a pattern to build upon. Things should be easier now.

[2022-01-02 19:15] mandiraghosh783 opened #474 "Beautifying README.md using a few emojis"
Can I add few emojis to README.md so that it looks more beautiful? please assign it to me

[2022-01-07 18:53] dejokz opened #475 "multithreaded fibonacci series"
#### Description of the problem
implementation of multi-threaded Fibonacci series with a method fib_multi with takes the parameter n.

#### Example of the problem

4181

8

#### References/Other comments
CLRS: chapter 27: Multithreaded algorithms
Not sure under which file hierarchy should this python file come under? Perhaps a new directory can be created to facilitate multithreaded algorithms.

[2022-01-07 18:57] dejokz opened #476 "Multithreaded merge_sort"
Description of the problem
implementation of multi-threaded merge sort that takes the list as input, and returns the sorted list by using multithreaded merge sort. This is part of SWoC

Example of the problem
merge_sort_parallel([5,4,3,2,1], ascending = True))
1, 2, 3, 4, 5
merge_sort_parallel([2, 4, 6, 8], ascending = False)
8, 6, 4, 2

References/Other comments
CLRS: chapter 27: Multithreaded al

[2022-01-07 19:16] dejokz opened #477 "Network flow: fork Fulkerson algorithmn"
#### Description of the problem
Given a graph that represents a flow network where every edge has a capacity. Also given two vertices source ‘s’ and sink ‘t’ in the graph, find the maximum possible flow from s to t with the following constraints:
a) Flow on an edge doesn’t exceed the given capacity of the edge.
b) Incoming flow is equal to outgoing flow for every vertex except s and t.

#### Refer

[2022-01-07 19:23] dejokz opened #478 "Network flow: Edmon Karp algorithmn"
#### Description of the problem
Network flow problem as described [here](https://github.com/codezonediitj/pydatastructs/issues/477), but solving it with Edmon Karp's algorithmn

#### References/Other comments
[Video](https://youtu.be/RppuJYwlcI8)

[2022-01-08 14:05] czgdp1807 commented on #474
Well, feel free to open a PR with your changes.

[2022-01-08 14:11] czgdp1807 commented on #475
Can you explain how multithreading is helpful here? The fastest algorithm that I know of is O(log n) to generate (n + 1)-th and n-th Fibonacci numbers.

The more important question is what is the applicability of Fibonacci numbers? In which domain their efficient implementation is required to solve a non-trivial problem? Any references?

[2022-01-08 14:13] czgdp1807 commented on #476
Thanks but it's already there -

https://github.com/codezonediitj/pydatastructs/blob/97cb9fdd177f11b763c3f72ead11b4ba525ce4ed/pydatastructs/linear_data_structures/algorithms.py#L64

[2022-01-08 14:13] #476 closed

[2022-01-08 14:15] czgdp1807 commented on #477
Sure go ahead.

[2022-01-08 14:16] czgdp1807 commented on #478
Sure go ahead.

[2022-01-08 18:23] youknowqyh opened #479 "ImportError"
#### Description of the problem

When I run `import pydatastructs`, there will be an `ImportError`.

#### Example of the problem

![image](https://user-images.githubusercontent.com/59754711/148655340-7f9d3505-974d-4592-b548-b350df366173.png)

#### References/Other comments

[2022-01-08 18:44] czgdp1807 commented on #479
Please check the updated instructions on README.

[2022-01-08 18:48] youknowqyh commented on #479
Solved! Thx :-)

[2022-01-08 18:48] #479 closed

[2022-01-26 10:31] Rupesh-Darimisetti commented on #449
Refer #480 for the environment setup

[2022-01-30 10:19] #449 closed

[2022-02-22 11:55] Rajveer100 commented on #401
Hello, I have my own custom Order Statistic tree..which I had implemented in C++..so I can do the same in python..would like to contribute in making this data structure..
You can have a look in my templates repository...

[2022-02-22 11:58] Rajveer100 commented on #326
Hello, I would like to contribute to your project..since I have already made a C++(my custom made) Order Statistic tree...with fast times..so can also add interval trees..to it..for Python..
You can have a look in my templates section of my repository

[2022-02-22 12:13] Rajveer100 commented on #6
I can work on the issue..
I have so many templates..you can check in my GitHub..C++ -> Python I will do the implementation and conversion..

[2022-02-22 13:11] Rajveer100 commented on #438
Wanted to contribute on Order Statistics and various other custom templates which I have made in C++..in Python as well...
You can have a look at my GitHub repos..

[2022-02-23 07:04] czgdp1807 commented on #6
Sure. Please read the above comments before starting.

[2022-02-23 07:05] czgdp1807 commented on #326
Please feel free to work on this issue.

[2022-02-23 13:19] Rajveer100 commented on #6
Thank you..will keep you updated with the progress...and will ask if you if any doubts are there regarding the same..

[2022-02-23 13:21] Rajveer100 commented on #326
Thank you..will keep you updated with the progress...and will ask if you if any doubts are there regarding the same..

[2022-02-23 13:29] Rajveer100 commented on #6
For segment tree :

<Build Tree> followed by :

1: Range Query
2: Range Update(Lazy propagation)
3: Point Update

And common range functions like Sum, Min, Max, Gcd, etc..

Is there anything else I must add?
Or any other suggestions?

[2022-02-23 13:31] Rajveer100 commented on #326
For Interval Trees :

(Red Black Trees)

• Efficient implementation of various operations like Find by order, Rank, Insert, Delete, Find, Min, Max...
• All operations performed in O(log(n)) time and O(1) Self balancing time by Rotations.

Any other suggestions or additions needed to this?

[2022-02-28 15:11] abhi1e9-1e10 opened #484 "Reverse a Doubly Linked List"
####Description of the problem
All we need to do is swap prev and next pointers for all nodes, change prev of the head (or start) and change the head pointer in the end.

#### Example of the problem
Original linked list
10 8 4 2
The reversed Linked List is
2 4 8 10

[2022-03-01 01:42] dona-samir commented on #484
@abhi1e9-1e10 hi I am a GSSOC'22 participant , I would like to contribute in this issue

[2022-03-01 05:19] varsha080 commented on #446
Hey! I can solve the issue mentioned above. Please assign the work to me. I'll write the code of all searching algo with their complexity defined.

[2022-03-01 05:56] 22chiragmodh commented on #484
@abhi1e9-1e10  i want to claim for this issue.

[2022-03-01 06:05] Smriti123Shukla commented on #484
Good morning sir, I really want to contribute to this issue.

[2022-03-01 06:07] Smriti123Shukla commented on #390
Kindly assign this issue to me under Gssoc'22

[2022-03-01 07:27] aadityasinha-dotcom opened #485 "Add Stacks to the Linear Data Structures"
#### Description of the problem
Add Stacks in the linear data structure section

#### Example of the problem

#### References/Other comments

[2022-03-01 07:28] aadityasinha-dotcom commented on #485
Can I work on this issue as part of GSSOC'22?

[2022-03-01 12:40] Gaurika-Gupta opened #486 "A* Algorithm"
A* Algorithm in Python to find the shortest path between 2 nodes.

[2022-03-01 12:41] Gaurika-Gupta commented on #486
Please add GSSOC'22 label and assign me the Issue.

[2022-03-01 12:54] gargshruti commented on #484
I want to contribute for this issue.

[2022-03-01 13:21] Avik-creator commented on #485
Hello I would like to contribute to it by writing python code so if you could assign this to me I would be grate full as a part of GSSOC

[2022-03-01 14:24] Avik-creator commented on #484
Hey there everyone, Is this issue still open. I would like to contribute to it. So I would be really glad if you could assign this to me. I am GSSOC participant and my name is Avik Mukherjee.

[2022-03-01 15:54] GnanambhalSvRam commented on #463
Hello! Can you add me (Gnanambhal S) to this issue for GSSOC'22?

[2022-03-01 16:56] nikhil25803 opened #487 "Add missing Data Structures and Algorithm."
Hi, I am Nikhil Raj. I am using Python for the last few months and I want to contribute by adding the following Data Structures and Algorithm :
Arrays and Linked Lists
Tuples, Dictionaries, Sets, and Slicing
Python Lists
Binary Search Trees, Recursion
Sorting [algorithms] Divide and Conquer

Stacks and Queues
Hashing, Hash Tables, Graph Traversing
Dynamic Programming

[2022-03-01 16:57] nikhil25803 commented on #487
I am a GSSoC participant.
Please assign it to me.

[2022-03-01 19:55] kusumita29 commented on #376
I would like to work on it under GSSOC'22. Please assign this issue to me.

[2022-03-02 04:22] prateekmohanty63 opened #488 "CPP LINEAR DATA STRCUTURES"
Hi ,Prateek here
I see not all data structures have been implemented in cpp.

like stack,queue,linked lists are still not present.

Can you assign me the task of adding these linear data structure in cpp.

Please assign under GSSOC.

[2022-03-02 04:31] #488 closed

[2022-03-02 07:33] czgdp1807 commented on #446
@varsha080 Sure go ahead. We don't assign issues. Please read, https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy

[2022-03-02 07:34] czgdp1807 commented on #390
@Smriti123Shukla You can go ahead with adding `multiset`. We don't assign issues. Please read, https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy

[2022-03-02 07:37] czgdp1807 commented on #486
Idea is good. Could you please provide more details on how will you implement it? We don't assign issues. Please read, https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy

[2022-03-02 07:39] czgdp1807 commented on #463
@GnanambhalSvRam Please feel free to start working on this. We don't assign issues. Please read, https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy

[2022-03-02 07:40] #487 closed

[2022-03-02 07:42] czgdp1807 commented on #376
@kusumita29 Please feel free to start working on this issue. We don't assign issues. Please read, https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy

[2022-03-02 07:44] czgdp1807 commented on #6
@Rajveer100 Please feel free to open a PR. I will review there. Thanks.

[2022-03-02 08:02] nikhil25803 opened #489 "Add Dictionary file."
Dictionaries are very important in Python for Collections.
I would like to add it's file under GSSoC 2022.
Please assign it to me

[2022-03-02 08:05] nikhil25803 commented on #489
Hey @czgdp1807 , as issues are not assigned in this repo.
So can I make a pull request and link it with this issue?

[2022-03-02 09:15] Rajveer100 commented on #6
Yes I have already done the PR(483)..Thank you so much for your reply..

[2022-03-02 09:17] kusumita29 commented on #376
Thank you, Sir. I will start working on this issue.

[2022-03-02 13:03] svenkat19 opened #491 "Ford Fulkerson Algorithm"
#### Description of the problem

Implementing Ford Fulkerson Graph algorithm to find Maximum flow

#### Example of the problem

#### References/Other comments
https://www.youtube.com/watch?v=qCZCw_IKiJI

(GSSOC'22)

[2022-03-02 14:28] #491 closed

[2022-03-03 03:42] svenkat19 opened #493 "Implementing Gift Wrapping Algorithm"
#### Description of the problem

To find convex hull using gift wrapping algorithm

#### Example of the problem

#### References/Other comments
https://www.youtube.com/watch?v=ZnTiWcIznEQ&ab_channel=LeiosLabs

[2022-03-03 05:55] czgdp1807 commented on #493
What are the applications of convex hull algorithm? What will the API for finding convex hull? Any thoughts?

[2022-03-03 06:16] svenkat19 commented on #493
**APPLICATIONS OF CONVEX HULL**

Collision avoidance: If the convex hull of a car avoids collision with obstacles then so does the car. Since the computation of paths that avoid collision is much easier with a convex car, then it is often used to plan paths.
collision avoidance using convex hull

Smallest box: The smallest area rectangle that encloses a polygon has at least one side flush with the

[2022-03-03 08:18] ranimanya opened #494 "Minimum spanning tree algorithms"
Here I intend to add algorithms of graph data structure ( Minimum spanning trees ) namely - Prim's algorithm and Kruskal's algorithm in python language.

I'm Gssoc'22 participant. Please respond.

[2022-03-03 10:45] nitinrathodsvnit commented on #438
hello sir i`m new to open source i know c++ and data structure how can i contribute

[2022-03-03 19:51] AbhijitDutta338 commented on #377
Is the implementation of fenwick tree completed? If not, can I work on it?

[2022-03-04 03:31] sceary-expert commented on #445
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 03:33] sceary-expert commented on #438
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903 please please I want to work on a c++ project.

[2022-03-04 05:59] czgdp1807 commented on #445
@sceary-expert Feel free to start working on this issue.

[2022-03-04 06:01] czgdp1807 commented on #377
You can work on n-dimensional fenwick tree (a.k.a, BinaryIndexedTree). See, `pydatastructs/trees/binary_trees.py::BinaryIndexedTree` for 2-D fenwick tree.

[2022-03-04 06:02] czgdp1807 commented on #438
@sceary-expert Feel free to start working on this issue.

[2022-03-04 06:04] czgdp1807 commented on #493
N.B. https://en.wikipedia.org/wiki/Convex_hull#Applications

Now coming on to API of convex hull algorithm, how would the call to the function (which is will find convex hull) look like?

[2022-03-04 06:05] czgdp1807 commented on #494
Already there in `pydatastructs/graphs/algorithms.py`.

[2022-03-04 06:05] #494 closed

[2022-03-04 06:11] sceary-expert commented on #438
@czgdp1807 can you assign me for this issue?

[2022-03-04 06:22] czgdp1807 commented on #438
We don't assign issues. Care to read, https://github.com/codezonediitj/pydatastructs/wiki/Issue-Policy

[2022-03-04 07:30] svenkat19 commented on #493
Get the vertices of the convex hull in a List during function call.
Returns:
vertices of the convex hull in a list.

[2022-03-04 14:23] sceary-expert commented on #438
@czgdp1807 Can you tell me more about the the issue ?

[2022-03-04 14:38] czgdp1807 commented on #438
@sceary-expert There is sufficient information in the description of this PR. Do you have any specific questions?

[2022-03-05 03:54] shreelakshmijoshi commented on #486
Hey @czgdp1807, May I implement A* Search Algorithm between 2 nodes using Python? I'll try to implement this pseudocode https://mat.uab.cat/~alseda/MasterOpt/AStar-Algorithm.pdf

[2022-03-05 21:01] deekshhaa opened #496 "resources for data structures"
add resources for data structures in c++ or python

[2022-03-05 21:04] deekshhaa commented on #496
i created this issue, please assign it to me @czgdp1807

[2022-03-06 09:25] #496 closed

[2022-03-07 09:15] aishanii commented on #486
I would like to work on this issue @czgdp1807
- I will explain the algorithm first
- I will implement the algorithm in code and explain the output visually on the graph

[2022-03-08 23:16] maityamit opened #497 "docs: Add Issue Templates"
#### Description of the problem
Changes
Adding Issue templates
Template path  ``` .github/ISSUE_TEMPLATE ```

#### Example of the problem

**Template Types**

![156198784-b2e8d551-3df4-4aff-a7c7-051a88c344c0](https://user-images.githubusercontent.com/74618071/156574710-6e75dbde-7ee9-4cb7-9297-c516d5092eb8.png)
![156169861-53b91128-a1aa-4751-805e-affb8a4924a3](https://user-images.githubusercontent.

[2022-03-09 16:38] czgdp1807 commented on #497
Already there https://github.com/codezonediitj/pydatastructs/blob/master/ISSUE_TEMPLATE.md

[2022-03-09 16:38] #497 closed

[2022-03-14 16:15] Rajveer100 commented on #326
Hey there, before I start working on this, I wanted to tell you it will be based on the below Order Statistics I have made in C++ using Red-Black Tree, please check this:

[https://github.com/Rajveer100/My-Custom-Templates/blob/main/myOSTree.txt](url)

[2022-03-15 11:15] Shivani416 commented on #486
I would like to work on A* algorithm on graph, I have implemented it recently in python for my AIML curriculum.
@Gaurika-Gupta could you assign it to me?
I could also implement A* on 8 puzzle in python.

[2022-03-15 17:32] vinaya563 opened #499 "Stacks using lists"
There is no stack file in this data structures ,so I am willing to add a stack file

[2022-03-16 02:56] mohanadtalat91 opened #501 "Confirm a question"
Hello Sir,
Should I complete or finish any function or method that contains the following line at the end of each function ??
I see every function that contains the following line is empty and need to implement, so I need just a confirmation of my thoughts. Am I right or not ?

Thanks in advance Sir.

https://github.com/codezonediitj/pydatastructs/blob/8c91a6a89dd5806dcc6aaff8efa0fcc38ebd676b/pyda

[2022-03-16 03:15] #501 closed

[2022-03-16 03:17] czgdp1807 commented on #501
Abstract methods are not implemented anyways. The code in `master` branch is correct.

[2022-03-16 03:17] czgdp1807 commented on #499
Stacks are implemented in the project.

[2022-03-16 03:17] #499 closed

[2022-03-20 12:03] czgdp1807 commented on #427
N.B. https://github.com/codezonediitj/pydatastructs/pull/483#issuecomment-1073236368

[2022-04-01 14:01] rimsha-salahuddin opened #505 "Water Jug Problem using BFS"
#### Description of the problem

#### Example of the problem

#### References/Other comments

[2022-04-08 06:10] AkritiAgarwal09 commented on #505
Hi
please assign me this Issue

[2022-04-08 06:11] AkritiAgarwal09 commented on #474
Hi
please assign me this issue

[2022-04-12 14:48] #505 closed, assigned to nobody

[2022-04-15 09:25] Ranadheer-senani opened #506 "Boyer Moore Pattern matching issue #463"
Boyer Moore Algorithm
Added a string pattern matching algorithm into the Strings Algorithms module

References
https://www.geeksforgeeks.org/boyer-moore-algorithm-for-pattern-searching/

[2022-04-15 09:26] #506 closed

[2022-04-21 15:43] TG922 opened #508 "Adding A* Algorithm"
I will explain the algorithm first
I will implement the algorithm in code and explain the output visually on the graph

[2022-04-21 15:48] #508 closed

[2022-05-11 11:31] mohamedismail53 opened #510 "Adding Different Prime Algorithms"
#### Description of the problem
here I need to implement different prime algorithms the problem states that Given a number n, print all primes smaller than or equal to n. It is also given that n is a small number.

#### Example of the problem
if n = 10
then primes [2, 3, 5, 7]

#### References/Other comments
https://www.geeksforgeeks.org/c-cpp-program-to-find-prime-numbers-between-given-range/
htt

[2022-07-29 14:31] czgdp1807 opened #511 "Porting `stack.py` to C++ backend"
#### Description of the problem

We need to port `stack.py` code in Python to C++ code. We did this for arrays before,

1. Python code for arrays - https://github.com/codezonediitj/pydatastructs/blob/master/pydatastructs/linear_data_structures/arrays.py2. C++ code - https://github.com/codezonediitj/pydatastructs/tree/master/pydatastructs/linear_data_structures/_backend/cpp/arrays

You can follow a

[2022-07-29 14:35] nubol23 commented on #511
I want to work on this Issue

[2022-07-29 14:36] czgdp1807 commented on #511
Sure. @nubol23. Feel free to go ahead and start working on it. :-)